{{ partial "head" . }}
<div class="sub-heading">
    <nav class="sub-heading__nav">
        <ul class="sub-heading__nav-list">
            <li class="sub-heading__nav-item">
                <a href="#overview" class="sub-heading__nav-link">Overview</a>
            </li>
            <li class="sub-heading__nav-item">
                <a href="#features" class="sub-heading__nav-link">Features</a>
            </li>
            <li class="sub-heading__nav-item">
                <a href="#casestudies" class="sub-heading__nav-link">Case Studies</a>
            </li>
            <li class="sub-heading__nav-item">
                <a href="#pricing" class="sub-heading__nav-link">Pricing</a>
            </li>
        </ul>
    </nav>
</div>
<div class="landing">
    <div class="landing-banner">
        <style>
            .landing-banner {
                background: url({{ .Params.TopImage }}) center center no-repeat;
                background-size: cover;
            }
        </style>

        <!-- banner -->
        <div class="container">
            <section class="landing-banner__descr-wrap">
                <h1 class="landing-banner__main-title">
                    {{ .Params.MainTitle | markdownify }}
                </h1>

                <div class="landing-btn-wrap">
                    <a href="/request-a-demo" class="landing-btn landing-btn--signup" aria-label="button">request a demo</a>
                </div>
            </section>
        </div> <!-- ./banner -->
    </div>

    <section class="landing-preview" id="overview">
        <div class="container column-wrap column-wrap--overview">
            <div class="column-6 overview--left">
                <h3 class="landing-title">{{ .Params.VideoTitle }}</h3>
                <div class="landing-preview__text-content landing-text-content">
                    {{ .Params.VideoDescr | markdownify }}
                </div>
                <p class="landing-text-content landing-preview__text-content">
                </p>
                <div class="landing-btn-wrap landing-btn-wrap--landing-preview">
                    <a href="/request-a-demo" class="landing-btn landing-btn--landing-preview" aria-label="button">request a demo</a>
                </div>
            </div>
            <div class="column-6 overview--right">
                <div class="landing-preview__video-wrap">
                    <img src="/img/vimages/laptop.png" alt="">
                    <button class="landing-preview__video-link modal-btn" data-modal=".banner-modal" data-src={{.Params.PopupUrl}}>
                        <img src="/img/vimages/play-laptop.png" alt="#">
                    </button>
                </div>
            </div>
        </div>
    </section>
    
    <section class="landing-trusted">
        <!-- <div class="container"> -->
            <h3 class="landing-trusted__title">Trusted by:</h3>
            <ul class="landing-trusted__list">
                {{ range $el := .Params.trusted }}
                <li class="landing-trusted__item">
                    <img src="{{$el.logo}}" alt="jebg" class="landing-trusted__img">
                </li>
                {{end}}
            </ul>
        <!-- </div> -->
    </section>

    <section class="landing-features-reverse" id="features">
        <div class="container">
            <h3 class="landing-title landing-title--landing-features-reverse">{{ .Params.FeaturesTitle }}</h3>
            <div class="landing-features-reverse__item-wrap">
                {{ range $el := .Params.Features }}
                <article class="landing-features-reverse__item">
                    <figure class="landing-features-reverse__img-container column-wrap">
                        <span class="landing-features-reverse__img-wrap column-6">
                            <img src="{{ .featureImg }}" alt="">
                        </span>
                        <figcaption class="landing-features-reverse__img-descr-wrap column-6">
                            <h3 class="landing-features-reverse__img-title">{{ $el.title }}</h3>
                            <p class="landing-features-reverse__img-descr landing-text-content">{{ $el.descr }}</p>
                            <a href="{{ .linkPath }}" class="landing-features-reverse__link">{{ .linkDescr }}</a>
                        </figcaption>
                    </figure>
                </article>
                {{ end }}
            </div>
            <div class="landing-features-reverse__btn-wrap">
                <a href="#" class="landing-btn landing-btn--landing-preview" aria-label="button">request a demo</a>
            </div>
        </div>
    </section>
    

    <section class="landing-features">
        <div class="container">
            <h3 class="landing-title landing-title--features">
                {{ .Params.FeatureTitle }}
            </h3>

            <ul class="landing-features__list">
                {{ range $el := .Params.Feature }}
                <li class="landing-features__item">
                    <figure class="landing-features__img-container">
                        <span class="landing-features__img-wrap">
                            <img src="{{ $el.ico }}" alt="">
                        </span>
                        <figcaption class="landing-features__img-descr">
                            <h3 class="landings-features__img-title">{{ $el.title }}</h3>
                            <p class="landing-text-content">{{ $el.content }}</p>
                        </figcaption>
                    </figure>
                </li>
                {{ end }}
            </ul>
        </div>
    </section>

    <section class="landing-casestudy" id="casestudies">
        
        <div class="container">
            <h3 class="landing-title landing-title--landing-casestudy">Case study</h3>

            <ul class="landing-casestudy__list">
                {{ range $el := .Params.Case }}
                <li class="landing-casestudy__item">
                    <a href="{{ .caseLink }}" class="landing-casestudy__link">
                        <img src="{{ .caseIco }}" alt="">
                        <h3 class="landing-casestudy__title">{{ .caseDescr }}</h3>
                    </a>
                </li>
                {{ end }}
            </ul>
        </div>
    </section>

    <!-- landing-different -->
    <section class="landing-different">
        <div class="container">
            <h3 class="landing-title landing-title--landing-different">How Visyond is different</h3>
            <div class="column-wrap column-wrap--different">
                <div class="column-6 different--left">
                    {{  .Params.HowTo | markdownify }}
                </div>
                <div class="column-6 different--right">
                    <figure class="landing-different__img-container">
                        <span class="landing-different__img-wrap">
                            <img src="{{ .Params.HowToPhoto }}" alt="">
                        </span>
                        <figcaption class="landing-different__img-descr-wrap">
                            <p class="landing-different__img-descr">{{ .Params.howToAsked }}</p>
                            <address class="landing-different__img-address">{{ .Params.HowToCompany | markdownify}}</address>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="landing-different__btn-wrap">
                <a href="#" class="landing-btn landing-btn--landing-preview" aria-label="button">request a demo</a>
            </div>
        </div>
    </section> <!-- ./landing-different -->

    
   
    
    
    <section class="landing-challenge">
        <div class="container">
            <h3 class="landing-title landing-title--landing-challenge">{{ .Params.ChallengeTitle }}</h3>

            <ul class="landing-challenge__list">
                {{ range $el := .Params.Challenge }}
                <li class="landing-challenge__item">
                    <a href="{{ .caseLink }}" class="landing-challenge__link">
                        <span class="landing-challenge__icon">
                            <img src="{{ .caseIco }}" alt="">
                        </span>
                        <p class="landing-challenge__descr">{{ .caseDescr }}</p>
                    </a>
                </li>
                {{ end }}
            </ul>
        </div>
    </section>
    
    
    
    
    {{ if gt (len .Params.Featured) 0 }}
    <section class="landing-featured">
        <div class="container">
            <h3 class="landing-title landing-title--landing-featured">As featured in</h3>

            <ul class="landing-featured__list">
                {{ range $el := .Params.Featured }}
                <li class="landing-featured__item">
                    <img src="{{ $el.logo }}" alt="">
                </li>
                {{ end }}
            </ul>

            <ul class="landing-featured__list-comment">
                {{ range $el := .Params.Featured }}
                <li class="landing-featured__list-comment-item">
                    <p>
                       {{ $el.descr }}
                    </p>
                </li>
                {{ end }}
            </ul>
        </div>
    </section>
    {{ end }}
    

    <section class="pricing" id="pricing">
        <div class="container">
            <h3 class="landing-title landing-title--pricing">{{ .Params.PricingTitle }}</h3>
            <h4 class="pricing__subtitle">{{ .Params.FirstPricingSubTitle }}
                <p>{{ .Params.SecondPricingSubTitle }}</p>
            </h4>
            
            <ul class="pricing__list">
                <li class="pricing__item pricing__item--left">
                    <article class="pricing__card">
                        <div class="pricing__title-wrap">
                            <h3 class="pricing__title">{{ .Params.LeftCardTitle }}</h3>
                            <h4 class="pricing__card-subtitle">{{ .Params.LeftCardSubTitle }}</h4>
                        </div>
                        <ul>
                            {{ range $el := .Params.LeftCardPoint }}
                            <li>
                                {{ $el.line }}
                            </li>
                            {{ end }}
                        </ul>
                        <div class="landing-btn-wrap landing-btn-wrap--pricing">
                            <a href="/request-a-demo" class="landing-btn landing-btn--landing-preview" aria-label="button">quote</a>
                        </div>
                    </article>
                </li>
                <li class="pricing__item pricing__item--middle">
                    <article class="pricing__card">
                        <div class="pricing__title-wrap">
                            <h3 class="pricing__title">{{ .Params.MiddleCardTitle }}</h3>
                            <h4 class="pricing__card-subtitle">{{ .Params.MiddleCardSubTitle }}</h4>
                        </div>
                        <ul>
                            {{ range $el := .Params.MiddleCardPoint }}
                            <li>
                                {{ $el.line }}
                            </li>
                            {{ end }}
                        </ul>
                        <div class="landing-btn-wrap landing-btn-wrap--pricing">
                            <a href="/request-a-demo" class="landing-btn landing-btn--landing-preview" aria-label="button">quote</a>
                        </div>
                    </article>
                </li>
                <li class="pricing__item pricing__item--right">
                    <article class="pricing__card">
                        <div class="pricing__title-wrap">
                            <h3 class="pricing__title">{{ .Params.RightCardTitle }}</h3>
                            <h4 class="pricing__card-subtitle">{{ .Params.RightCardSubTitle }}</h4>
                        </div>
                        <ul>
                            {{ range $el := .Params.RightCardPoint }}
                            <li>
                                {{ $el.line }}
                            </li>
                            {{ end }}
                        </ul>
                        <div class="landing-btn-wrap landing-btn-wrap--pricing">
                            <a href="/request-a-demo" class="landing-btn landing-btn--landing-preview" aria-label="button">quote</a>
                        </div>
                    </article>
                </li>
            </ul>

            <div class="price__asked-wrap">
                <p class="price__asked-descr">
                    {{ .Params.PriceClientAsked }}
                </p>
                <address class="price__asked-company">{{ .Params.PriceClientCompany }}</address>
                <img src="{{ .Params.PriceClientCompanyLogo }}" alt="" class="price__asked-img">
            </div>
        </div>
    </section>
    

<div class="banner-modal">
    <div class="banner-modal__container">
        <button class="banner-modal__close">
            <i class="material-icons" aria-label="icon">close</i>
        </button>
    </div>
</div>
{{ partial "footer" . }}