{{ partial "head" . }}
{{ partial "header" . }}
<div class="sub-heading">
    <nav class="sub-heading__nav">
        <ul class="sub-heading__nav-list">
            <li class="sub-heading__nav-item">
                <a href="#" class="sub-heading__nav-link">Overview</a>
            </li>
            <li class="sub-heading__nav-item">
                <a href="#" class="sub-heading__nav-link">Features</a>
            </li>
        </ul>
    </nav>
</div>
<div class="landing">
    <div class="landing-banner">
        <style>
            .landing-banner {
                background: url({{ .Params.TopImage }}) center center no-repeat;
                background-size: cover;
            }
        </style>

        <!-- banner -->
        <div class="container">
            <section class="landing-banner__descr-wrap">
                <h1 class="landing-banner__main-title">
                    {{ .Title }}
                </h1>
                <p class="landing-banner__descr">
                    {{ .Params.Descr }}
                </p>

                <div class="landing-btn-wrap">
                    <a href="/signup/" class="landing-btn landing-btn--signup" aria-label="button">sign up</a>
                    <button class="landing-btn landing-btn--watch modal-btn" data-modal=".banner-modal">watch video</button>
                </div>
            </section>
        </div> <!-- ./banner -->

        <!-- functions -->
        <div class="functions">
            <div class="container">
                <ul class="functions__list">
                    {{ range $element := .Params.Func }}
                    <li class="functions__item">
                        <figure class="functions__img-container">
                            <span class="function__img-wrap">
                                <img src={{ $element.icon }} alt="#" class="functions__img">
                            </span>
                            <figcaption class="functions__img-descr">
                                {{ $element.content }}
                            </figcaption>
                        </figure>
                    </li>    
                    {{ end }}                             
                </ul>
            </div>
        </div> <!-- ./functions -->
    </div>

    <!-- features -->
    <div class="features">
        <div class="container">
            <ul class="features__list">
                {{ range $element := .Params.Feature }}
                <li class="features__item">
                    <figure class="feature__img-container">
                        <span class="feature__img-wrap">
                            <img src={{ $element.ico }} alt="lorem">
                        </span>
                        <figcaption class="feature__descr-wrap">
                            <h3 class="feature__img-title">{{ $element.title }}</h3>
                            <p class="feature__img-descr">{{ $element.content }}</p>
                        </figcaption>
                    </figure>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>  <!-- ./features -->
    
    <!-- testimonials -->
    <div class="testimonials">
        <div class="container testimonials--container">

            <!-- company -->
            <div class="testimonials__company-wrap">
                <ul class="testimonials__company-list">
                    {{ range $element := .Params.Company }}
                    <li class="testimonials__company-item">
                        <img src={{ $element.logo }} alt="" class="testimonials__company-img">
                    </li>
                    {{ end }}
                </ul>
            </div> <!-- ./company -->

            <!-- testimonials__slider-wrap -->
            <div class="testimonials__slider-wrap">
                <h3 class="testimonials__title">Testimonials</h3>
                <ul class="testimonials__slider-list">
                    {{ range $element := .Params.TestiSlider }}
                    <li class="testimonials__slider-item">
                        <p class="testimonials__slider-client-asked">
                            {{$element.ask}}
                        </p>

                        <figure class="testimonials__slider-client-img-container">
                            <span class="testimonials__slider-client-img-wrap">
                                <img src={{ $element.photo }} alt="client">
                            </span>
                            <figcaption class="testimonials__slider-client-name">
                                <span>{{ $element.name }}</span>
                            </figcaption>
                        </figure>
                    </li>
                    {{ end }}
                </ul>
            </div> <!-- ./testimonials__slider-wrap -->

        </div>
    </div> <!-- ./testimonials -->

    <section class="tour">
        <div class="container">
            <h3 class="tour__main-title">Product tour</h3>
            
            <!-- tour__slider-button-list -->
            <ul class="tour__slider-button-list">
                {{ range $element := .Params.Tour }}
                <li class="tour__slider-button-item">
                    <button class="tour__slider-button">{{ $element.btn }}</button>
                </li>
                {{ end }}
            </ul> <!-- ./tour__slider-button-list -->
        </div>

        <div class="tour__slider-wrap">
            <ul class="tour__slider-list">
                {{ range $element := .Params.Tour }}
                <li class="tour__slider-item">
                    <div class="container">
                        <p class="tour__slider-descr">
                            {{$element.descr}}
                        </p>
                        <figure class="tour__slider-img-container">
                            <span class="tour__slider-img-wrap">
                                <img src={{$element.img}} alt="" class="tour__slider-img">
                            </span>
                        </figure>
                    </div>
                </li>
                {{ end }}
            </ul>
        </div>
    </section>
    <div class="errors">
        <style>
            .errors {
                background: url({{ .Params.BottomBg }}) center center no-repeat;
                background-size: cover;
            }
        </style>
        <div class="container">
            <h3 class="errors__title">{{ .Params.bottomTitle }}</h3>
            <p class="errors__desc">
                {{ .Params.bottomSubTitle }}
            </p>
            <a href="/signup" class="header-user__link--sign-up sign-up--errors">sign up</a>
        </div>
    </div>
</div>
<div class="banner-modal">
    <div class="banner-modal__container">
        <button class="banner-modal__close">
            <i class="material-icons" aria-label="icon">close</i>
        </button>
        <iframe width="100%" height="500" src={{.Params.PopupUrl}} frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
</div>
{{ partial "footer" . }}