
<!-- from homepage - slick carousel prototype-->

	<!-- USE-CASES-->
	<section class="homeBenefits">
		<div class="container">
            <h2 class="enterV__headline useCaseSectionsHeader">{{ .Params.useCasesHeader | markdownify }}</h2>
            <!-- <div class="header-section--divider"></div> -->
        </div>
   


        <!-- LIST OF USE-CASE SECTIONS -->
        {{ range $el := .Params.useCaseSection }}
        
            <div class="container container--useCase">                
                <div class="carousel-wrap">
                    <h2 class="useCase__title"> {{ .useCaseSectionTitle | markdownify }}</h2>

                    <div class="carouselBlock js-useCases__list">
                    <!-- LIST OF USE-CASE BLOCKS -->
                    {{ range $list := .useCaseSectionContent }}   
                        {{ if (eq .isVisible true)}}
                            <a 
                            {{ if .useCaseURL }}
                            href="{{ .useCaseURL }}"
                            {{ end }} 
                            class="carouselSlide {{ if not (isset . "useCaseURL") }} carouselSlide--disabled {{ end }}"> 
                                <img src="{{ .useCaseImage }}" alt="{{ .useCaseTitle }}" class="carouselSlide__img">
                                
                                <div class="carouselSlide__title">{{ .useCaseTitle }}</div>
                                <div class="carouselSlide_description"> {{ .useCaseDescription | markdownify }}</div>

                                
                                <div class="btn-wrap">
                                    {{ if .useCaseURL }}
                                    <div href="{{ .useCaseURL }}" target="_blank" class="button button-primary__slider">
                                        <i class="material-icons">keyboard_arrow_right</i>
                                    </div>
                                    {{ else }}
                                    <div class="button button-primary__slider button-disabled">
                                        <i class="material-icons">keyboard_arrow_right</i>
                                    </div>
                                    {{ end }}
                                </div>
                            </a>
                        {{ end }}
                    {{ end }}
                    <!-- LIST OF USE-CASE SECTION BLOCKS -->
                    </div>
                </div>
            </div>
        {{ end }}
    </section>   
    <!-- END: LIST OF USE-CASE SECTIONS -->

	<!-- END: USE-CASES -->