<!-- ### CALENDLY ###-->
<!-- Script itself is in the footer (bc it's heavy on page load speed)-->

    <!-- gibito -->
    <div class="calendly-inline-widget" data-url="https://calendly.com/gianluca_bisceglie/30min?hide_event_type_details=1" style="min-width:320px;height:720px;"></div>
    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
    <!-- gibito -->


    <!-- ask@visyond (main) -->
    <!-- <div class="calendly-inline-widget" data-url="https://calendly.com/visyond/demo?hide_event_type_details=1&background_color=f1f4fc&text_color=383e4d&primary_color=0585ff" style="min-width:320px;height:720px;"></div> -->
    <!-- ask@visyond (main) -->




<!-- ### HUBSPOT ###-->


    <!-- Hubspot Form - Request Demo Page 
    <div class="marketing-form-wrapper">
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
        <script>
            hbspt.forms.create({
            portalId: "3409378",
            formId: "fe27afd9-f1cc-464b-90b6-fcc88a768d2a"
        });
        </script>
    </div>	
        END: Hubspot Form - Request Demo Page -->