{{ with .Site.GetPage "section" "casestudiessection" }}
<section class="studies">
  <h3 class="studies__title">
    {{ .Params.StudiesTitle }}
  </h3>
  
  {{ if .Params.studiesLink }}
  <a href="{{ .Params.studiesLink }}" class="studies__link">
    {{ .Params.studiesLinkText }}
  </a>
  {{ end }}

  <ul class="studies__blocks">
    {{ range $el := .Params.StudiesBlock }}
    <li class="studies__block">
      <div class="studies__img-wrap">
        <img src="{{ .image }}" alt="case" class="studies__img">
      </div>

      <section class="studies__text-wrap">
        <h3 class="studies__block-title">
          {{ .title }}
        </h3>

        <cite class="studies__block-descr">
          {{ .text }}
        </cite>

        <div class="studies__block-author">
          {{ .author }}
        </div>

        <a href="{{ .linkUrl }}" class="studies__block-link">
          {{ .linkText }}>>
        </a>
      </section>
    </li>
    {{ end }}
  </ul>
</section>
{{ end }}