<div class="cover" style="background-image: url({{ .Params.BgImage }})">
  <h1 class="cover-header">
    {{ .Params.TopTitle | markdownify}}
  </h1>

  <div class="cover-header--sub">
    {{ .Params.TopSubTitle | markdownify }}
  </div>
  
  
  <div class="cover-buttons--wrap">
    {{ if .Params.SignUpURL }}
    <a href="{{ .Params.SignUpURL }}" class="button button-basic">
      Sign Up
    </a>
    {{ end }}

    {{ if .Params.WatchVideoURL }}
    <button class="button button-icon button-basic--active js-btn-video">
      <i class="material-icons">
        play_arrow
      </i>
      Watch Video
    </button>
    {{ end }}

    {{ if .Params.RequestURL }}
      <a href="/request" class="button button-basic">  
        Request a Demo
      </a>
      {{ end }}
  </div>


  <div class="sol-top__popup js-popup">
    <div class="sol-top__iframe-wrap">
      <button class="sol-top__popup-close js-popup-close"></button>
      <p>{{ .Params.WatchVideoURL }}</p>

    </div>
    
  </div>
</div>
