<!-- <div class="cover" style="background-image: url({{ .Params.BgImage }})"> -->
<div class="cover" style="background-image: url(/img/laptop-banner-dark.jpg)">
  <h1 class="cover-header">
    {{ .Params.TopTitle | markdownify}}
  </h1>

  <div class="cover-header--sub">
    {{ .Params.TopSubTitle | markdownify }}
  </div>
  
  <!--
  <div class="cover-buttons--wrap">
    {{ if .Params.SignUpURL }}
    <a href="{{ .Params.SignUpURL }}" class="button button-basic">
      Sign Up
    </a>
    {{ end }}
   --> 
  
    
  <div class="cover-buttons--wrap">
    
    <a href="/request" class="button button-basic">
      Request Demo
    </a>
    
    
  
    <!--
    {{ if .Params.WatchVideoURL }}
    <button class="button button-icon button-basic--active js-btn-video">
      <i class="material-icons">
        play_arrow
      </i>
      2 min demo
    </button>
    {{ end }}
    --> 

    <!--
    {{ if .Params.RequestURL }}
      <a href="/request" class="button button-basic">  
        Request demo
      </a>
      {{ end }}
     --> 
    
  <!-- VIDEO BUTTON FROM HOME (HEX) PAGE -->
  {{ if .Params.WatchVideoURL }}
   <button class="button button-icon js-btn-video2" style="font-family: Open Sans, serif; color: 000000cc;  border-color: #fff;">
      <i class="material-icons">
        play_arrow
      </i>
      2 min demo
    </button>
  {{ end }}
  <!-- //VIDEO BUTTON FROM HOME (HEX) PAGE -->
    
  </div>

  <!--
  <div class="sol-top__popup js-popup">
    <div class="sol-top__iframe-wrap">
      <button class="sol-top__popup-close js-popup-close"></button>
      <p>{{ .Params.WatchVideoURL }}</p>
    </div>
  </div>
  --> 
  
  
  <!-- //VIDEO CLOSE FROM HOME (HEX) PAGE -->
  <div class="ht-top__popup js-popup2">
    <div class="ht-top__iframe-wrap">
      <button class="ht-top__popup-close js-popup-close2"></button>
        <p>{{ .Params.WatchVideoURL }}</p>
    </div>
  </div>
  <!-- //VIDEO CLOSE FROM HOME (HEX) PAGE -->  
  
  
</div>
