{{ with .Site.GetPage "section" "features-section" }}
<div class="dropdown-section">
	<ul class="dropdown-section__cols">
		{{ range $element := .Params.feaDropdownCol }}
		<li class="dropdown-section__col">
			<p class="dropdown-section__title">
				{{ $element.title }}
			</p>
			<ul class="dropdown-section__group-list dropdown-section__list">
				{{ range $el := $element.features_dropdown }}
				<li class="dropdown-section__group-item">
					<a href="{{ $el.path }}" class="dropdown-section__group-link" data-image="{{ .image }}" data-descr="{{ .descr }}">{{ $el.title }}</a>
				</li>
				{{ end }}
			</ul>
		</li>
		{{ end }}
	</ul>
	
	<!--
	{{ if .Params.allFeaturesLink }}
	<div class="dropdown__all-wrapper">
		<a href="{{ .Params.allFeaturesLink }}" class="dropdown__all-link">
			{{ .Params.allFeaturesText }}
		</a>
	</div>
	{{ end }}
	-->
	
</div>
{{ end }}
