{{ with .Site.GetPage "section" "features-section" }}
<div class="fea-section">
	<ul class="fea-section__cols">
		{{ range $element := .Params.feaDropdownCol }}
		<li class="fea-section__col">
			<h3 class="fea-section__title">
				{{ $element.title }}
			</h3>
			<ul class="fea-section__group-list fea-section__list">
				{{ range $el := $element.features_dropdown }}
				<li class="fea-section__group-item">
					<a href="{{ $el.path }}" class="fea-section__group-link" data-image="{{ .image }}" data-descr="{{ .descr }}">{{ $el.title }}</a>
				</li>
				{{ end }}
			</ul>
		</li>
		{{ end }}
	</ul>
	{{ if .Params.allFeaturesLink }}
	<div class="fea__all-features-wrapper">
		<a href="{{ .Params.allFeaturesLink }}" class="fea__all-features-link">
			{{ .Params.allFeaturesText }}
		</a>
	</div>
	{{ end }}
</div>
{{ end }}