<!-- <footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo.svg" alt="Kaldi logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">Newsletter subscribe</p>
			<p>Get awesome news from us in your inbox every two weeks. Be the first to learn about new products.</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Kaldi</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/products" class="link">Our products</a></li>
					<li><a href="/values" class="link">About</a></li>
					<li><a href="/post" class="link">Blog</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Find out more</h3>
				<ul class="mb3">
					<li><a href="/post/jamaica-blue/" class="link">Latest offers</a></li>
					<li><a href="/contact" class="link">Schedule and appointment</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "instagram") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "vimeo") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
 -->

 <footer class="page-footer">
      <div class="container">
        <div class="row big_ninja">
            <div class="col-md-12">
                <a href="/" class="page-footer__logo"><img src="/img/vimages/logoFooter.png" alt="Visyond logotype" class="page-header__logo-img"></a>
            <div class="page-footer__text">Intuitive financial software built to simplify the way you manage your business.</div>
            </div>
            
        </div>
        <div class="row">
          <div class="col-md-8 col-md-push-4">
            <div class="row footer-nav">
              <div class="col-md-4 footer-nav__col">
                <div class="footer-nav__heading">Company</div>
                <div class="footer-nav__item"><a href="https://visyond.com/about" class="footer-nav__link">About us</a></div>
                <div class="footer-nav__item"><a href="https://visyond.com/team" class="footer-nav__link">Team</a></div>
                <div class="footer-nav__item"><a href="https://visyond.com/careers" class="footer-nav__link">Careers</a></div>
                <div class="footer-nav__item"><a href="https://visyond.com/terms" class="footer-nav__link">Terms of use</a></div>
                <div class="footer-nav__item"><a href="https://visyond.com/privacy" class="footer-nav__link">Privacy policy</a></div>
                <div class="footer-nav__item"><a href="https://visyond.com/contacts" class="footer-nav__link">Contacts</a></div>
              </div>
              <div class="col-md-4 footer-nav__col">
                <div class="footer-nav__heading">Finance &amp; business professionals</div>
                <div class="footer-nav__item"><a href="http://visyond.com/infinite" class="footer-nav__link">Infinite solution</a></div>
                <div class="footer-nav__item"><a href="http://visyond.com/pricing" class="footer-nav__link">Pricing</a></div>
                <div class="footer-nav__item"><a href="http://blog.visyond.com/spreadsheet-sprawl-collaboration/" class="footer-nav__link">Help center</a></div>
                <div class="footer-nav__item"><a href="https://www.youtube.com/playlist?list=PLoTjjkFFBLt7PoG8iLtr22Vn-gu7fIP7S" class="footer-nav__link">Video tutorials</a></div>
                <div class="footer-nav__item footerMenuItemSignup"><a href="https://visyond.com/site/signup/" class="footer-nav__link">SIGN UP</a></div>
              </div>
              <div class="col-md-4 footer-nav__col">
                <div class="footer-nav__heading">Startups</div>
                <div class="footer-nav__item"><a href="http://visyond.com/edge" class="footer-nav__link">Edge solution</a></div>
                <div class="footer-nav__item"><a href="http://blog.visyond.com/" class="footer-nav__link">Startup blog</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-md-pull-8">
          <a href="/" class="page-footer__logo small_ninja"><img src="/img/vimages/logoFooter.png" alt="Visyond logotype" class="page-header__logo-img"></a>
            <div class="page-footer__text small_ninja">Intuitive financial software built to simplify the way you manage your business.</div>
            <a class="ourPhone" href="tel:+442038687298">
                <img class="smallPhone" src="/img/vimages/smallPhone.png"><div class="phoneNumber">+44 20 3868 7298</div>
            </a>
            <a class="ourPhone" href="mailto:info@visyond.com">
                <img class="smallPhone smallEmail" src="/img/vimages/email.png"><div class="phoneNumber emailText">info@visyond.com</div>
            </a>
            <div class="page-footer__copy">2011-2016 &copy; Visyond. All rights reserved</div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="socials">
              <div class="socials__text">Follow us</div>
              <div class="socials__item"><a href="https://www.facebook.com/Visyond" class="socials__link fb"></a></div>
              <div class="socials__item"><a href="https://www.linkedin.com/company/visyond" class="socials__link linkin"></a></div>
              <div class="socials__item"><a href="https://twitter.com/visyond" class="socials__link tw"></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    {{define "addscripts"}}
    <script src="/jquery-3.0.0.min.js"></script>
    <script src="/slick.min.js"></script>
    <script src="/pageEngine.js"></script>
    {{ end }}
    <script src="/app.js"></script>


</body>

</html>