{{ if and (isset .Params "providestitle") (isset .Params "provideslist") }}

<section class="section">
  <h2 class="section-header">
    {{ .Params.ProvidesTitle }}
  </h2>
  <div class="header-section--divider"></div>
  
  <div class="home-provides">
    <section class="home-provides__wrap">
      <ul class="home-provides__list">
        {{ range $el := .Params.ProvidesList }}
        <li class="home-provides__item">
          {{ .text | markdownify }}
        </li>
        {{ end }}
      </ul>
    </section>
    <div class="home-provides__img-wrap">
      <img id="play-video" src="/img/v_notebook.png" alt="notebook" class="home-provides__img">

      <a class="button button-round-icon">
        <i class="material-icons">
          play_arrow
        </i>
      </a>
    </div>
  </div>
  {{ end }}
</section>

{{ with .Params.bgBottom }}
<section class="demoSection section--padded no-margin center-align" style="background-image: url(' {{ . }} ')">
  {{ else }}
  <section class="section--padded no-margin center-align" style="background-image: url('/img/vimages/footer-bg.jpg')">
    {{ end }}

    <h2 class="section-header contrast-text">
      {{ with .Params.TitleBottom }}
      {{ . }}
      {{ else }}
      Find out how to improve your decision-making process today
      {{ end }}
    </h2>

    <a href="/request" class="button button-contrast">
      Request Demo
    </a>
  </section>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-tubeplayer/2.1.0/jquery.tubeplayer.min.js"></script>

  <script>
    $(document).ready(function(){
        $("#play-video").click(function() {

            $(".overlay").addClass("overlay--active");

            const wrap = '<div class="yt-wrap"><a class="close-yt"><i class="material-icons">close</i></a></div>'

            $(".overlay").prepend(wrap);
            
            $(".overlay .yt-wrap").tubeplayer({
                initialVideo: "q8WLu0gHzFE",
                playsinline: true
            });

        })
    });
  </script>
