{{ with .Site.GetPage "section" "getStarted" }}
<section class="getStarted-section" style="background-image: url('/img/home/getStartedRectangle.svg');">
    <div class="container">
        <div class="home-hero__container">
            <div class="home-hero__half-width-wrap">
                <h2 class="homeHex-provides__header">{{ .Params.getStartedTitle }}</h2>
                <ul class="homeHex-provides__list">
                    {{ range $el := .Params.getStartedList }}
                        <li class="homeHex-provides__item">{{ .getStartedText | markdownify }}</li>
                    {{ end }}
                </ul>
            </div>

            <div class="home-hero__half-width-wrap home-hero__half-width-wrap--image">
                <img class="home-hero__laptop-image" src="/img/home/laptop.svg" alt="Laptop">
                <div class="home-hero__video-container">
                    <video poster="/img/home/videoPoster.jpg" class="home-hero__video lazy-video" 
                    controlslist="nodownload noremoteplayback" muted="" loop="" playsinline=""  webkit-playsinline="" preload="none">
                    <source src="/img/home/2019-10-17%20Homepage%20animation%20v4.mp4" type='video/mp4; codecs="avc1.4D401E, mp4a.40.2"'>
                    </video>
                </div>
                <div class="play-video-button">
                    <i class="material-icons">play_arrow</i>
                    <p>{{ .Params.getStartedVideoLink }}</p>
                </div>  
            </div>

            <div class="home-hero__half-width-wrap">
                <div class="home-hero__buttons-section">
                    <a href="/accounts/signup/" class="button-primary button">Get Started</a>
                </div>
            </div>
    </div>
    </div>
</section>

    
  {{ end }}