<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <title>{{ .Title }} | Visyond</title>
    <!-- <link rel="icon" type="image/x-icon" href="/favicon.ico"> -->
    <link rel="icon" type="image/png" href="/logo.png" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {{ with .Params.MetaTags }}
        {{ . | markdownify }}
    {{ end }}


    {{ with .Site.GetPage "section" "counters" }}
        {{ range $el := .Params }}
            {{ $el | markdownify}}
        {{ end }}
    {{ end }}

    
    {{ with .Params.scripts }}
        {{ . | markdownify }}
    {{ end }}
</head>
<body>

    {{ partial "header" . }}

    <div class="{{ if .Params.noContentPadding }} maincontent--nopadding {{ else }} maincontent {{ end }}">
