<!-- COPY OF HEXBLOCKB BUT WITHOUT VIDEO AUTOPLAY-->
<!-- info block -->
{{ range $el := .Params.StepsBlock }}

<li class="enterSectionsA__block">
    <section class="enterSectionsC__text-wrap">

        <div style="display: flex; align-items: center;">
            <h2 class="enterSectionsA__block-title" style="font-size: 2.3em; display: flex; justify-content: center; align-content: center; flex-flow: wrap; height: 50px; width: 55px; background-color: #0086ff; border-radius: 4px; color: #ffffff;">
                {{ .titlePrefix }}
            </h2>
            <h2 class="enterSectionsA__block-title" style="padding-left: 15px; display: flex; justify-content: center; align-content: center; flex-direction: column; height: 60px;">
                {{ .title }}
            </h2>
        </div>

        <div class="enterSectionsA__block-descr">
            {{ .descr | markdownify }}
        </div>
    </section>
    

	    
      {{ if .infoVideo }}
    <div class="infoC__img-wrap js-img-wrap" style="text-align: center;">	
      <video style="width: 90%; height: auto;" poster="{{ .infoVideoPoster }}" class="enterSectionsA__block-img" controls="" controlslist="nodownload noremoteplayback" muted="" loop="" playsinline="" autoplay="" playsinline="" webkit-playsinline="" preload="auto">
			  <source src="{{ .infoVideo }}" type="video/mp4; codecs=&quot;avc1.4D401E, mp4a.40.2&quot;">
	  </video>
       	        
      {{ else }}
      <div class="infoC__img-wrap js-img-wrap">	    
        <img src="{{ .image }}" alt="{{ .altText }}"
             class="enterSectionsA__block-img">
      {{ end }}    
    </div>
	
    <section class="enterSectionsC__text-wrap">
        <div class="enterSectionsA__block-descr">

            <div class="enterSections__benefits">
                {{ if .benefitsList }}
                <div class="enterSections__benefits--title" style="text-decoration: none;">With Visyond, you can</div>
                {{ end }}
                <ul>
                    {{ range $list := .benefitsList }}
                    <li class="whyV__benefit-item">
                        {{ .text | markdownify }}
                    </li>
                    {{ end }}
                </ul>
            </div>
            
            <div class="enterSections__benefits">
                {{ if .benefitsList2 }}
                <div class="enterSections__benefits--title" style="text-decoration: none;">What's special?</div>
                {{ end }}
                <ul>
                    {{ range $list := .benefitsList2 }}
                    <li class="whyV__benefit-item">
                        {{ .text | markdownify }}
                    </li>
                    {{ end }}
                </ul>
            </div>

        </div>
    </section>

</li>
{{ end }}
<!-- //info block -->
