<!-- info block -->
{{ range $el := .Params.InfoBlockFirst }}

{{ if (not (eq .isVisible false)) }}
<li class="enterSectionsA__block">
    <section class="enterSectionsA__text-wrap">
        <h2 class="enterSectionsA__block-title">
            {{ .title }}
        </h2>
        
        {{ if .subtitle }}
        <div class="enterSectionsA__block-subtitle">
            {{ .subtitle | markdownify }}
        </div>
        {{ end }}

        <div class="enterSectionsA__block-descr">
            {{ .descr | markdownify }}
        </div>
    </section>
    
    <!-- <div class="infoA__img-wrap js-img-wrap show-slides"> -->
	    
      {{ if .infoVideo }}
    <div class="infoA__img-wrap js-img-wrap" style="text-align: center;">	
      <video class="scroll_toggle" style="width: 90%; height: auto;" poster="{{ .infoVideoPoster }}" class="enterSectionsA__block-img" controls="" controlslist="nodownload noremoteplayback" muted="" loop="" playsinline="" autoplay="" playsinline="" webkit-playsinline="" preload="auto">
			  <source src="{{ .infoVideo }}" type="video/mp4; codecs=&quot;avc1.4D401E, mp4a.40.2&quot;">
	  	</video> 
	<!--
        <div class="button button-basicA--nobg button-icon centered show-slides">
            <i class="material-icons">play_circle_outline</i>
            <span>Slideshow</span>
	       <img src="{{ .imageNopeDontNeedItHere }}" alt="{{ .altText }}"
		     class="enterSectionsA__block-img"
		     data-src="{{ range $file := .files }}{{ .file }}::{{ end }}"
		     data-title="{{ range $file := .files }}{{ .title }}::{{ end }}"
		     data-descr="{{ range $file := .files }}{{ .descr }}::{{ end }}"
		     data-href="{{ range $file := .files }}{{ .link }}::{{ end }}"
		     data-alt="{{ range $file := .files }}{{ .alt }}::{{ end }}">		
        </div>
	-->
	        
      {{ else }}
      <div class="infoA__img-wrap js-img-wrap show-slides">	    
        <img src="{{ .image }}" alt="{{ .altText }}"
             class="enterSectionsA__block-img"
             data-src="{{ range $file := .files }}{{ .file }}::{{ end }}"
             data-title="{{ range $file := .files }}{{ .title }}::{{ end }}"
             data-descr="{{ range $file := .files }}{{ .descr }}::{{ end }}"
             data-href="{{ range $file := .files }}{{ .link }}::{{ end }}"
             data-alt="{{ range $file := .files }}{{ .alt }}::{{ end }}">

        <a class="button button-icon button-primary over">
            <i class="material-icons"></i>
            <span>Slideshow</span>
        </a>
	    
        <div class="button button-basic--nobg button-icon centered">
            <i class="material-icons">play_circle_outline</i>
            <span>Slideshow</span>
        </div>	
	    
      {{ end }}    
	    
    </div>
	
    <section class="enterSectionsA__text-wrap">
        <div class="enterSectionsA__block-descr">
            <div class="enterSections__benefits">
                {{ if .benefitsList }}
                <div class="enterSections__benefits--title">Learn more</div>
                {{ end }}
                <ul>
                    {{ range $list := .benefitsList }}
                    <li class="whyV__benefit-item">
                        {{ .text | markdownify }}
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </section>
    <section class="enterSectionsA__text-wrap">
        <!--<div class="button-wrap">-->
            <!--{{ if .link }}-->
            <!--<a href="{{ .link }}" class="button button-primary">Learn More</a>-->
            <!--{{ end }}-->
            <!--<span class="button button-icon btn-video4"-->

                  <!--{{ if or (eq .linkYoutube "") (not (isset . "linkYoutube")) }}-->
            <!--style="display: none;"-->
            <!--{{ end }}-->

            <!--&gt;-->
            <!--<i class="material-icons">-->
                <!--play_arrow-->
            <!--</i>-->
            <!--See Demo-->
            <!--<div class="ht-top__popup js-popup">-->
                <!--<div class="ht-top__iframe-wrap">-->
                    <!--<button class="ht-top__popup-close js-popup-close">X</button>-->
                    <!--<p>{{ .linkYoutube }}</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--</span>-->

        <!--</div>-->
        <div class="button-wrap">
            {{ if .link }}
            <a href="{{ .link }}" class="button button-primary">
                <div>
                    Learn more
                </div>
            </a>
            {{ end }}
            
            {{ if .linkYoutube }}
            <span style="padding: 0" class="button button-icon btn-video4"

                  {{ if or (eq .linkYoutube "") (not (isset . "linkYoutube")) }}
            style="display: none;"
            {{ end }}

            >
                
            <span style="display: flex; align-items: center;padding: 1em 2em;padding-left: 4.5em;">
                    <i class="material-icons">
                play_arrow
              </i><span>
                    2 min demo</span>

                    </span>
            <div class="ht-top__popup js-popup">
                <div class="ht-top__iframe-wrap">
                    <button class="ht-top__popup-close js-popup-close">X</button>
                    <p>{{ .linkYoutube }}</p>
                </div>
            </div>
            </span>
            {{ end }}
        </div>

    </section>
</li>
{{ end }}

{{ end }}
<!-- //info block -->
