<section class="hexFeatured">
    <div class="container">
        <h3 class="hexFeatured__header">
            {{ .Params.featuredTitle }}
        </h3>

        <ul class="hexFeatured__list">
            {{ range $el := .Params.Featured }}
            <li class="hexFeatured__item">
                <a {{ with $el.link }} href="{{ $el.link }}" {{ end }} target="_blank">
                    <img src="{{ $el.logo }}" alt="{{ $el.alt }}">
                </a>
            </li>
            {{ end }}
        </ul>
    </div>
</section>