<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    {{ partial "head-fonts" . }}
    <link href="/css/main.css?v=1.1" rel="stylesheet">
    <title>{{ .Title }} | Visyond</title>
    <!-- <link rel="icon" type="image/x-icon" href="/favicon.ico"> -->
    <link rel="icon" type="image/png" href="/logo.png" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {{ with .Params.MetaTags }}
    {{ . | markdownify }}
    {{ end }}

    <!--The code is commented because it return 'false false' under the header-->
    <!--false false-->
    <!--{{ with .Site.GetPage "section" "counters" }}-->
    <!--{{ range $el := .Params }}-->
    <!--{{ $el | markdownify}}-->
    <!--{{ end }}-->
    <!--{{ end }}-->
    <!--false false-->
    
    {{ partial "scripts" . }}

    {{ with .Params.scripts }}
    {{ . | markdownify }}
    {{ end }}
</head>
<body>
<header class="hexHeader">
    <div class="container">
        <div class="menu">
            <div id="logo">
                <a href="/" class="hexNav__logo-link">
                    <span><img src="/img/common/Visyond Logo 2022.png" alt="Logo"></span>
                </a>
            </div>

            {{ partial "hexNav" . }}

            <div id="trialButton" class="hexNav-item">
                <a href="/demo" class="hexNav__link hexNav__link--primary {{ if eq .Title "Homepage Some"}} hexNav--homepage-header__link {{end}}">
                    Onboarding Call
                </a>
            </div>
            <button id="menu-toggle">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/></svg>
            </button>
        </div>
    </div>
</header>
<div class="headerFix"></div>

<div class="maincontent">
