<nav class="hexNav">
    <ul class="hexNav__list">


        <li class="hexNav__item {{ if eq .Title "Homepage Some"}} hexNav--homepage-header__item {{end}}">
            <a href="#solutions-toggle" class="hexNav__link {{ if eq .Title "Homepage Some"}} hexNav--homepage-header__link {{end}}">
                <span>Solutions</span>
            </a>
            {{ with .Site.GetPage "section" "nav" }}
            <div class="dropdown-menu-wrap">
                <div class="dropdown-toggle dropdown-toggle--multicol" id="solutions-toggle">
                    <div class="dropdown__info">
                        <h3 class="dropdown__info-title">
                            {{ .Params.solutionsInfoTitle }}
                        </h3>
                        <div class="dropdown__info-descr">
                            {{ .Params.solutionsInfoDescr }}
                        </div>
                    </div>
                    <div class="dropdown">
                        {{ partial "solutions-section" . }}
                    </div>
                </div>
            {{end}}
            </div>
        </li>

        <!-- FEATURES LINK 
        <li class="hexNav__item {{ if eq .Title "Homepage Some"}} hexNav--homepage-header__item {{end}}">
            <a href="#features-toggle" class="hexNav__link {{ if eq .Title "Homepage Some"}} hexNav--homepage-header__link {{end}}">
                <span>Features</span>
            </a>
            {{ with .Site.GetPage "section" "nav" }}
            <div class="dropdown-menu-wrap">
                <div class="dropdown-toggle dropdown-toggle--multicol {{ if eq .Title "Homepage Some"}} hexNav--homepage-header-dropdown-toggle {{end}}" id="features-toggle">

                    <div class="dropdown__info">
                        <h3 class="dropdown__info-title">
                            {{ .Params.featuresInfoTitle }}
                        </h3>

                        <div class="dropdown__info-descr">
                            {{ .Params.featuresInfoDescr }}
                        </div>
                    </div>

                    <div class="dropdown">
                        {{ partial "features-section" . }}
                    </div>
                </div>
            {{end}}
            </div>
        </li>
         END: FEATURES LINK -->

        <li class="hexNav__item {{ if eq .Title "Homepage Some"}} hexNav--homepage-header__item {{end}}">
        <a href="/services" class="hexNav__link {{ if eq .Title "Homepage Some"}} hexNav--homepage-header__link {{end}}"><span>Services</span></a>
        </li>

        <li class="nav__item {{ if eq .Title "Homepage Some"}} nav--homepage-header__item {{end}}">
        <a href="/pricing/" class="hexNav__link {{ if eq .Title "Homepage Some"}} hexNav--homepage-header__link {{end}}"><span>Pricing</span></a>
        </li>

        <!--
        <li class="nav__item {{ if eq .Title "Homepage Some"}} nav--homepage-header__item {{end}}">
          <a href="/partners/" class="nav__link {{ if eq .Title "Homepage Some"}} nav--homepage-header__link {{end}}"><span>Partners</span></a>
        </li>
        -->


        <li class="hexNav__item {{ if eq .Title "Homepage Some"}} hexNav--homepage-header__item {{end}}">
        <a href="#resources-toggle" class="hexNav__link {{ if eq .Title "Homepage Some"}} hexNav--homepage-header__link {{end}}"><span>Resources</span></a>
        <div class="dropdown-menu-wrap">
            <div
                    class="dropdown-toggle {{ if eq .Title "Homepage Some"}} hexNav--homepage-header-dropdown-toggle {{end}}"
            id="resources-toggle"

            >
            <ul class="dropdown-toggle__group-list">
                {{ with .Site.GetPage "section" "hexNav" }}
                {{ range $el := .Params.resourcesDropdown }}
                <li class="dropdown-toggle__group-list-item">
                    <a href="{{ $el.path }}" class="dropdown-toggle__group-list-item-link">{{ $el.title }}</a>
                </li>
                {{ end }}
                {{ end }}
            </ul>
        </div>
        </div>
        </li>
    </ul>

    <ul class="homepage__user-hexNav-list">
        <li class="hexNav__item {{ if eq .Title "Homepage Some"}} hexNav--homepage-header__item {{end}}">
        <a href="/accounts/login" class="hexNav__link {{ if eq .Title "Homepage Some"}} hexNav--homepage-header__link {{end}}" style="font-weight: 600;">
        Login
        </a>
        </li>
        
        <li class="hexNav-item">
            <a href="/accounts/signup/" class="hexNav__link {{ if eq .Title "Homepage Some"}} hexNav--homepage-header__link {{end}}" style="font-weight: 600;">
            Free Sign Up
            </a>
        </li>
        
    </ul>

</nav>
