<header class="homepage-header">
    
    {{ partial "nav" . }}

    <div class="homepage__logo">
        <img src="/img/vimages/logoFooter.png" alt="Visyond" class="homepage__logo-img">
    </div>

    <nav class="homepage__user-nav">
        <ul class="homepage__user-nav-list">
            <li class="homepage__user-nav-item"><a href="/accounts/login" class="homepage__user-nav-link">log in</a></li>
            <li class="homepage__user-nav-item"><a href="/accounts/signup" class="homepage__user-nav-link">sign up</a></li>
            <li class="homepage__user-nav-item"><a href="/request-a-demo" class="homepage__user-nav-link homepage__user-nav-link--request">request a demo</a></li>
        </ul>
    </nav>
</header>