<header class="homepage-header">
    {{ partial "nav" . }}
    <button class="responsive-btn">
        <svg fill="#52556c" height="30" viewBox="0 0 24 24" width="30" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
        </svg>
    </button>

    <div class="homepage__logo">
        <img src="/img/vimages/logoColor.png" alt="Visyond" class="homepage__logo-img">
    </div>


    <!-- <nav class="homepage__user-nav">
        <ul class="homepage__user-nav-list">
            <li class="homepage__user-nav-item"><a href="/accounts/login" class="homepage__user-nav-link">log in</a></li>
            <li class="homepage__user-nav-item"><a href="/accounts/signup" class="homepage__user-nav-link">sign up</a></li>
            <li class="homepage__user-nav-item"><a href="/request-a-demo" class="homepage__user-nav-link homepage__user-nav-link--request">request a demo</a></li>
        </ul>
    </nav> -->
</header>
