<!-- info block -->
{{ range $el := .Params.InfoBlockFirst }}

<li class="home-info__block">
    <div class="info__img-wrap js-img-wrap show-slides">

        <img src="{{ .image }}" alt="{{ .altText }}"
             class="home-info__block-img"
             data-src="{{ range $file := .files }}{{ .file }}::{{ end }}"
             data-title="{{ range $file := .files }}{{ .title }}::{{ end }}"
             data-descr="{{ range $file := .files }}{{ .descr }}::{{ end }}"
             data-href="{{ range $file := .files }}{{ .link }}::{{ end }}"
             data-alt="{{ range $file := .files }}{{ .alt }}::{{ end }}">

        <a class="button button-icon button-primary over">
            <i class="material-icons">

            </i>
            <span>
            See in action
          </span>
        </a>
        <div class="button button-basic--nobg button-icon centered">
            <i class="material-icons">
                play_circle_outline
            </i>
            <span>
            See in action
          </span>
        </div>
    </div>

    <section class="home-info__text-wrap">
        <h3 class="home-info__block-title">
            {{ .title }}
        </h3>

        <div class="home-info__block-descr">
            {{ .descr | markdownify }}
        </div>
        {{ if .link }}
        <div class="button-wrap" style="justify-content: space-around">
            <a href="{{ .link }}" class="button button-primary">
                LEARN MORE
            </a>
            <a href="" class="button button-primary btn-video4">
                <span>
                WATCH DEMO
                    </span>
                <div class="ht-top__popup js-popup">
                    <div class="ht-top__iframe-wrap">
                        <button class="ht-top__popup-close js-popup-close"></button>
                        <p>{{ .linkyoutube }}</p>
                        <div>tetessd</div>
                    </div>
                </div>
            </a>

        </div>
        {{ end }}
    </section>
</li>
{{ end }}
<!-- //info block -->