<nav class="nav">
  <ul class="nav__list">

    <li class="nav__item">
      <a href="/" class="nav__link">
        <span><img src="/img/vimages/logoColor.png" alt="Logo"></span>
      </a>
    </li>

    <li class="nav__item {{ if eq .Title "Homepage Some"}} nav--homepage-header__item {{end}}">
      <a href="#solutions-toggle" class="nav__link {{ if eq .Title "Homepage Some"}} nav--homepage-header__link {{end}}">
        <span>Solutions</span>
      </a>
      {{ with .Site.GetPage "section" "nav" }}
      <div class="dropdown-menu-wrap">
        <div
          class="dropdown-toggle dropdown-toggle--multicol"
          id="solutions-toggle"
          >
          <div class="dropdown__info">
            <p class="dropdown__info-title">
              {{ .Params.solutionsInfoTitle }}
            </p>
            <div class="dropdown__info-descr">
              {{ .Params.solutionsInfoDescr }}
            </div>
          </div>
          <div class="dropdown">
            {{ partial "solutions-section" . }}
          </div>
        </div>
        {{end}}
      </div>

    </li>
    <li class="nav__item {{ if eq .Title "Homepage Some"}} nav--homepage-header__item {{end}}">
      <a href="#features-toggle" class="nav__link {{ if eq .Title "Homepage Some"}} nav--homepage-header__link {{end}}">
        <span>Features</span>
      </a>
      {{ with .Site.GetPage "section" "nav" }}
      <div class="dropdown-menu-wrap">
        <div
          class="dropdown-toggle dropdown-toggle--multicol {{ if eq .Title "Homepage Some"}} nav--homepage-header-dropdown-toggle {{end}}"
          id="features-toggle"
          >

          <div class="dropdown__info">
            <p class="dropdown__info-title">
              {{ .Params.featuresInfoTitle }}
            </p>

            <div class="dropdown__info-descr">
              {{ .Params.featuresInfoDescr }}
            </div>
          </div>

        </div>
        {{end}}
      </div>

    </li>
    <li class="nav__item {{ if eq .Title "Homepage Some"}} nav--homepage-header__item {{end}}">
      <a href="/casestudy/" class="nav__link {{ if eq .Title "Homepage Some"}} nav--homepage-header__link {{end}}"><span>Case Studies</span></a>
    </li>
    
    <li class="nav__item {{ if eq .Title "Homepage Some"}} nav--homepage-header__item {{end}}">
      <a href="/pricing/" class="nav__link {{ if eq .Title "Homepage Some"}} nav--homepage-header__link {{end}}"><span>Pricing</span></a>
    </li>
    
    <!-- 
    <li class="nav__item {{ if eq .Title "Homepage Some"}} nav--homepage-header__item {{end}}">
      <a href="/partners/" class="nav__link {{ if eq .Title "Homepage Some"}} nav--homepage-header__link {{end}}"><span>Partners</span></a>
    </li>
    -->
    
    
    <li class="nav__item {{ if eq .Title "Homepage Some"}} nav--homepage-header__item {{end}}">
      <a href="#resources-toggle" class="nav__link {{ if eq .Title "Homepage Some"}} nav--homepage-header__link {{end}}"><span>Resources</span></a>
      <div class="dropdown-menu-wrap">
        <div
          class="dropdown-toggle {{ if eq .Title "Homepage Some"}} nav--homepage-header-dropdown-toggle {{end}}"
          id="resources-toggle"

          >
          <ul class="dropdown-toggle__group-list">
            {{ with .Site.GetPage "section" "nav" }}
            {{ range $el := .Params.resourcesDropdown }}
            <li class="dropdown-toggle__group-list-item">
              <a href="{{ $el.path }}" class="dropdown-toggle__group-list-item-link">{{ $el.title }}</a>
            </li>
            {{ end }}
            {{ end }}
          </ul>
        </div>
      </div>
    </li>
  </ul>

  <ul class="homepage__user-nav-list">
    <li class="nav__item {{ if eq .Title "Homepage Some"}} nav--homepage-header__item {{end}}">
      <a href="/accounts/login" class="nav__link {{ if eq .Title "Homepage Some"}} nav--homepage-header__link {{end}}">
        LOG IN
      </a>
    </li>
    <li class="nav-item">
        <a href="/accounts/signup/" class="nav__link {{ if eq .Title "Homepage Some"}} nav--homepage-header__link {{end}}">
          FREE TRIAL
        </a>
    </li>
    <li class="nav-item">
      <a href="/request" class="nav__link nav__link--primary {{ if eq .Title "Homepage Some"}} nav--homepage-header__link {{end}}">
        REQUEST A DEMO
      </a>
    </li>
  </ul>

</nav>
