<!-- <nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">


	<a href="/" class="pa3 db mr4 h-100 w3 flex-none">
		<img src="/img/logo.svg" alt="Kaldi logo" class="br0 db mb0 w-100"/>
	</a>


	<ul class="flex b grey-3">
		<li><a href="/products" class="pa3 no-underline db">Products</a></li>

		<li><a href="/values" class="pa3 no-underline db">Values</a></li>

		<li><a href="/post" class="pa3 no-underline db">Blog</a></li>

		<li><a href="/contact" class="pa3 no-underline db">Contact</a></li>
	</ul>

</nav>

-->
<section class="mainMenuBar menuFix">
	<div class="mainMenuWrapper">
		<div class="mainMenu">
			<div class="logoColor-mobile">
				<img src="/img/vimages/logoColor.png">
			</div>
			<div class="logoColor">
				<img src="/img/vimages/logoColor.png">
			</div>
			<div class="page-header__nav-wrapper">
				<div class="siteMenu page-header__nav-items">
					<a class="blog dropdown-toggle visible-xs" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">
						Products<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#">Platform</a></li>
						<li><a href="#">BizModel</a></li>
					</ul>
					<div class="clearfix visible-xs"></div>
					<a class="blog hidden-xs" href="#">Platform</a>
					<a class="tutorials hidden-xs" href="#">BizModel</a>
					<a class="tutorials" href="#">About</a>
					<a class="pricing" href="#">Blog</a>
				</div>
				<div class="signUpMenu page-header__nav-items">
					<a class="logIn" href="https://visyond.com/site/login/">Log In</a>
					<a class="signUp" href="https://visyond.com/site/signup/">SIGN UP</a>
				</div>
			</div>
		</div>
	</div>
	<div class="navigation-mobile__burger js-mobile-nav">
		<a href="#" class="navigation-mobile__link">
			<span class="navigation-mobile__link-txt">Menu</span>
		</a>
	</div>
</section>