{{ with .Site.GetPage "section" "testimonials" }}
<section class="testimonials">
  {{ if .Params.Titletestimonials }}
  <h3 class="testimonials__title homepage-title">{{ .Params.Titletestimonials }}</h3>
  {{ end }}

    <ul class="testimonials__list js-testimonials">
      {{ range $item := .Params.slider  }}
        <li class="testimonials__item">
          <figure class="testimonials__img-container">
            <span class="testimonials__img-wrap">
              <img src={{ .sliderphoto }} alt="">
            </span>

            <figcaption class="testimonials__img-descr-wrap">
              <p class="testimonials__img-descr">{{ .sliderDescr }}</p>

              <span class="testimonials__img-author">{{ .slidercompany }}</span>
              <img src={{ .sliderlogo }} alt="{{ .alt }}" class="testimonials__img-company">
              </figcaption>
        </figure>
      </li>
      {{ end }}
  </ul>
</section>
{{end}}