{{ with .Params.WhyCards }}

<section class="section half-gray">
    <div class="container">

        <h2 class="header-section">{{ .title | markdownify }}</h2>
        <div class="header-section--divider"></div>

        <div class="card__list">
            {{ range .cards }}
            <a href="{{.url}}" class="card__list-item primary">

                <article class="card">
                    <div class="card__title-wrap">
                        <div class="rounded-icon-wrap">
                            <img src="{{ .icon }}">
                        </div>
                        <h3 class="card__title">{{ .title }}</h3>
                        <ul class="card__subtitle">
                            {{ range .description }}
                            <li>{{ . }}</li>
                            {{ end }}
                        </ul>
                    </div>
                </article>

            </a>
            {{ end }}
        </div>

        {{ with .cta }}

        <div class="btn-wrap" style="margin-top: 1em;">
            <a href="{{ .url }}" class="btn-primary">{{ .text }}</a>
        </div>

        {{ end }}
    </div>
</section>

{{ end }}
