{{ partial "head" . }}

<div>
  {{ partial "cover" . }}

  <!-- trusted section -->
  {{ partial "trustedslider" . }}
  <!-- ./trusted section -->

  <!-- section capabilities -->
  <section class="sol-capabilities">
    <!-- <h3 class="sol-capabilities__title">
      With Visyond you can
    </h3> -->

    <ul class="sol-capabilities__modules">
      {{ range $el := .Params.CapabilitiesList }}
      <li class="sol-capabilities__block">
        <img src="{{ .image }}" alt="save time" class="sol-capabilities__img">

        <div class="sol-capabilities__descr">
          {{ .text | markdownify }}
        </div>
      </li>
      {{ end }}
    </ul>
  </section>
  <!-- ./section capabilities -->

  <!-- section info -->
    <ul class="sol-info js-image-block">

      <!-- list of info blocks with blue button -->
      {{ partial "info-block-list" . }}
      <!-- // list of info blocks with blue button -->

    </ul>
    <!-- ./section info -->

    <!-- solutions section -->
    <div class="sol-solutions">
      <h2 class="sol-solutions__title">
        {{ .Params.solutionsTitle }}
      </h2>
      <div class="sol-solutions__cards">
      {{ range $cards := .Params.solutionsCards }}
        <a href="{{ .link }}" class="sol-solutions__card">
          <div class="sol-solutions__card-image-wrap">
            <img src="{{ .icon }}" alt="icon" class="sol-solutions__card-image">
          </div>
          
          <h3 class="sol-solutions__card-title">
            {{ .title }}
          </h3>

          <p class="sol-solutions__card-text">
            {{ .text }}
          </p>
        </a>
      {{ end }}
      </div>
      <!-- <a href="/features" class="sol-link sol-link--solutions">
        see all solutions
      </a> -->
    </div>
    <!-- solutions section -->

    <!-- case studies section -->
    {{ partial "case-studies-section-new" . }}
    <!-- //case studies section -->
    
    <!-- soluions block OLD-->
    <!-- <div class="sol-sub-block">
        {{ with .Params.SolTitle }}
        <h3 class="sol-sub-block__section-title">{{ . }}</h3>
        {{ end }}
        <div class="container">
            <section class="sol-sub-block__section">
                <h3 hidden></h3>
                {{ range $block := .Params.SolArticle }}
                <a href="{{ .link }}" class="sol-sub-block__article">
                    <h2>
                        {{ .title }}
                    </h2>

                    <img src="{{ .image }}" alt="{{ .title }}">
                    
                    {{ with .descr }}
                    <p>
                        {{ . }}
                    </p>
                    {{ end }}
                </a>
                {{ end }}

            </section>
        </div>  
    </div>-->
    <!-- //soluions block OLD-->

    <!-- section testimonials
    {{ partial "testimonials" . }}
     //section testimonials -->

  </div>

{{ partial "get-started" . }}

{{ partial "footer" . }}
