{{ partial "hexHomeHead" . }}

<div class="homehex ht">
	<!-- TOP SECTION -->
	<section class="home-hero" style="background-image: url('/img/home/lightGrayRectangle.svg');">
		<div class="container">
			<div class="home-hero__container">
				<div class="home-hero__half-width-wrap">			
						<h1 class="home-hero__title">{{ .Params.TopTitle | markdownify }}</h1>
						
						<div class="home-hero__topSubtitle">
							{{ if .Params.topSubTitle }}
								{{ .Params.topSubTitle | markdownify }}
							{{ else }}
								Get what no other spreadsheet-based technology can give you.<br> Do in minutes what takes you days now.
							{{ end }}
						</div>
				</div>
				
				   
                <div class="home-hero__half-width-wrap home-hero__half-width-wrap--image">
                    <img class="home-hero__laptop-image" src="/img/home/laptop.png" alt="Laptop">
                    <div class="home-hero__video-container">
                        <video poster="{{ if .Params.topVideoThumbnail }} {{ .Params.topVideoThumbnail }} {{ else }} /img/home/videoPoster.jpg {{ end }}" class="home-hero__video scroll_toggle" autoplay muted loop playsinline>
                            <source src="{{ if .Params.topVideo }} {{ .Params.topVideo }} {{ else }} /img/home/2019-10-17%20Homepage%20animation%20v4.mp4 {{ end }}" type='video/mp4; codecs="avc1.4D401E, mp4a.40.2"'>
                        </video>
                    </div>
                </div>
				
			  
				<div class="home-hero__half-width-wrap" style="width: 100%;">
					<div class="home-hero__buttons-section">
						<a href="/demo" class="button button-primary button-asterisk">
							Request Demo
						</a>		      
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- END: TOP SECTION -->

	
	{{ partial "hexSlider" . }}


	    <!-- 3 STEPS -->
		<section class="enterV">
			<div class="container">
				<h2 class="enterV__headline">{{ .Params.StepsHeader | markdownify }}</h2>
				<div class="header-section--divider"></div>
				<ul class="enterSections js-image-block">
					{{ partial "hexBlockListC" . }}
				</ul>
			</div>
		</section>
		<!-- END: 3 STEPS -->

	<!-- GET STARTED SECTION -->
	<section class="getHexStarted" style="background-image: url('/img/home/getStarted.svg');">
		<div class="container">
			<h2 class="getHexStarted__title">Make Better Decisions, Faster.</h2>
			<a href="/demo" class="button button-contrast">Request Demo</a>
		</div>
	</section>
	<!-- END: GET STARTED SECTION -->
		
		
	<!-- ENTER V SECTION -->
	<section class="enterV" style="background-image: url('/img/home/blueRectangle.svg'), url('/img/home/grayRectangle.svg');">
		<div class="container">
			<h2 class="enterV__headline">
				{{ if .Params.featuresHeader }}
					{{ .Params.featuresHeader }}
				{{ else }}
					All Decision-making Tools in a Single Platform
				{{ end }}
			</h2>
			<div class="header-section--divider"></div>
			<ul class="enterSections js-image-block">
				{{ partial "hexBlockListB" . }}
			</ul>
		</div>
	</section>
	<!-- END: ENTER V SECTION -->





	<!--
	<section class="homeFeatured" style="background-image: url('/img/home/visForBg.svg'), url('/img/home/blueRectangle.svg');">
		{{ partial "hexCaseStudies" . }}
	</section>
	 -->

	<!-- REQUEST DEMO FORM -->
	<section class="whyV" style="background-color: #fafafa;">
		<div class="container">
			<div class="whyV__row">
				<h2 class="enterV__headline" id="request">Request Live Demo</h2>
				<div class="demo-section--divider"></div>

				<!-- Calendly inline widget begin -->
				<div class="calendly-inline-widget" data-url="https://calendly.com/visyond/demo?hide_event_type_details=1&background_color=f1f4fc&text_color=383e4d&primary_color=0585ff" style="min-width:320px;height:720px;"></div>
				<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
				<!-- Calendly inline widget end -->		


				<!-- Hubspot Form - Request Demo Page 
				<div class="marketing-form-wrapper">
					<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
					<script>
					  hbspt.forms.create({
						portalId: "3409378",
						formId: "fe27afd9-f1cc-464b-90b6-fcc88a768d2a"
					});
					</script>
				</div>	
				 END: Hubspot Form - Request Demo Page -->



			</div>
		</div>  
	</section>
	<!-- END: REQUEST DEMO FORM -->

</div>


{{ partial "hexFooter" . }}
