{{ partial "default/header" . }}

<div class="homehex ht">
    {{ partial "covers/cover-full-2-col" . }}

	{{ partial "default/clientLogos" . }}

    {{ partial "product-tour" . }} 

    <!-- ENTER V SECTION -->
    <!--
	<section class="enterV" style="background-image: url('/img/home/blueRectangle.svg'), url('/img/home/grayRectangle.svg');">
		<div class="container">
			<h2 class="enterV__headline">
				{{ if .Params.featuresHeader }}
					{{ .Params.featuresHeader }}
				{{ else }}
					All Decision-making Tools in a Single Platform
				{{ end }}
			</h2>
			<div class="header-section--divider"></div>
			<ul class="enterSections js-image-block">
				{{ partial "hexBlockListB" . }}
			</ul>
		</div>
	</section>
    -->
	<!-- END: ENTER V SECTION -->

	{{ partial "default/demo-strip-CTA" . }} 

    {{ partial "get-started-steps" . }}

	{{ partial "getStarted" . }}

</div>


{{ partial "default/footer" . }}
