{{ partial "head" . }}
{{ partial "nav" . }}
<section class="titleImage privacyPol">
  <div class="titleImageWrapper container-fluid" style="background-image:{{ .Params.image}}">
    <div class="row">
      <h1 class="pagesTitle">{{.title}}</h1>
    </div>
  </div>
</section>
<section class="privacyPolicy">
  <div class="privacyPolicyWrapper container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        {{.Content}}
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</section>
{{ partial "footer" . }}
