{{ partial "head" . }}

<div class="sign-top">
    <h1 class="sign-title sign-title--signup">Sign up for a Free Trial</h1>
    <span class="sign-top__subtitle">Try the spreadsheet platform built for the digital age</span>
</div>

<div class="container container--signup">
    <div class="sign-body sign-body--signup-social">
        <div class="signup-social__text-wrap">
            <h3 class="signup-social__title signup-title">
                One-click registration
            </h3>
            <p>Use your preferred social network</p>
            <p>Questions: <a href="#">Contact us</a>.</p>
        </div>
        <ul class="signup-social__list">
            <li class="signup-social__item">
                    <a href="/accounts/linkedin/login/" class="signup-social__link signup-social__link--ln">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    <span>LinkedIn</span>
                </a>
            </li>
            <li class="signup-social__item">
                <a href="/accounts/google/login/" class="signup-social__link signup-social__link--gplus">
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                    <span>Google</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="sign-body sign-body--signup-form-wrap">
        <div class="top-login-title">
            <h2 class="signup-title">...or</h2>
            <span class="form-required">*All fields are required</span>
        </div>

        {% include "../../django/signup-form.html" %}
    </div>
</div>
{{ partial "footer" . }}
