{{ partial "hexHomeHead" . }}

<div class="homehex ht">
	<!-- TOP SECTION -->
	<div class="container">
		  <div class="home-hero__container">
			  <div class="home-hero__half-width-wrap" style="width: 100%;">  
				  <h1 class="home-hero__title" style="margin-top: 80px;text-align: center;">{{ .Params.coverHeader }}</h1>
			  </div>
		  </div>
	</div>
	<!-- END: TOP SECTION -->	
	
	
	<!-- FAQ SECTION -->
	<section class="enterV" style="background-color: #fff; padding-top: 0px;">
		<div class="container">
			<ul class="enterSections">
				<!-- LIST OF FAQ SECTIONS -->
				{{ range $el := .Params.faqSection }}
				<li class="enterSectionsA__block" style="text-align: left; margin-bottom: 1em;">
					<h2 class="enterSectionsA__block-title" style="font-size: 2em; font-weight: 900;">{{ .faqSectionTitle }}</h2>
					<section class="FAQSection__text-wrap">
						<div class="enterSectionsA__block-descr">
							<div class="faqContainer">
								{{ range $list := .Params.faqSectionContent }}
								<div class="faqSection">
								  <div class="faqSection--title">
									{{ .faqSectionSubTitle }}
								  </div>
								  
								  <ul>
									{{ range $list := .answersList }}
									<div class="faqSection--description">
									  {{ .answer | markdownify }}
									</div>
									{{ end }}
								  </ul>	
								</div>
								{{ end }}
							</div>
						</div>	
					</section>
				</li>
				{{ end }}
				<!-- END: LIST OF FAQ SECTIONS -->
			</ul>
		</div>

	</section>
	<!-- END: FAQ SECTION -->
</div>

{{ partial "hexFooter" . }}
