{{ partial "hexHomeHead" . }}

<div class="homehex ht">
	<!-- TOP SECTION -->
	<section class="home-hero">
	<div class="container">
		<div class="home-hero__container">
			<div class="whyV__row">
			
			<div class="whyV__half-width-wrap" style="width: 100%; text-align: center;">
				<h2 class="home-hero__title">{{ .Params.topTitle}}</h2>
			</div>

			<div class="whyV__half-width-wrap" style="width: 100%; text-align: center;">
				<div class="home-hero__topSubtitle">
				{{ .Params.topSubTitle | markdownify }}  
				</div>
			</div>
			
			</div>
		</div>
	</div>
	</section>
	<!-- END: TOP SECTION -->	
	
	
	<!-- FAQ SECTION -->
	<section class="homeBenefits">
		<div class="container">
			<!-- LIST OF FAQ SECTIONS -->
			{{ range $el := .Params.faqSection }}
			<div class=faqSectionContainer>
				<h2 class="enterV__headline">{{ .faqSectionTitle }}</h2>
				<div class="header-section--divider"></div>

				<div class="faqContainer">
					{{ range $list := .faqSectionContent }}
					<div class="faqSection">
						<div class="faqSection--title">
							{{ .faqSectionSubTitle }}
						</div>
						
						<ul>
							{{ range $list := .answersList }}
							<div class="faqSection--description">
							{{ .answer | markdownify }}
							</div>
							{{ end }}
						</ul>	
					</div>
					{{ end }}
				</div>
			</div>
			{{ end }}
			<!-- END: LIST OF FAQ SECTIONS -->
		</div>

	</section>
	<!-- END: FAQ SECTION -->


  <!-- BOTTOM CTA WITH VIDEO -->
  <!-- {{ partial "getStartedSignUp" . }} -->
  <!-- END: BOTTOM CTA WITH VIDEO -->
  

</div>

{{ partial "hexFooter" . }}
