.blog_containter {
    max-width: 900px!important;
}

.blog_entry {
    color: #383e4d;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 1em;
    width: 100%;
}

.blog_entry ul {
    list-style: none;
    padding: 0;
}

.blog_entry li {
    padding-left: 30px;
    position: relative;
    margin-bottom: 1.5em;
    line-height: 2.1em;

    &:before {
        content: "";
        position: absolute;
        top: 0.65em;
        left: 0;
        transform: rotate(-130deg);
        width: 0.5em;
        height: 0.2em;
        background: #0086ff;
        display: inline-block;
    }

    &:after {
        content: "";
        position: absolute;
        top: 0.3em;
        left: 0.55em;
        transform: rotate(-130deg);
        margin-right: 10px;
        margin-bottom: 3px;
        width: 0.2em;
        height: 0.8em;
        background: #0086ff;
        display: inline-block;
    }
}

.blog_entry span,
.blog_entry strong {
    font-weight: 600;
}

.blog_entry a {
    color: #0086ff;
    text-decoration: underline;
}

.blog_entry h1 {
    font-size: 34px;
    color: #383e4d;
    font-weight: 900;
    line-height: 1.2;
    text-align: center;
}

.blog_entry h2 {
    color: #383e4d;
    font-size: 28px;
    line-height: 1.2;
    font-weight: 600;
}

.blog_entry p {
    line-height: 26px;
    margin-bottom: 1em;
}

.blog_entry_author {
    font-size: 1.5em;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: rgba(81,84,107,.8);
}

.blog_list {
    color: black;
    font-size: 1.35em;
    font-weight: 300;
    margin-bottom: 1em;
    width: 100%;  
}

.blog_list h2 {
    color: #0086ff;
    font-size: 0.8em;
    font-weight: 300;
    line-height: 1.1em;
    margin-bottom: 1em;
    margin-top: 1em;
}
