.button {
    position: relative;
    text-transform: uppercase;
    font-size: 1.1em;
    padding: 1em 3em;
    border: 2px solid #0086ff;
    text-align: center;
    font-weight: 600;
    transition: all 0.1s;
    cursor: pointer;
    background: #fff;
    color: #0086ff;
    vertical-align: middle;
    display: inline-block;

    &-primary {
        color: #fff;
        background: #0086ff;
        border: none;
    }

    &-contrast {
        background: #fff;
        color: #52546c;
        border: 1px solid #fff;
    }

    &-icon {
        padding-left: 4.5em;
                          
        & > i {
            position: absolute;
            font-size: 1.8em;
            top: 50%;
            left: 1.5em;
            transform: translate(-50%, -50%);
        }

        
    }

    &-basic {
        background: #fff;
        color: rgba(0,0,0,.8);
        border: 2px solid #fff;

        &--nobg {
            background: none;
            color: rgba(0,0,0,.6);
            border: none;

            &:hover {
                box-shadow: none !important;
                top: 0 !important;
            }
        }

        &--active {
            border: 2px solid #fff;
            color: #fff;
            background: none;
        }
    }

    &-round-icon {
        color: #fff;
        background: #0086ff;
        border: none;
        width: 4em;
        height: 4em;
        padding: 0;
        border-radius: 50%;
        position: relative;

        & > i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 3em;
        }
    }

    &:hover {
        top: -2px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    }

    &:active {
        top: 2px;
        box-shadow: none;
    }
}


