.button {
    position: relative;
    text-transform: uppercase;
    font-size: 1.1em;
    padding: 1em 3em;
    border: 2px solid #0086ff;
    text-align: center;
    font-weight: 600;
    transition: all 0.1s;
    cursor: pointer;
    background: #fff;
    color: #0086ff;
    vertical-align: middle;
    display: inline-block;

    &-primary {
        color: #fff;
        background: #0086ff;
        border: none;
    }

    &-contrast {
        background: #fff;
        color: #52546c;
        border: 1px solid #fff;
    }

    &-icon {
        padding-left: 4.5em;
                          
        & > i {
            position: absolute;
            font-size: 1.8em;
            top: 50%;
            left: 1.5em;
            transform: translate(-50%, -50%);
        }

        
    }

    &-basic {
        background: #fff;
        color: rgba(0,0,0,.8);
        border: 2px solid #fff;

        &--nobg {
            background: none;
            color: rgba(0,0,0,.6);
            border: none;

            &:hover {
                box-shadow: none !important;
                top: 0 !important;
            }
        }

        &--active {
            border: 2px solid #fff;
            color: #fff;
            background: none;
        }
    }

    &-round-icon {
        color: #fff;
        background: #0086ff;
        border: none;
        width: 4em;
        height: 4em;
        padding: 0;
        border-radius: 50%;
        position: relative;

        & > i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 3em;
        }
    }

    &:hover {
        top: -2px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    }

    &:active {
        top: 2px;
        box-shadow: none;
    }
}

.btn-wrap {
    margin-top: auto;
    text-align: center;
    bottom: 0;
}

.btn-primary {
    margin-top: 2em;
    display: inline-block;
    /*font-size: 1em;*/
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    padding: 1em 2em;
    background: #0585ff;
    text-transform: uppercase;
    border-radius: 5px;
    transition: color 0.2s ease-in-out, border 0.2s ease-in-out,
    background 0.2s ease-in-out;
    border: 2px solid #fff;
    cursor: pointer;

    @media screen and (max-width: 768px) {
        padding: 14px 40px;
    }
}


.btn-pricing-card {
    margin: 1.3em auto 0.5em auto;
    display: inline-block;
    font-size: 0.9em;
    font-weight: 600;
    color: #0585ff;
    padding: 0.5em 0em;
    background: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    transition: color 0.2s ease-in-out, border 0.2s ease-in-out,
    background 0.2s ease-in-out;
    border: 2px solid #0585ff;
    cursor: pointer;
    width: 60%;
}

.btn-pricing-card:hover {
    color: #fff;
    background: #0585ff;
    border: 2px solid #0585ff;
}    


.btn-pricing-card-special {
    margin: 1.3em auto 0.5em auto;
    display: inline-block;
    font-size: 0.9em;
    font-weight: 600;
    color: #fff;
    padding: 0.5em 0em;
    background: #0585ff;
    text-transform: uppercase;
    border-radius: 5px;
    transition: color 0.2s ease-in-out, border 0.2s ease-in-out,
    background 0.2s ease-in-out;
    border: 2px solid #0585ff;
    cursor: pointer;
    width: 60%;
}

.btn-pricing-card-special:hover {
    color: #0585ff;
    background: #fff;
    border: 2px solid #0585ff;
}  
