.function-card__bg {
  background: url("/img/vimages/banner.jpg") center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  filter: blur(1px);
  opacity: 0.6;
}

.function-card {
  position: relative;
  background: #111f34;
  height: 100%;

  &:hover .function-card__bg {
    filter: blur(0);
  }

  &:hover .function-card__title {
    color: #0585ff;
  }

  @media screen and (max-width: 1024px) {
    &:hover .function-card__bg {
      filter: blur(1px);
    }

    &:hover .function-card__title {
      color: #fff;
    }
    &:active .function-card__bg {
      filter: blur(0px);
    }

    &:active .function-card__title {
      color: #0585ff;
    }
  }
}
.function-card__link {
  position: relative;
  padding: 50px 40px;
  width: 100%;
  height: 39vh;
  display: flex;
  flex-flow: column nowrap;
  color: #fff;

  @media screen and (max-width: 1371px) {
    height: auto;
  }
}
.function-card__title {
  margin: 10px 0;
  font-weight: 700;
  font-size: 29px;
  transition: color 0.1s ease-in-out;

  @media screen and (max-width: 691px) {
    font-size: 20px;
  }
}

.function-card__descr {
  font-size: 17px;
  line-height: 25px;
  font-weight: 300;
  max-width: 430px;
  @media screen and (max-width: 691px) {
    font-size: 14px;
  }
}
