.card__list {
    margin: 45px 0 0 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 1024px) {
        flex-flow: column nowrap;
        align-items: center;
    }
}

.card__list-item {
    width: 360px;
    background: #fff;
    box-shadow: 0em 0em 0.5em 2px #dcdcdc;
    padding: 15px 10px 30px;
    margin: 0 0.5em;
    transition: all 0.1s ease-out;
    /*background: linear-gradient(0deg, rgba(255,255,255,1) 50%, rgba(241,244,252,1) 75%, rgba(241,244,252,1) 100%); */

    @media screen and (--hd) {
        width: 320px;
    }

    @media screen and (max-width: 1024px) {
        width: 100%;

        &:not(:last-child) {
            margin-bottom: 25px;
        }
    }

    &.primary {
        border-bottom: 4px solid #0685ff;
    }

    &:hover {
        box-shadow: 0 0 0.5em 2px #b9b9b9;

        & .rounded-icon-wrap img {
            opacity: 1;
            /* filter repetition made on purpose (icons can be transparent) */
            filter: drop-shadow(0 0 0 #0585ff) drop-shadow(0 0 0 #0585ff) drop-shadow(0 0 0 #0585ff) drop-shadow(0 0 0 #0585ff);
        }
    }
}

.card {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    font-size: 1.2em;
}

.card__image {
  max-height: 4.5em;
 
   @media screen and (max-width: 1024px) {
     max-height: 6em;
   }	
}


.card__title-wrap {
    text-align: center;
    color: #5f6976;

    & > img {
        margin: 1em 0;
    }
}

.card__title {
    font-size: 2em;
    font-weight: 300;
    color: #0e2639;
}

.card__title__pricing {
    font-size: 1.2em;
    font-weight: 600;
    color: #50546d;
    margin-bottom: 0.5em;

    @media screen and (max-width: 1024px) {
        font-size: 2em;
    }
    @media screen and (max-width: 784px) {
        font-size: 2em;
    }		
}

.card__subtitle {
    font-weight: 400;
    list-style-type: none;
    padding: 0;
    /*opacity: 0.8;*/
    color: #0e2639;
    font-size: 0.85em;
    height: 6.5em;
    margin-bottom: 0.5em;	

    & > ul {
        list-style: none;
        padding: 0;
    }

    & ul > li {

        margin: 1em 0;
    }
   /* @media screen and (max-width: 1024px) {
        font-size: 1.4em;
        height: 5em;
    } */

    @media screen and (max-width: 1211px) {
        font-size: 0.9em;
    }
    @media screen and (max-width: 1051px) {
        font-size: 0.9em;
    }
    @media screen and (max-width: 784px) {
        font-size: 1.1em;
        height: auto;
    }		
    @media screen and (max-width: 1024px) {
        font-size: 1.15em;
        height: auto;
    }

	
	
	
    
}

.card__markdown {
    color: #5f6976;
    height: 8em;
	
    @media screen and (max-width: 1024px) {
        height: auto;
    }		
}

.card__markdown a, .card__markdown a:visited {
text-decoration: underline;
color: #0086ff;
}

.card__markdown p {
padding-left: 1em;
font-weight: 400;
color: #0e2639;
font-size: 1em;

    &:not(:last-child) {
        margin-bottom: 10px;
    }	
    @media screen and (max-width: 1024px) {
        text-align: center;
	padding-left: 0em;
	font-size: 1.4em;    
    }	
	
}

.card__markdown ul {
    margin: 0; /* 0 20px 0; */
    padding: 0;
    list-style: none;
}

.card__markdown li {
    position: relative;
    padding-left: 1.7em;
    font-weight: 400;
    color: #0e2639;
    font-size: 0.8em;

    &:not(:last-child) {
        margin-bottom: 0.5em;
    }

    /*
    & > a {
        color: inherit;
        border-bottom: 1px dashed rgba(0,0,0,.25);

        &:hover {
            border-bottom: 1px solid rgba(0,0,0,.25);
        }
    }
    */

    @media screen and (max-width: 1024px) {
        text-align: center;
        padding-left: 0em;
        font-size: 1em;
	margin: 0 auto;    
    }

    &:before {
        content: "";
        position: absolute;
        top: 10px;
        left: 0;
        transform: rotate(-130deg);
        margin-right: 10px;
        margin-bottom: 3px;
        width: 8px;
        height: 2px;
        background: #0685ff;
        display: inline-block;
    }

    &:after {
        content: "";
        position: absolute;
        top: 4px;
        left: 9px;
        transform: rotate(-130deg);
        margin-right: 10px;
        margin-bottom: 3px;
        width: 2px;
        height: 12px;
        background: #0685ff;
        display: inline-block;
    }
}


.card-limits-markdown {
    color: #5f6976;
    height: 9em;
	
    @media screen and (max-width: 1211px) {
        font-size: 0.9em;
    }	
    @media screen and (max-width: 1051px) {
        font-size: 0.9em;
    }	
    @media screen and (max-width: 1024px) {
        height: auto;
    }				
}

.card-limits-markdown a, .card-limits-markdown a:visited {
text-decoration: underline;
color: #0086ff;
}

.card-limits-markdown ul {
    margin: 0; /* 0 20px 0; */
    padding: 0;
    list-style: none;
}

.card-limits-markdown li {
    position: relative;
    padding-left: 0.3em;
    font-weight: 400;
    color: #0e2639;
    font-size: 0.8em;

    &:not(:last-child) {
        margin-bottom: 0.5em;
    }

    @media screen and (max-width: 1024px) {
        text-align: center;
        padding-left: 0em;
        font-size: 1.1em;
	margin: 0 auto;
    }	
}

.card-limits-markdown-li-wrapper {
  display: flex; 
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}


.function-card__bg {
    background: url("/img/vimages/banner.jpg") center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    filter: blur(1px);
    opacity: 0.6;
}

.function-card {
    position: relative;
    background: #111f34;
    height: 100%;

    &:hover .function-card__bg {
        filter: blur(0);
    }

    &:hover .function-card__title {
        color: #0585ff;
    }

    @media screen and (max-width: 1024px) {
        &:hover .function-card__bg {
            filter: blur(1px);
        }

        &:hover .function-card__title {
            color: #fff;
        }
        &:active .function-card__bg {
            filter: blur(0px);
        }

        &:active .function-card__title {
            color: #0585ff;
        }
    }
}
.function-card__link {
    position: relative;
    padding: 50px 40px;
    width: 100%;
    height: 39vh;
    display: flex;
    flex-flow: column nowrap;
    color: #fff;

    @media screen and (max-width: 1371px) {
        height: auto;
    }
}
.function-card__title {
    margin: 10px 0;
    font-weight: 700;
    font-size: 29px;
    transition: color 0.1s ease-in-out;

    @media screen and (max-width: 691px) {
        font-size: 20px;
    }
}

.function-card__descr {
    font-size: 17px;
    line-height: 25px;
    font-weight: 300;
    max-width: 430px;
    @media screen and (max-width: 691px) {
        font-size: 14px;
    }
}

