.card__list {
    margin: 45px 0 0 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 1024px) {
        flex-flow: column nowrap;
        align-items: center;
    }
}

.card__list-item {
    width: 400px;
    background: #fff;
    box-shadow: 0 1em 1em rgba(107, 133, 187, 0.33);
    padding: 40px 35px 30px;
    margin: 0 1em;
    transition: all 0.1s ease-out;
    /*background: linear-gradient(0deg, rgba(255,255,255,1) 50%, rgba(241,244,252,1) 75%, rgba(241,244,252,1) 100%); */

    @media screen and (--hd) {
        width: 320px;
    }

    @media screen and (max-width: 1024px) {
        width: 100%;

        &:not(:last-child) {
            margin-bottom: 25px;
        }
    }

    &.primary {
        border-bottom: 4px solid #0685ff;
    }

    &:hover {
        box-shadow: 0 1em 3.5em rgba(107, 133, 187, 0.5);

        & .rounded-icon-wrap img {
            opacity: 1;
            /* filter repetition made on purpose (icons can be transparent) */
            filter: drop-shadow(0 0 0 #0585ff) drop-shadow(0 0 0 #0585ff) drop-shadow(0 0 0 #0585ff) drop-shadow(0 0 0 #0585ff);
        }
    }
}

.card {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    font-size: 1.2em;
}

.card__title-wrap {
    text-align: center;
    color: #5f6976;

    & > img {
        margin: 2em 0;
    }
}

.card__title {
    font-size: 2em;
    font-weight: 300;
    color: #0e2639;
}

.card__title__pricing {
    font-size: 2em;
    font-weight: 600;
    color: #50546d;
    @media screen and (max-width: 1024px) {
        font-size: 2.5em;
    }	     
}

.card__subtitle {
    font-weight: 400;
    list-style-type: none;
    padding: 0;
    /*opacity: 0.8;*/
    color: #0e2639;
    font-size: 1.1em;

    & > ul {
        list-style: none;
        padding: 0;
    }

    & ul > li {

        margin: 1em 0;
    }
    @media screen and (max-width: 1024px) {
        font-size: 1.4em;
    }	    
    
}

.card__markdown {
    color: #5f6976;
}

.card__markdown ul {
    margin: 0 0 20px 0;
    padding: 0;
    list-style: none;
}

.card__markdown li {
    position: relative;
    padding-left: 2em;
    font-weight: 400;
    color: #0e2639;
    font-size: 1.2em;

    &:not(:last-child) {
        margin-bottom: 15px;
    }

    & > a {
        color: inherit;
        border-bottom: 1px dashed rgba(0,0,0,.25);

        &:hover {
            border-bottom: 1px solid rgba(0,0,0,.25);
        }
    }

    @media screen and (max-width: 1024px) {
        text-align: center;
        padding-left: 0em;
        font-size: 1.4em;
    }

    &:before {
        content: "";
        position: absolute;
        top: 0.7em;
        left: 0;
        transform: rotate(-130deg);
        margin-right: 10px;
        margin-bottom: 3px;
        width: 8px;
        height: 3px;
        background: #0685ff;
        display: inline-block;
    }

    &:after {
        content: "";
        position: absolute;
        top: 0.25em;
        left: 10px;
        transform: rotate(-130deg);
        margin-right: 10px;
        margin-bottom: 3px;
        width: 3px;
        height: 16px;
        background: #0685ff;
        display: inline-block;
    }
}

.function-card__bg {
    background: url("/img/vimages/banner.jpg") center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    filter: blur(1px);
    opacity: 0.6;
}

.function-card {
    position: relative;
    background: #111f34;
    height: 100%;

    &:hover .function-card__bg {
        filter: blur(0);
    }

    &:hover .function-card__title {
        color: #0585ff;
    }

    @media screen and (max-width: 1024px) {
        &:hover .function-card__bg {
            filter: blur(1px);
        }

        &:hover .function-card__title {
            color: #fff;
        }
        &:active .function-card__bg {
            filter: blur(0px);
        }

        &:active .function-card__title {
            color: #0585ff;
        }
    }
}
.function-card__link {
    position: relative;
    padding: 50px 40px;
    width: 100%;
    height: 39vh;
    display: flex;
    flex-flow: column nowrap;
    color: #fff;

    @media screen and (max-width: 1371px) {
        height: auto;
    }
}
.function-card__title {
    margin: 10px 0;
    font-weight: 700;
    font-size: 29px;
    transition: color 0.1s ease-in-out;

    @media screen and (max-width: 691px) {
        font-size: 20px;
    }
}

.function-card__descr {
    font-size: 17px;
    line-height: 25px;
    font-weight: 300;
    max-width: 430px;
    @media screen and (max-width: 691px) {
        font-size: 14px;
    }
}
