.studies {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  padding: 50px 10px;
  background: linear-gradient(to top, #f1f5fa, #fff);
}

.studies__title {
  text-align: center;
  font-weight: 400;
  color: #555;
  font-size: 3rem;
  margin-bottom: 1rem;

  @media screen and (max-width: 600px) {
    font-size: 2.5rem;
  }
}

.studies__link {
  text-align: center;
  color: #0776df;
  text-decoration: underline;
  font-weight: 600;
  margin-bottom: 2rem;
}

.studies__blocks {
  list-style: none;
  margin: 0;
  padding: 0;
}

.studies__block {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  margin-bottom: 5rem;
  padding: 0;

  @media screen and (max-width: 800px) {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  &:nth-child(2n) {
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;

    @media screen and (max-width: 800px) {
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.studies__img-wrap {
  margin-right: 5rem;
  position: relative;

  @media screen and (max-width: 800px) {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

.studies__block:nth-child(2n) .studies__img-wrap {
  margin-right: 0;
  margin-left: 5rem;

  @media screen and (max-width: 800px) {
    margin-left: 0;
  }
}

.studies__img {
  display: block;
  width: 190px;

  @media screen and (max-width: 800px) {
    max-width: 600px;
    width: 100%;
  }
}

.studies__block-title {
  font-weight: 600;
  color: #50546d;
  font-size: 1.5625rem;
}

.studies__block-descr {
  font-weight: 400;
  font-style: italic;
  color: #767575;
  font-size: 1.3125rem;
  display: block;
  margin-bottom: 0.5rem;

  &:before {
    content: "";
    background: url(/img/v_quote.png) center center no-repeat;
    background-size: contain;
    width: 30px;
    height: 22px;
    margin: 0 5px;
    display: inline-block;
  }

  &:after {
    content: "";
    background: url(/img/v_quote.png) center center no-repeat;
    background-size: contain;
    width: 30px;
    height: 22px;
    display: inline-block;
    margin: 0 5px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

.studies__block-author {
  color: #595959;
  font-weight: 400;
  font-size: 1.0625rem;
  margin-bottom: 1.5rem;
}

.studies__block-link {
  font-weight: 400;
  color: #0776df;
  text-transform: uppercase;
  font-size: 1.3125rem;
}
