.casestudies-title-wrap {
  background: url("/img/vimages/casestudies.jpg") center center no-repeat;
  background-size: cover;
}

.case-studies__title {
  text-align: center;
  color: #fff;
  font-size: 2.375rem;
  font-weight: 400;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 0;

  @media (max-width: 600px) {
    font-size: 1.8rem;
  }
}

.casestudies__list {
  margin: 50px 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
}
.casestudies__item {
  border: 1px solid #e5e5e9;
  border-radius: 5px;
  width: calc(50% - 30px);
  margin-bottom: 30px;
  &:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  transition: box-shadow 0.2s ease-in-out;
  &:hover {
    box-shadow: 0 0 20px 0 #ececec;
  }

  @media screen and (max-width: 1021px) {
    width: 100%;
    &:not(:nth-child(2n)) {
      margin-right: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.casestudies__link {
  width: 100%;
  display: block;
  padding: 20px 30px;

  @media screen and (max-width: 768px) {
    padding: 20px;
  }
}

.casestudies__top {
  border-bottom: 1px solid #e5e5e9;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 57px;
}

.casestudies__company-wrap {
  display: block;
  width: 20%;
}
.casestudies__company-wrap > img {
  display: block;
  max-width: 100%;
  max-height: 35px;
}

.casestudies__company-person-wrap {
  display: flex;
  align-items: center;
  max-width: 300px;
}

.casestudies__company-person-img {
  width: 60px;
  display: block;
  border-radius: 50%;
}
.casestudies__company-person-img > img {
  max-width: 100%;
  display: block;
}
.casestudies__company-person-img + div {
  display: flex;
  flex-flow: column nowrap;
  margin-left: 20px;
  flex: 1 0;
}

.casestudies__company-person-name {
  color: #52556c;
  font-size: 16px;
  font-weight: 700;
}
.casestudies__company-person-company-name {
  font-weight: 300;
  color: #5e6f85;
  font-size: 16px;
}

.casestudies__bottom {
  padding-top: 30px;
}

.casestudies__title {
  color: #383e4d;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 25px;
}

.casestudies__tag-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
}

.casestudies__tag-item {
  margin-top: 5px;
  &:not(:last-child) {
    margin-right: 15px;
  }
  position: relative;
  background: #fafafa;
  color: #383e4d;
  font-size: 14px;
  line-height: 16px;
  padding: 5px 10px;
  font-weight: 400;
  border-radius: 5px 0 0 5px;
  &:after {
    content: "";
    border: 13px solid transparent;
    border-left: 10px solid #fafafa;
    position: absolute;
    right: -22px;
    top: 0;
  }
}

.paginations {
  margin-top: 20px;
}

.paginations__list {
  display: flex;
  list-style: none;
  margin: 0 0 50px 0;
  padding: 0;
  justify-content: center;
}

.paginations__item {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eef1f6;
  border-radius: 5px;
  margin: 0 2.5px;
  border: 1px solid transparent;
  &:hover {
    border-color: #3ebabb;
  }
  &:hover .paginations__link {
    color: #3ebabb;
  }
}
.paginations__item--active {
  border-color: #3ebabb;
}
.paginations__item--active .paginations__link {
  color: #3ebabb;
}
.paginations__link {
  display: flex;
  width: 100%;
  height: 100%;
  color: #717e91;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}


.caseStudy-summary {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


/* SUMMARY CARD */
.caseStudy-summary__item {
  padding: 15px;
  background-color: #ffffff;
  box-shadow: 0 0 20px 0 #ececec;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: calc(33% - 15px);
  min-width: 350px;
  margin-bottom: 40px;
}

.caseStudy-summary__item:nth-child(2n) {
  margin-left: 25px;
  
    @media screen and (max-width: 771px) {
      margin-left: 0;
    }  
}

.caseStudy-summary__item:nth-child(3n) {
  margin-left: 25px;
  
      @media screen and (max-width: 771px) {
      margin-left: 0;
    }  
}

/* END SUMMARY CARD */


/* SUMMARY CARD TEXT */
.caseStudy-summary__title, .caseStudy-summary__text {
  width: 100%;
  font-family: "Open Sans";
  line-height: 24px;
}

.caseStudy-summary__title{
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 0;
  color: #50546d;
  text-align: center;
  padding: 10px;
}

.caseStudy-summary__text{
  font-size: 16px;
  font-weight: 400;
  color: #383e4d;
  opacity: .95;
  text-align: left;
}

.caseStudy-summary__text ul{
  padding-inline-start: 15px;
  text-indent: -18px;
  margin-left: 10px;
  margin-right: 10px;
}

.caseStudy-summary__text li{
  margin-bottom: 14px;
  list-style: none;
  
     &:before {
       content: "";
       border: solid #0086ff;
       border-width: 0 2px 2px 0;
       display: inline-block;
       padding: 3px;
       transform: rotate(315deg);
       margin-right: 10px;
    }
}

/* END SUMMARY CARD TEXT */
