.contacts-title-wrap {
  padding: 100px 0;

  @media screen and (max-width: 768px) {
    padding: 30px 0;
  }
}

.contacts-page {
  padding: 70px 0;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 1021px) {
    flex-flow: row wrap;
  }
  @media screen and (max-width: 768px) {
    padding: 40px 0;
  }
}

.contact-page__contacts-wrapper {
  /*margin-right: 70px; */
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}


.contact-page__contacts-card {
  margin: 0 0 40px 0;
  padding: 40px;
  border: 1px solid #efefef;
  border-radius: 15px;
  box-shadow: 0 0 10px 2px rgb(231 231 231 / 55%);
  width: 540px;
  max-width: 46%;
  margin: 2%;

  @media screen and (max-width: 768px) {
    padding: 30px;
    max-width: 100%;
    margin: 0 0 20px 0;
  }

}

.contact-page__contacts-card-top {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 0 20px 0;

  @media screen and (max-width: 768px) {
    justify-content: center;
  }
}

.contact-page__location-flag {
  max-height: 30px;

  @media screen and (max-width: 768px) {
    max-height: 30px;
  }
}

.contact-page__location-title {
  font-size: 1.5em;
  color: #383e4d;
  margin: 0 0 0 10px;
}



.contact-page__location {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
}

.contacts-page__item--mail {
  width: 179px;
}

.contacts-page__item--phone,
.contacts-page__item--email {
  width: 150px;
}

.contacts-page__item--form {
  width: 470px;
  flex-shrink: 0;
  @media screen and (max-width: 1021px) {
    width: 100%;
  }
}

.contacts-page__title {
  color: #383e4d;
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 6px 0;

  @media screen and (max-width: 768px) {
    margin-bottom: 5px;
  }
}

.contacts-page__address,
.contacts-page__phone,
.contacts-page__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

.contacts-page__link {
  color: #0585ff;
}  


.contacts-page__address {
  color: #383e4d;
  @media screen and (max-width: 541px) {
    margin-bottom: 0;
  }
}

.contacts-page__phone {
  color: #383e4d;
}

.contacts-page__address p {
  margin-bottom: 0;
}

.contacts-page__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contacts-page__item {
  display: flex;
  flex-flow: column nowrap;
  min-width: 200px;
  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @media screen and (max-width: 541px) {
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.contacts-page__social-wrap {
  margin-top: auto;
}


.contact__form-item {
  position: relative;
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.contact__form-input {
  width: 100%;
  background: #f5f6f9;
  border-radius: 5px;
  border: none;
  color: #5e6f85;
  font-size: 15px;
  padding: 14px;
  font-weight: 400;

  &::-webkit-input-placeholder {
    color: rgba(94, 111, 133, 0.8);
    font-family: "Open Sans", sans-serif;
  }
  &::-moz-placeholder {
    color: rgba(94, 111, 133, 0.8);
    font-family: "Open Sans", sans-serif;
  } /* Firefox 19+ */
  &:-moz-placeholder {
    color: rgba(94, 111, 133, 0.8);
    font-family: "Open Sans", sans-serif;
  } /* Firefox 18- */
  &:-ms-input-placeholder {
    color: rgba(94, 111, 133, 0.8);
    font-family: "Open Sans", sans-serif;
  }
}

.contact__form-input--message {
  resize: none;
  height: 120px;
}

.contact__form-input--message + .contact__form-state {
  bottom: 8px;
}

.contact__form-state {
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 1px;
  background-color: rgba(82, 85, 108, 0.2);
  z-index: 99;
}

.contact__form-state--invalid {
  background: rgb(248, 3, 3);
}

.contact__form-item--submit {
  text-align: right;
}

.contact__form-submit {
  color: #fff;
  border: none;
  text-transform: uppercase;
  background: #0585ff;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  padding: 17px 60px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.1s ease-in-out;
  &:hover {
    background: #0585ff;
  }
}

.contacts-page__map-wrap {
  background: #f5f6f9;
  display: flex;
  padding-top: 215px;

  @media screen and (max-width: 531px) {
    padding-top: 0;
  }
}

.contacts-page__map-column {
  width: 100%;
  position: relative;
}

#map {
  width: 100%;
  height: 405px;
}

.contacts-page__map-img {
  width: 100%;
  height: 405px;
}

.contacts-page__map-title-wrap {
  text-align: center;
  max-width: 285px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -165px;
  z-index: 99;

  @media screen and (max-width: 531px) {
    display: none;
  }
}
.contacts-page__map-city {
  color: #52556c;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}

.contacts-page__map-address {
  color: #52556c;
  font-size: 16px;
  font-weight: 300;
}

.contacts-page__map-address-img-wrap {
  border-radius: 50%;
  width: 192px;
  height: 192px;
  margin: 15px auto 0 auto;
}
.contacts-page__map-img {
  overflow: hidden;
}
.contacts-page__map-img img {
  width: 100%;
  display: block;
}

.grid_container2 {
  /*
  max-width: 1440px;
  */
  grid-template-columns: repeat(2,1fr);
  display: grid;
  max-width: 1400px;
  margin: 0 auto;

  @media screen and (max-width: 800px){
    grid-template-columns: repeat(1,1fr);
  }
}



.grid_container2 > div {
  /*
  padding: 4em 1em;
  */
  margin: 4em 2em;

  transition: box-shadow 0.2s ease-in-out;
&:hover {
   box-shadow: 0 5px 40px #dbddec;
 }
}

.grid_container2 > div > div {

  border: 1px solid lightgrey;

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.overlined2 {
  margin: 10px;
  border-top: 1px solid grey;
  padding: 5px;
}