.cookies {
  position: fixed;
  padding: 1rem 2rem;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  left: 0;
  min-height: 50px;
  bottom: 0;
  right: 0;
  background: #fff;
  display: none;
}

.cookies--show {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.cookies__text {
  margin-right: auto;
}

.cookies__yes {
  border: none;
  background: none;
  padding: .5rem 1rem;
  border: 1px solid #595959;
  border-radius: 5px;
  color: #595959;
  margin-right: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.cookies__no {
  text-decoration: none;
  border: none;
  border-radius: 5px;
  background: none;
  padding: .5rem 1rem;
  border: 1px solid #595959;
  color: #595959;
  font-size: 1rem;
}
