.cover {
    display: flex;
    position: relative;
    margin: 0 -var(--global-padding);
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 4em 0;
    min-height: 14em;

    @media screen and (--hd) {
        margin: 0 -var(--padding-hd);
    }

    @media screen and (--tablet) {
        margin: 0;
    }

    &-video {
        width: 100%;
        margin: -4em 0;
        background: #000;
    }

    &-video--content {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: flex-end;
        padding: 8em 0;
        top: 0;
        background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,1));

        @media screen and (max-width: 1500px) {
            padding: 4em 0;
        }

        & > .cover-header {
            padding: 0;
            font-size: 3em;
            @media screen and (max-width: 600px) {
                font-size: 1.6em;
                font-weight: 900;
            }
        }

        & > .cover-header--sub {
            padding: 0;
            font-size: 1.8em;
            @media screen and (max-width: 600px) {
                font-size: 1.2em;
            }
        }

                           & .cover-buttons--wrap {
                               @media screen and (max-width: 600px) {
                                   font-size: 0.9em;
                                   flex-direction: row;
                               }
                           }

    }

    &.nobg {
        padding: 2em 0;

        & > img {
            max-height: 750px;

            @media screen and (--hd) {
                max-height: 480px;
            }
        }

        
        & > .cover-header,
        & > .cover-header--sub {
            color: #50546d;
            text-shadow: none;
            padding: 0;
        }
    }
}

#presentation {
    @media screen and (--tablet) {
        display: none;
    }
}

.cover-header {
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    font-size: 2.5em;
    text-shadow: 2px 2px 0px rgba(0,0,0,.35);
    margin: 0;

    @media screen and (--hd) {
        padding: 0 var(--padding-hd);
    }

    @media screen and (--tablet) {
        padding: 0;
    }
}

.cover-header--sub {
    font-size: 1.5em;
    font-weight: 400;
    display: block;
    text-align: center;
    color: #fff;
    text-shadow: 0 2px 3px rgba(0,0,0,.3);
    padding: 0 var(--global-padding);
    margin-top: 1em;

    @media screen and (--hd) {
        padding: 0 var(--padding-hd);
    }

    @media screen and (--tablet) {
        padding: 0;
    }

    & > p {
        margin-top: 1.5em;
    }
}

.cover-buttons--wrap {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    margin-top: 2em;

    & > * {
        margin: 1em;
    }

    @media screen and (max-width: 500px) {
        flex-direction: column;
    }
}
