.demoSections {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0;
}

.demoSection__block {
    width: 100%;
    display: block;
    position: relative;
    margin-bottom: 0em;

    &:not(:last-child) {
        margin-bottom: 4em;
     }
}

.demoSection__block-title {
    font-size: 32px;
    color: #383E4D;
    font-weight: 600;
    line-height: 1.4;
    text-align: center;
}


.demoSection__block-descr {
    color: #383E4D;
    font-size: 16px;
    margin-bottom: 1em;
    width: 100%;
    font-weight: 400;
}

.demoSection__block-descr ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    @media screen and (max-width: 768px) {
        flex-direction: column;
        align-content: center;
    }
}

.demoSection__block-descr li {
    padding-left: 30px;
    position: relative;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.4;

&:before {
     content: "";
     position: absolute;
     top: 0.68em;
     left: 0;
     transform: rotate(-130deg);
     width: .5em;
     height: 2px;
     background: #0086ff;
     display: inline-block;
 }
/*
&:after {
     content: "";
     position: absolute;
     top: 4px;
     left: .57em; 
     transform: rotate(-130deg);
     margin-right: 10px;
     margin-bottom: 3px;
     width: 2px;
     height: .8em; 
     background: #0086ff;
     display: inline-block;
 } 
*/

@media screen and (max-width: 800px) {
    text-align: left;
}
}

.demoSection__block-descr span,
.demoSection__block-descr strong {
    font-weight: 600;
}

.demoSection__block-descr a {
    color: #0086ff;
}


.demoSection__body {
    position: relative;
    padding: 2em 2em;
    display: flex;
    flex-direction: column;
    max-width: 50%;
    align-items: center;
    width: 540px;
    max-width: 46%;
    margin: 2%;
    background-color: #fff;
    border: 1px solid #efefef;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 1px rgb(228 228 228 / 55%);
    @media screen and (max-width: 768px) {
        max-width: 100%;
        padding: 2em;
        @media (max-width: 769px) {
            padding: 1.5em;
        }
    }
}

.demoSection__body--img-wrap {
    width: 90%;
    position: relative;
    transition: all 0.3s;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 1px rgb(228 228 228 / 55%);

&:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

/* effect for button when hovering on container */
&:hover .button {
    background-color: rgb(5, 133, 255, 0.9);
}

@media screen and (max-width: 800px) {
    width: 100%;
    justify-content: center;
}

&:hover img {
    filter: grayscale(80%);
 }

& .button {
      position: absolute;
      left: 41%;
      top: 35%;
      transition: all 0.3s;
      box-shadow: 0 0 10px rgb(0,0,0,.6)!important;
      padding: 0!important;
      border: 2px solid #fff!important;
      border-radius: 10px!important;
      color: rgb(255 255 255 / 90%)!important;
      background-color: rgba(22, 24, 30, 0.85);
    
      &:hover {
        background-color: rgb(5, 133, 255, 1);
        box-shadow: 0px 0px 20px rgb(5, 133, 255, / 60%)!important;
      }

      @media screen and (max-width: 1201px) {
        left: 39.2%;
        top: 31.7%;

        @media (max-width: 991px) {
            left: 34.8%;
            top: 23.2%;

            @media (max-width: 801px) {
                left: 34.4%;
                top: 23.7%;

                @media (max-width: 769px) {
                    left: 42%;
                    top: 36%;
                }
            }
        }
      }
  }
}

.demoSection__body--img-wrap__img {
    transition: all 0.2s;
    width: 100%;
    display: flex;
}

.demoSection__divider {
    width: 90%;
    height: 1px;
    background-color: #e5e5e5;
    margin: 1em auto;
    border-radius: 2px;
}

.demoSectionTitleDescContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 768px) {
        margin: 1em 0;
        text-align: center;
    }
}

.demoSection--title{
    color: #383e4d;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.44;
    margin: 1em 0 0.5em;
    text-align: center;
}

.demoSection__text-wrap {
    display: inline-block;
    width: 100%;
}

.demoText{
    font-size: 16px;
    line-height: 1.44;
    color: #383E4D;
    font-weight: 400;
    text-align: center;
}

.demoPopupButtonContainer {
    display: flex;
    width: 889px; /* YT iframe size */
    max-width: 100%;
    justify-content: center;
}

.btn-demoPopupCTA {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 0;
    text-transform: none;
    color: #fff;
    background: #0585ff;
    font-weight: 700;
    margin: 2em 2em;
    padding: 1em 1em;
    border-radius: 4px;
    border: 2px solid #fff;
    cursor: pointer;
    transition: color 0.2s ease-in-out, border 0.2s ease-in-out, background 0.2s ease-in-out;
    font-size: 1em;
    max-width: 40%;
    
    @media screen and (max-width: 769px) {
        margin: 2em 1em;
    }
}

.demo-section--divider {
    width: 48px;
    height: 4px;
    background-color: #0685ff;
    margin: 2em auto 2em auto;
    border-radius: 2px;
}





