.faqSectionContainer {

}

.faqContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faqSection {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    max-width: 900px;
    border-bottom: 1px solid #e2e2e2;
    padding: 2em 0 0 0;

    @media screen and (max-width: 1024px) {
        width: 100%;
    }

    &:first-child {
        padding: 0;
    }
}

.faqSection ul{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s linear;
    padding: 0 4em;

    @media screen and (max-width: 1024px) {
        padding: 0 2em;
    }
}

.faqSection--title{
    color: #383e4d;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.44;
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 0 0 0 0.5em;
}

.faqSection--title:after{
    content: '';
    border: solid #0086FF;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 6px;
    transform: rotate(45deg);
    transition: all .3s linear;
    position: absolute;
    right: 3px;
    top: 1px;
}

.faqSection--title.opened:after{
    transform: rotate(225deg);
    top: 10px;
}

.faqSection--title.opened + ul{
    max-height: 1600px;
}

.faqSection--description {
    color: #383e4d;
    font-size: 16px;
    line-height: 1.44;
    margin-bottom: 1em;
    width: 100%;
    font-weight: 400;

    &:first-child {
        margin-top: 1em;
    }
  }

  .faqSection--description span,
  .faqSection--description strong {
    font-weight: 600;
  }
  
  .faqSection--description a {
    color: #0086ff;
    text-decoration: none;
    cursor: pointer;
  }