.fp1st {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  text-align: center;
  padding: 40px 10px 0;
  background-size: cover;
}

.fp1st__title {
  font-size: 2.375rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 1rem;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);

  @media screen and (max-width: 600px) {
    font-size: 1.8rem;
  }
}

.fp1st__title p {
  margin: 0;
}

.fp1st__under-title {
  font-size: 1.25rem;
  font-weight: 400;
  color: #fff;
  max-width: 850px;
  margin-bottom: 2rem;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.fp1st__btns-wrap {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 7rem;

  @media screen and (max-width: 850px) {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.fp1st__link {
  text-transform: uppercase;
  font-size: 1.375rem;
  padding: 1rem 0;
  width: 250px;
  color: #fff;
  border: none;
  border-radius: 2rem;
  text-align: center;

  &:not(:last-child) {
    margin-right: 2rem;

    @media screen and (max-width: 850px) {
      margin-right: 0;
      margin-bottom: 2rem;
    }
  }

  &--sign-up {
    background: #0086ff;
    position: relative;

    &:before {
      content: "* no credit card required";
      position: absolute;
      text-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
      color: #fff;
      bottom: -1.5rem;
      left: 0;
      width: 100%;
      text-align: center;
      font-size: 1rem;
      text-transform: lowercase;
    }
  }

  &--request {
    background: #0086ff;
  }

  &--btn {
    background: #595959;
    padding: 1.1rem 0;
    cursor: pointer;
  }
}

.fp1st__img {
  width: 100%;
  max-width: 1200px;
}

.fp1st__popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  display: none;
  flex-direction: column;
}

.popup--show {
  display: flex;
}

.fp1st__iframe-wrap {
  position: relative;
  max-width: 100%;
}

.fp1st__iframe-wrap iframe {
  max-width: 100%;
}

.fp1st__popup-close {
  position: absolute;
  cursor: pointer;
  right: 0.5rem;
  top: -30px;
  width: 20px;
  height: 20px;
  border: none;
  background: linear-gradient(
      45deg,
      transparent 46%,
      white 46%,
      white 54%,
      transparent 54%
    ),
    linear-gradient(
      135deg,
      transparent 46%,
      white 46%,
      white 54%,
      transparent 54%
    );
}

.fp2nd {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
  padding: 50px 15px;
}

.fp2nd__section {
  width: 100%;
  margin-bottom: 50px;
}

.fp2nd__title {
  text-align: center;
  font-size: 29px;
  font-weight: 700;
  color: #52556c;
}

.fp2nd__cards {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
}

.fp2nd__card {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  padding: 20px 10px;
  margin: 20px 10px;
  text-align: center;
  color: #595959;
  width: 100%;
  max-width: 300px;
  cursor: pointer;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  border-radius: 5px;

  &:hover {
    box-shadow: 0 5px 40px #dbddec;
  }
}

.fp2nd__card-image-wrap {
  height: 90px;
  margin-bottom: 20px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}

.fp2nd__card-image {
  max-height: 100%;
}

.fp2nd__card-title {
  margin-bottom: 10px;
  font-size: 1.25rem;
  font-weight: 500;
}

.fp2nd__card-text {
  font-size: 1rem;
}

.fp3rd {
  background: rgba(0, 0, 0, 0.5) center center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 50px 10px 150px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
}

.fp3rd__title {
  color: #fff;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  width: 100%;
  max-width: 800px;

  @media screen and (max-width: 600px) {
    font-size: 2.5rem;
  }
}
