.getStarted-section {
    padding: 80px 0;
    background-color: #0086ff;
    background-size: 100%,100%;
    background-repeat: no-repeat;
    background-position-x: calc(100% - -47vw);
    background-position-y: calc(100% - -11vw);
}
@media screen and (max-width: 800px) {
    .getStarted-section {
        background-image: none!important;
    }
}
@media screen and (max-width: 991px) {
    .getStarted-section {
        background-size: 200%,200%;
        background-position-x: calc(100% - -144vw);
        background-position-y: calc(100% - -27vw);
    }
}

.homeHex-provides {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    flex-basis: 0;

@media screen and (max-width: 800px) {
    background: none;
    flex-direction: column-reverse;
    padding-bottom: 50px;
}
}

.homeHex-provides__header{
    margin-top: 15px;
    font-size: 52px;
    line-height: 1.44;
    color: #181818;
    text-align: left;
    font-weight: 700;
@media screen and (max-width: 800px) {
    text-align: center;
    font-size: 30px;
}
}

.homeHex-provides__img-wrap {
    width: 48%;
    position: relative;
    transition: all 0.3s;

@media screen and (max-width: 800px) {
    width: 100%;
    justify-content: center;
}

&:hover img {
     /* filter: drop-shadow(0 0 1.5em #0086ff) grayscale(200%); */
 }

& .button {
      position: absolute;
      left: 50%;
      top: 50%;
      transition: all 0.3s;
      transform: translate(-50%, -50%);
      font-size: 1.2em;
      pointer-events: none;
      /* box-shadow: 0 2px 4px rgba(0,0,0,.3); */
      background-color: #282828;


      @media screen and (max-width: 991px) {
        transform: translate(-60%,-210%);

        @media (max-width: 800px) {
            transform: translate(-50%, -50%);
        }
      }
  }
}

.homeHex-provides__img {
    transition: all 0.2s;
    width: 100%;
    cursor: pointer;
}

.homeHex-provides__wrap {
    width: 48%;
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;


@media screen and (max-width: 800px) {
    width: 100%;
    align-items: center;
}
}

.homeHex-provides__list {
    list-style: none;
    margin: 0 0 30px;
    padding: 0;
}

.homeHex-provides__item {
    position: relative;
    line-height: 1.4;
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
    color: #181818;
    font-size: 22px;
    text-align: left;
    padding-left: 40px;
    font-weight: 600;

&:before {
     content: "";
     position: absolute;
     top: 0.6em;
     left: 0;
     transform: rotate(-130deg);
     width: 0.5em;
     height: 0.2em;
     background: #fff;
     display: inline-block;
 }

&:after {
     content: "";
     position: absolute;
     left: 0.55em;
     top: 0.25em;
     transform: rotate(-130deg);
     margin-right: 10px;
     margin-bottom: 3px;
     width: 0.2em;
     height: 0.8em;
     background: #fff;
     display: inline-block;
 }

}
