.hexNav {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: flex;

@media screen and (max-width: 1201px) {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
    width: 230px;
    z-index: 999;
    padding: 0;
    width: 100%;
    margin-left: 0;
    transform: translateX(-100%);
    transition: transform 0.1s ease-in-out;
    max-height: 100vh;
    overflow-y: scroll;
    top: 78px;

& > ul {
      width: 100%;
      padding: 0 !important;
  }

& > ul > li {
      padding: 0.25em 2em;

&:not(:last-child) {
     border-bottom: none;
 }
}
}
}

.hexNav__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

@media screen and (max-width: 1201px) {
    flex-flow: column nowrap;
    display: block;

&:not(:last-child) {
     margin-bottom: 25px;
 }
}
}

.hexNav__item {
    position: relative;
}

.hexNav__link {
    color: #383E4D;
    font-size: 14px;
    transition: background 0.1s ease-in-out, color 0.1s ease-in-out;
    padding: 0.5em 1em;
    margin: 0 0.25em;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    position: relative;
    height: 3em;


& > span > img {
      display: block;
      max-height: 1.8em;
  }


&:hover {
     background: #fff;
     color: #0585ff;
 }

&--primary {
     color: #fff !important;
     font-weight: 700 !important;
     background: #0585ff !important;
     padding: 0.5em 2em !important;

@media screen and (max-width: 1201px) {
    background: none !important;
    color: #0585ff !important;
    padding: 0 !important;
}
}

&--active {
     background: #fff;
     color: #0585ff;
 }

@media screen and (max-width: 1201px) {
    padding: 0;
    font-weight: 400;
}
}

.dropdown-arrow {
    height: 19px;
    transform: translateY(-2px);
    width: 20px;
}

.dropdown-wrap {
    position: absolute;
}

.dropdown-toggle {
    width: 250px;
    position: absolute;
    top: 50px;
    left: 5px;
    border-radius: 5px;
    display: none;
    background-color: #f2f3f7;
    border: 1px solid #dcdeec;
    box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.07);
    z-index: 9999;
    background: #fff;

@media screen and (max-width: 1201px) {
    position: static;
    background: transparent;
    width: auto;
    margin: 0 0em;
    border: none;
    box-shadow: none;
    border-radius: 0.5em !important;
    overflow-y: scroll !important;
}
}
.hexHeader.scrolled .dropdown-toggle {
    top: 55px;
}
.dropdown-toggle--active {
    display: flex;
}

.dropdown-toggle--multicol {
    border-radius: 5px;
    width: auto;
    position: fixed;
    left: 12%;
    top: 85px;
    overflow: hidden;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #f2f3f7;
    transition: top .2s linear;

@media (max-width: 1201px) {
    border-radius: 0;
    position: static;
    left: 0;
    top: 0;
    transform: none;
    margin: 0;
}
}
.hexHeader.scrolled .dropdown-toggle--multicol {
    top: 70px;
}

.dropdown-toggle--left {
    width: 325px;
    background-color: #f7f8fc;
    padding: 30px;
}

.dropdown-toggle--left__link {
    padding: 0;
}

.dropdown-toggle--left .dropdown-toggle--left__link:hover {
    background: none;
}
.dropdown-toggle--left__link:hover .dropdown-toggle--left__img-desc,
.dropdown-toggle--left__link:hover .dropdown-toggle--left__title {
    text-decoration: underline;
}

.dropdown-toggle--left__title {
    margin: 0;
    font-size: 2em;
    color: #717383;
}

.dropdown-toggle--left__img {
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
}

.dropdown-toggle--left__img > img {
    width: 200px;
}
.dropdown-toggle--left__img-desc {
    margin-top: 10px;
    color: #5e6f85;
    font-weight: 300;
    line-height: 25px;
    display: block;
}

.dropdown-toggle--right {
    padding: 33px 40px;
    border-left: 1px solid #dcdeec;
    flex: 1;
    display: flex;
    flex-flow: row wrap;
}
.dropdown-toggle__group {
    margin-bottom: 15px;
    width: 190px;
}
.dropdown-toggle__group:not(:last-child) {
    margin-right: 20px;
}

.dropdown-toggle__group-title {
    color: #52556c;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 15px 10px;
}

.dropdown-toggle__group-list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.dropdown-toggle__group-list-item-link {
    font-size: 1em;
    line-height: 16px;
    padding: 8px 10px;
    color: #52556c;
    display: block;
    
    @media screen and (max-width: 1201px) {
        padding: 0.71em 0.3em;
    }
}


.nav--homepage-header .dropdown-toggle__group-list-item-link {
    color: #fff;

@media screen and (max-width: 1201px) {
    color: #52556c;
}
}

.dropdown-toggle__group-list-item-link:hover {
    background: #f9f9f9;
    color: #0585ff;
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100vh;
    z-index: 999;
    display: none;
    -webkit-overflow-scrolling: touch;

& iframe {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
}

.overlay--active {
    display: block;
}
.body-fixed .hexHeader{
    background-color: white;
    transition: all .3s linear;
& > .container {
     max-width: 100%;
 }
& #logo{
      padding-left: 10px;

  }
}

@media screen and (max-width: 1201px) {
    .body-fixed {
        height: 100vh;
        width: 100%;
        overflow: hidden;
        position: relative;
    }
    .nav--active {
        transform: translateX(0);
        z-index: 99999;
        box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
        top: 78px;
    }
}

.white-page-menu {
    color: #52556c;
}

.blue-request {
    background: #0585ff;
    padding: 10px 25px;
    border-radius: 0.5em;

@media screen and (max-width: 1201px) {
    padding: 0;
    background: transparent;
}
&:hover {
     color: #fff !important;
 }
}

.dropdown__info {
    padding: 30px 30px 15px;
    width: 300px;
    /* border-right: 1px solid lightgrey; */
    background: #ffffff;

@media (max-width: 1201px) {
    display: none;
}
}

.dropdown__info-title {
    color: #383e4d;
    font-size: 1.2em;
}

.dropdown__info-img {
    display: block;
    max-height: 80px;
    margin: 0 auto 15px;
}

.dropdown__info-descr {
    line-height: 1.6;
    color: #383e4d;
}

.dropdown {
@media (max-width: 1201px) {
    width: 100%;
}
}

.dropdown-section {
    background: #fafafa;
    margin: 0;
    position: relative;

@media (max-width: 1201px) {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
}

.dropdown-section__cols {
    margin: 0 auto;
    padding: 1.5em;
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: flex-start;
    max-width: 1250px;
    flex-wrap: wrap;

@media (max-width: 1000px) {
    justify-content: space-between;
}

@media (max-width: 1201px) {
    padding: 0 !important;
    max-width: none !important;
}
}

.dropdown-section__col {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #767575;
    min-width: 240px;

@media (max-width: 1201px) {
    text-align: left !important;
    width: 100%;
    margin-bottom: 1em;
}

@media (max-width: 1201px) {
    width: 100%;
}

@media (max-width: 1000px) {
    width: 100%;
}
}

.dropdown-section__title {
    text-transform: none;
    font-size: 1em;
    padding: 0.7em 0.7em;
    font-weight: 900;
    color: #383e4d;
    margin-bottom: 0em;

@media screen and (max-width: 1201px) {
    display: block;
    width: 100%;
    background: #ffffff;
    margin: 0 !important;
    border-bottom: none;
    font-size: 1.1em;
    padding: 0.5em 0.2em;
}
}

.dropdown-section__group-list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.dropdown-section__group-link {
    font-size: 1em;
    line-height: 0.5em;
    padding: 0.9em 0.7em;
    border-radius: 0.5em;
    color: #383e4d;
    display: block;

@media screen and (max-width: 1201px){
    padding: 1.2em 0.2em;
    border-radius: 0;
    border-bottom: none;
}
}

.dropdown-section__group-link:hover {
    background: #fafafa;
    color: #0585ff;
}

.dropdown__wrapper {
    display: none;
}

.dropdown__all-link {
    padding: 8px 10px;
    min-width: 100px;
    text-align: center;
    color: #0585ff;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 0.5em;

&:hover {
     background: #f9f9f9;
 }

@media screen and (max-width: 1201px) {
    margin: 0.5em auto;
    font-size: 1.1em;
    color: #0585ff;
}
}

.dropdown__all-wrapper {
    display: flex;
    justify-content: center;
    padding: 0 10px 10px;

@media (max-width: 1200px) {
    justify-content: flex-start;
}
}
