/* GLOBAL */
.homehex p{
    font-size: 1.5em;
    line-height: 2.1;
    margin-bottom: 1.5em;
}
.homehex .button{
    text-transform: none;
    border-radius: 4px;
    font-size: 14px;
    box-shadow: 0 10px 10px 0 rgba(56, 93, 200, 0.25);
    padding: 1em 2em;
    font-weight: 900;
}
.homehex .button-icon i {
    position: absolute;
    font-size: 1.8em;
    top: 50%;
    left: 1.5em;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.homehex .button-basic--nobg{
    box-shadow: none !important;
}

.homehex .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media screen and (min-width: 576px) {
    .homehex .container {
        max-width: 540px;
    }
}
@media screen and (min-width: 768px) {
    .homehex .container {
        max-width: 720px;
    }
}
@media screen and (min-width: 992px) {
    .homehex .container {
        max-width: 960px;
    }
}
@media screen and (min-width: 1201px) {
    .homehex .container {
        max-width: 1120px;
    }
}


/*button with note*/
.homehex .button-asterisk span{
    font-size: 10px;
    color: #383e4d;
    position: absolute;
    bottom: -20px;
    left: 0;
    opacity: .33;
}

.homehex .button-icon{
    border: 0;
    color: #383e4d;
    padding-left: 4.5em;
    font-weight: 700;
}
.homehex .button-contrast{
    font-weight: 700;
}
/* GLOBAL END*/

/* HERO SECTION */
.home-hero{
    background-size: 100%;
    background-position-x: 60vw;
    background-position-y: 60%;
    background-repeat: no-repeat;
    background-color: rgb(250, 250, 250);
}
@media screen and (min-width: 1660px){
    .home-hero{
        background-size: 150%;
        background-position-x: 55vw;
        background-position-y: 65%;
    }
}
.home-hero__container{
    padding: 5rem 0 4rem;
}

.home-hero__laptop-image{
    display: inline-block;
    max-width: 100%;
}
.home-hero__half-width-wrap--image{
    position: relative;
    z-index: 1;
}
.home-hero__video{
    width: auto;
    position: absolute;
    top: 0;
    left: 50%;
    height: 82.4%;
    transform: translateX(-50%);
    z-index: -1;
    background: white;
    transition: all .3s linear;
}
.home-hero__video-container{
    height: 100%;
    width: 76%;
    position: absolute;
    top: calc(5% + 3px);
    left: 11.8%;
    overflow: hidden;
}
@media screen and (min-width: 1025px){
    .home-hero__half-width-wrap{
        width: 51%;
        display: inline-block;
    }
    .home-hero__half-width-wrap--image{
        float: right;
        width: 49%;
    }
    .home-hero__title{
        margin-top: 0; /* 20px; */ /*50px*/
    }
}

/*titles*/
.home-hero__title{
    font-size: 35px; /*34*/
    line-height: 52px; /*45*/
    color: #383e4d;
    font-weight: 900;
}

/*subtitles*/
.home-hero__topSubtitle {
color: #383e4d;
font-size: 22px;
font-weight: 400;
margin-bottom: 30px;
}

.home-hero__topSubtitle a {
  color: #0086ff;
  text-decoration: underline;
}

.home-hero__topSubtitle-subtitle {
  margin-bottom: 12px;
}

.home-hero__topSubtitle-subtitle span {
  color: #0086ff;
  font-weight: 600;
}


/*features list*/
.home-hero__main-features{
    font-size: 15px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    opacity: .8;
    margin-bottom: 30px;
    flex-wrap: wrap;
}
.home-hero__main-features li{
    white-space: nowrap;
}
.home-hero__main-features li:not(:last-child):after {
    margin: 0 3px;
    content: '|';
}

/*buttons section*/
.home-hero__buttons-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    margin-bottom: 30px;
}
@media screen and (min-width: 1025px) {
    .home-hero__buttons-section > *:not(:last-child) {
        margin-right: 20px;
    }
}
.home-hero__demo-link{
    color: #0086ff;
}

/*other features*/
.home-hero__other-features{
    font-size: 18px;
    font-weight: 600;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    color: #383e4d; /*rgba(56, 62, 77, 0.5); */
    flex-grow: 2;
    letter-spacing: 1px;
}
.home-hero__other-features li{
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin-right: 30px;
}
.home-hero__other-features img {
    margin-right: 10px;
    display: inline-block;
}
.home-hero__gartner{
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
}

/*full width row*/
.home-hero__full-width-wrap{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.home-hero__full-width-wrap-noIcons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 40px;
}
@media screen and (max-width: 1200px) {
    .home-hero__buttons-section{
        width: 100%;
    }
    .home-hero__full-width-wrap{
        padding: 0;
    }
    .home-hero__full-width-wrap-noIcons{
        padding: 0;
        justify-content: space-between;
    }
}
@media screen and (max-width: 1200px)  and (min-width: 1025px){
    .home-hero__gartner{
        justify-content: flex-end;
    }
}
@media screen and (max-width: 1024px) {
    .home-hero {
        background-position-y: calc(100% - 15vh);
        background-position-x: 70vw;
    }
    .home-hero__container{
        padding: 2rem 0;
        text-align: center;
    }
    .home-hero__full-width-wrap {
        flex-wrap: wrap;
    }
    .home-hero__gartner-wrapNoLogo {
        margin: auto;
    }
    .home-hero__full-width-wrap-noIcons {
        flex-wrap: wrap;
    }   
    .home-hero__title{
        text-align: center;
        font-size: 28px;
        line-height: 1.3;
    }
    .home-hero__main-features {
        justify-content: center;
    }
    .home-hero__other-features{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .home-hero__other-features li{
        margin: 10px 0;
    }
    .home-hero__buttons-section{
        justify-content: space-around;
    }
    .home-hero__half-width-wrap--image{
        display: inline-block;
        margin-bottom: 45px;
    }
    .home-hero__laptop-image{
        max-width: 400px;
        height: auto;
        width: 100%;
    }
    .home-hero__gartner svg{
        max-width: 300px;
        width: 100%;
    }
    .home-hero__gartner{
        justify-content: center;
    }
    .home-hero__gartner .rate-number{
        fill: #383e4d !important;
    }
    .home-hero__gartner .star{
        fill: rgb(255, 167, 115);
    }
    .home-hero__gartner #gartnerText{
        fill: rgb(153, 156, 163);
    }

    /*According to design those 2 links dissapeared on mobile*/
    .home-hero__or, .home-hero__demo-link, .button-asterisk span{
        display: none;
    }
}
@media screen and (max-width: 991px) {
    .home-hero__other-features, .home-hero__gartner{
        width: 100%;
    }
}
@media screen and (max-width: 767px) {
    .home-hero{
        background-position-y: calc(100% - 30vh);
    }
}
@media screen and (max-width: 480px) {
    .home-hero__container {
        padding: 1rem 0;
    }
    .home-hero__other-features li{
        width: 100%;
        text-align: center;
        display: inline-flex;
        margin: 10px;
        justify-content: center;
    }
}
@media screen and (max-width: 360px) {
    .home-hero__buttons-section{
        flex-direction: column;
    }
    .home-hero__buttons-section .button{
        margin-bottom: 15px;
    }
}
/* HERO END */

/*VISYOND FOR*/
.visFor{
    padding: 65px 0 20px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: calc(100% - 66vw);
    background-position-y: calc(-10%);
    background-color: #fafafa;
}
@media screen and (min-width: 1660px){
    .visFor{
        background-position-y: calc(15%);
    }
}
.visFor-header{
    font-size: 32px;
    line-height: 48px;
    color: #383E4D;
    font-weight: 600;
    text-align: center;
    /* margin-bottom: 60px; */
}
.visFor__row{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}
.visFor__column{
    width: 32%;
    padding: 40px;
    border: 1px solid #efefef;
    border-radius: 15px;
    box-shadow: 0 0 10px 1px rgb(228 228 228 / 55%);
    background-color: white;
    margin-bottom: 45px;
    transition: box-shadow .3s linear;
}
/*
.visFor__column:hover{
    box-shadow: 0 10px 10px rgba(56, 93, 299, 0.25);
}
*/
.visFor__column--title{
    color: #383e4d;
    font-weight: 600;
    text-align: center;
    font-size: 1.5em;
    line-height: 1.44;
}
.visFor__list{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}
.visFor__list-item{
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 22px;
    color: #383E4D;
    font-weight: 400;
}
.visFor__list-item:not(:last-child){
    margin-bottom: 18px;
}
.visFor__list-item div{
    text-overflow: ellipsis;
    overflow: hidden;
}
.visFor__list-item img{
    max-width: 28px;
    max-height: 28px;
    margin-right: 25px;
}
@media screen and (max-width: 991px) {
    .visFor__column {
        padding: 25px 20px;
    }
}
@media screen and (max-width: 767px) {
    .visFor{
        background-image: none !important;
    }
    .visFor__column {
        width: auto;
        padding: 40px 30px;
    }
    .visFor__row{
        flex-direction: column;
        align-items: center;
    }
}
/*END VIS */

/* WHY V START*/
.whyV{
    padding: 80px 0;
}
.whyV__half-width-wrap {
    width: 48%;
    display: inline-block;
}
.whyV__headline{
    font-size: 36px;
    color: #383E4D;
    font-weight: 600;
    line-height: 1.1;
}
.whyV__text{
    font-size: 16px;
    line-height: 1.44;
    color: #383E4D;
    width: 80%;
    font-weight: 400;
}
.whyV__image-wrap{
    float: right;
}
.whyV__list-wrap{
    display: none;
    padding: 0;
    width: 80%;
    margin: 15px auto;
}
@media screen and (max-width: 991px) {
    .whyV__row{
        text-align: center;
    }
    .whyV__half-width-wrap, .whyV__text{
        width: 100%;
    }
    .whyV__list-item{
        font-size: 15px;
        font-weight: 600;
        color: #B04D4D;

        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        width: 100%;
    }
    .whyV__list-item img{
        margin-right: 15px;
        width: 40px;
        height: auto;
    }
}
@media screen and (max-width: 550px) {
    .whyV__image-wrap{
        /* display: none; */
    }
    .whyV__list-wrap{
        display: inline-block;
        width: auto;
    }
}
/* WHY V END*/

/* ENTER V START*/
.enterV{
    padding: 80px 0;
    background-color: #fafafa;
    background-size: 80%, 80%;
    background-repeat: no-repeat;
    background-position-x: calc(100% - 80vw), calc(100% + 55vw);
    background-position-y: 5%, 55%;
@media screen and (max-width: 800px) {
    background-image: none !important;
}
}
.enterV__headline{
    font-size: 34px;
    color: #383E4D;
    font-weight: 900;
    line-height: 1.4;
    text-align: center;
    /* margin-bottom: 2em; */
    @media screen and (max-width: 800px) {
       /* margin-bottom: 70px; */
    }
}
.enterSections__benefits{
    padding: 20px 0 10px;
}
.enterSections__benefits--title{
    color: #0086FF;
    text-decoration: underline;
    font-weight: 900;
    font-size: 16px;
    line-height: 1.44;
    margin-bottom: 1em;
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.enterSections__benefits--title:after{
    content: '';
    border: solid #0086FF;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    transition: all .3s linear;
    position: absolute;
    right: -20px;
    top: 6px;
}
.enterSections__benefits--title.opened:after{
    transform: rotate(-495deg);
    top: 10px;
}
.enterSections__benefits ul{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s linear;
}
.enterSections__benefits--title.opened + ul{
    max-height: 1600px;
}

.enterSections {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0;
}

.enterSections__block {
    width: 100%;
    display: block;
    position: relative;
    text-align: right;

    &:not(:last-child) {
         margin-bottom: 8rem;
     }

    &:nth-child(2n) {
         text-align: left;
    }
}

.enterSections__block:nth-child(2n + 1) .info__img-wrap {
    margin-right: 5%;
    float: left;

@media screen and (max-width: 800px) {
    margin-right: 0;
    margin-bottom: 3rem;
}
}

.enterSections__block:nth-child(2n) .info__img-wrap {
    margin-left: 5%;
    float: right;

@media screen and (max-width: 800px) {
    margin-left: 0;
    margin-bottom: 3rem;
}
}

.info__img-wrap {
    width: 55%;
    flex-shrink: 0;
    position: relative;
    margin-top: 5em;
    margin-bottom: 8em;

@media screen and (--tablet) {
    margin-top: 0;
    width: 100%;
}

&:hover .info__block-img-pointer {
     filter: drop-shadow(0 0 1.5em #0086ff) grayscale(200%);
 }

&:hover .over {
     opacity: 1;
     padding: 1em;
     padding-left: 4.5em;
     padding-right: 2em;
     border-radius: 0;
     box-shadow: 0 2px 4px rgba(0,0,0,.3);
     background: #0086ff;
 }

&:hover .over span {
     display: block;
 }

& .over {
      border-radius: 0.25em;
      opacity: 0;
      position: absolute;
      padding: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.2em;
      padding: 1.2em;
      padding-right: 4.5em;
      pointer-events: none;
      overflow: hidden;
      word-wrap: none;
      color: #fff;
      background: rgba(0,0,0,.5);

& i.material-icons:before {
      content: '\e913';
  }

& > span {
      display: none;
  }
}

& .button-basic--nobg {
      position: absolute;
      bottom: 0;
      margin-bottom: -4em;

@media screen and (max-width: 800px) {
    margin-bottom: -2em;
    white-space: nowrap;
}

&:hover {
     top: auto !important;
 }
}
}

.enterSections__block:nth-child(2n + 1) .enterSections__block-img {
@media screen and (max-width: 800px) {
    margin-bottom: 3rem;
}
}

.enterSections__block:nth-child(2n) .enterSections__block-img {
@media screen and (max-width: 800px) {
    margin-bottom: 3rem;
}
}

.enterSections__block-img {
    display: block;
    margin: 0 auto;
}

.info__block-img-pointer {
    cursor: pointer;
    transition: 0.1s;
}

.enterSections__block-lines {
    position: absolute;
    bottom: -30%;
    left: 48%;
    z-index: -1;

@media screen and (max-width: 800px) {
    bottom: -25%;
    left: 40%;
}

@media screen and (max-width: 400px) {
    left: 20%;
}
}

.enterSections__block:nth-child(2n) .enterSections__block-lines {
    left: auto;
    right: 44%;
    bottom: -42%;
    transform: rotateY(180deg);

@media screen and (max-width: 800px) {
    left: 40%;
    right: auto;
    bottom: -25%;
    transform: rotateY(0);
}

@media screen and (max-width: 400px) {
    left: 20%;
}
}

.enterSections__block:last-child .enterSections__block-lines {
    display: none;
}

.enterSections__text-wrap {
    display: inline-block;
    width: 40%;
    text-align: left;
@media screen and (max-width: 800px) {
    width: 100%;
    text-align: center;
}
}

.enterSections__text-wrap .button-wrap {
    width: 100%;
    margin: 2em 0;
}
.enterSections__text-wrap .button-wrap .button:not(:last-child){
    margin-right: 15px;
@media screen and (max-width: 991px) and (min-width: 801px) {
    margin-bottom: 20px;
}
}
@media screen and (max-width: 375px) {
    .enterSections__text-wrap .button-wrap{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .enterSections__text-wrap .button-wrap .button{
        margin-bottom: 15px;
        margin-right: 0 !important;
    }
}

.enterSections__block-title {
    color: #383E4D;
    font-size: 36px;
    line-height: 1.1;
    font-weight: 600;
    margin-bottom: 30px;
    width: 100%;
@media screen and (max-width: 800px) {
    margin-bottom: 15px;
    font-size: 24px;
}
}

.enterSections__block-descr {
    color: #383E4D;
    font-size: 16px;
    margin-bottom: 1em;
    width: 100%;
}

.enterSections__block-descr ul {
    list-style: none;
    padding: 0;
}

.enterSections__block-descr li {
    padding-left: 30px;
    position: relative;
    margin-bottom: 15px;
    font-size: 13px;
    line-height: 1.1;

&:before {
     content: "";
     position: absolute;
     top: 0.65em;
     left: 0;
     transform: rotate(-130deg);
     width: 0.5em;
     height: 2px;
     background: #0086ff;
     display: inline-block;
 }

&:after {
     content: "";
     position: absolute;
     top: 0;
     left: .7em;
     transform: rotate(-130deg);
     margin-right: 10px;
     margin-bottom: 3px;
     width: 2px;
     height: 1em;
     background: #0086ff;
     display: inline-block;
 }
@media screen and (max-width: 800px) {
    text-align: left;
}
}

.enterSections__block-descr span,
.enterSections__block-descr strong {
    font-weight: 600;
}

.enterSections__block-descr a {
    color: #0086ff;
}

.enterSections__link {
    color: #0086ff;
    text-align: center;
    font-size: 1.5em;
    padding: 10px 20px 10px 20px;
    text-transform: uppercase;
    position: relative;
}
/* ENTER V END*/

/* GET HEX STARTED */
.getHexStarted {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0086FF;
    text-align: center;
    padding: 30px 0;
@media screen and (max-width: 420px) {
    padding: 30px 0;
}
}
.getHexStarted__title{
    font-size: 34px;
    line-height: 80px;
    font-weight: 900;
    color: white;
@media screen and (max-width: 420px) {
    font-size: 24px;
    line-height: 1.3;
    font-weight: 400;
    margin-bottom: 20px;
}
}
.getHexStarted .button{
    min-width: 140px;
@media screen and (max-width: 420px) {
    width: 100%;
}
}
/* GET HEX STARTED END*/

/*------------BENEFITS---------------*/

.homeBenefits {
    background-color: white;
    padding: 80px 0;
}
.homeBenefits__header{
    font-size: 32px;
    line-height: 1.6;
    font-weight: 600;
    color: #383E4D;
    text-align: center;
}

.homeBenefits__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.homeBenefits__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 15px 20px;
    margin: 20px 10px;
    text-align: center;
    color: #595959;
    width: 100%;
    max-width: 300px;
    cursor: pointer;
    border-radius: 5px;
    transition: all .2s linear;
    box-shadow: 0 4px 30px #dbddeca8;

&:hover {
     box-shadow: 0 5px 40px #c0c2cf;
 }
}

.homeBenefits__card-image-wrap {
    height: 90px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
@media screen and (max-width: 420px) {
    height: 50px;
}
}

.homeBenefits__card-image {
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: auto;
}

.homeBenefits__card-title {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
    color: #383e4d;
    width: 100%;
    max-width: 100%;
}

.homeBenefits .homeBenefits__card-text {
    font-size: 16px;
    line-height: 1.4;
    color: #383E4D;
    width: 100%;
    max-width: 100%;
    font-weight: 400;
}
/*------------END BENEFITS---------------*/

/*------------home Featured---------------*/
.homeFeatured {
    padding: 50px 0;
    background-color: #fafafa;
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    background-position-x: calc(100% - 80vw),calc(100% + 85vw);
    background-position-y: 70%,130%;
@media screen and (min-width: 1700px) {
    background-position-y: 50%,100%;
}
@media screen and (max-width: 800px) {
    background-image: none !important;
}
}
/*------------END homeFeatured---------------*/


/*------------ENTER V NEW---------------*/
.enterSectionsA {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0;
}

.enterSectionsA__block {
    width: 100%;
    display: block;
    position: relative;
    text-align: right;

    &:not(:last-child) {
         margin-bottom: 0rem; /* 4rem */
     }

    &:nth-child(2n) {
         text-align: left;
    }
}

.enterSectionsA__block:nth-child(2n + 1) .infoA__img-wrap {
    margin-right: 5%;
    float: left;

@media screen and (max-width: 800px) {
    margin-right: 0;
    margin-bottom: 3rem;
}
}

.enterSectionsA__block:nth-child(2n) .infoA__img-wrap {
    margin-left: 5%;
    float: right;

@media screen and (max-width: 800px) {
    margin-left: 0;
    margin-bottom: 3rem;
}
}

.infoA__img-wrap {
    width: 55%;
    flex-shrink: 0;
    position: relative;
    margin-top: 0em;
    margin-bottom: 10em;

@media screen and (--tablet) {
    margin-top: 0;
    width: 100%;
}

&:hover .info__block-img-pointer {
     filter: drop-shadow(0 0 1.5em #0086ff) grayscale(200%);
 }

&:hover .over {
     opacity: 1;
     padding: 1em;
     padding-left: 4.5em;
     padding-right: 2em;
     border-radius: 0;
     box-shadow: 0 2px 4px rgba(0,0,0,.3);
     background: #0086ff;
 }

&:hover .over span {
     display: block;
 }

& .over {
      border-radius: 0.25em;
      opacity: 0;
      position: absolute;
      padding: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.2em;
      padding: 1.2em;
      padding-right: 4.5em;
      pointer-events: none;
      overflow: hidden;
      word-wrap: none;
      color: #fff;
      background: rgba(0,0,0,.5);

& i.material-icons:before {
      content: '\e913';
  }

& > span {
      display: none;
  }
}

& .button-basic--nobg {
      position: absolute;
      bottom: 0;
      margin-bottom: -4em;

@media screen and (max-width: 800px) {
    margin-bottom: -2em;
    white-space: nowrap;
}

&:hover {
     top: auto !important;
 }
}
    
& .button-basicA--nobg {
      position: absolute;
      bottom: 0;
      margin-bottom: -4em;
      box-shadow: none !important;
      background: 0 0;

@media screen and (max-width: 800px) {
    margin-bottom: -3.5em;
    white-space: nowrap;
}

&:hover {
     top: auto !important;
 }
}    
    
}


/* prod tour start */
.enterSectionsA__block:nth-child(2n + 1) .infoC__img-wrap {
    margin-right: 5%;
    float: left;

@media screen and (max-width: 800px) {
    margin-right: 0;
    margin-bottom: 3rem;
}
}

.enterSectionsA__block:nth-child(2n) .infoC__img-wrap {
    margin-left: 5%;
    float: right;

@media screen and (max-width: 800px) {
    margin-left: 0;
    margin-bottom: 3rem;
}
}

.infoC__img-wrap {
    width: 55%;
    flex-shrink: 0;
    position: relative;
    margin-top: 0em;
    margin-bottom: 10em;

@media screen and (--tablet) {
    margin-top: 0;
    width: 100%;
}

&:hover .info__block-img-pointer {
     filter: drop-shadow(0 0 1.5em #0086ff) grayscale(200%);
 }

&:hover .over {
     opacity: 1;
     padding: 1em;
     padding-left: 4.5em;
     padding-right: 2em;
     border-radius: 0;
     box-shadow: 0 2px 4px rgba(0,0,0,.3);
     background: #0086ff;
 }

&:hover .over span {
     display: block;
 }

& .over {
      border-radius: 0.25em;
      opacity: 0;
      position: absolute;
      padding: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.2em;
      padding: 1.2em;
      padding-right: 4.5em;
      pointer-events: none;
      overflow: hidden;
      word-wrap: none;
      color: #fff;
      background: rgba(0,0,0,.5);

& i.material-icons:before {
      content: '\e913';
  }

& > span {
      display: none;
  }
}

& .button-basic--nobg {
      position: absolute;
      bottom: 0;
      margin-bottom: -4em;

@media screen and (max-width: 800px) {
    margin-bottom: -2em;
    white-space: nowrap;
}

&:hover {
     top: auto !important;
 }
}
    
& .button-basicA--nobg {
      position: absolute;
      bottom: 0;
      margin-bottom: -4em;
      box-shadow: none !important;
      background: 0 0;

@media screen and (max-width: 800px) {
    margin-bottom: -3.5em;
    white-space: nowrap;
}

&:hover {
     top: auto !important;
 }
}    
    
}

.enterSectionsC__text-wrap {
    display: inline-block;
    width: 40%;
    text-align: left;

@media screen and (max-width: 800px) {
    width: 100%;
    text-align: center;
}

}

.enterSectionsC__text-wrap .button-wrap {
    width: 100%;
    margin: 2em 0;
}
.enterSectionsC__text-wrap .button-wrap .button:not(:last-child){
    margin-right: 15px;
@media screen and (max-width: 991px) and (min-width: 801px) {
    margin-bottom: 20px;
}
}
@media screen and (max-width: 375px) {
    .enterSectionsC__text-wrap .button-wrap{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .enterSectionsC__text-wrap .button-wrap .button{
        margin-bottom: 15px;
        margin-right: 0 !important;
    }
}

/* prod tour end */





.enterSectionsA__block:nth-child(2n + 1) .enterSections__block-img {
@media screen and (max-width: 800px) {
    margin-bottom: 3rem;
}
}

.enterSectionsA__block:nth-child(2n) .enterSections__block-img {
@media screen and (max-width: 800px) {
    margin-bottom: 3rem;
}
}

.enterSectionsA__block-img {
    display: block;
    margin: 0 auto;
}

.infoA__block-img-pointer {
    cursor: pointer;
    transition: 0.1s;
}

.enterSectionsA__block-lines {
    position: absolute;
    bottom: -30%;
    left: 48%;
    z-index: -1;

@media screen and (max-width: 800px) {
    bottom: -25%;
    left: 40%;
}

@media screen and (max-width: 400px) {
    left: 20%;
}
}

.enterSectionsA__block:nth-child(2n) .enterSections__block-lines {
    left: auto;
    right: 44%;
    bottom: -42%;
    transform: rotateY(180deg);

@media screen and (max-width: 800px) {
    left: 40%;
    right: auto;
    bottom: -25%;
    transform: rotateY(0);
}

@media screen and (max-width: 400px) {
    left: 20%;
}
}

.enterSectionsA__block:last-child .enterSections__block-lines {
    display: none;
}

.enterSectionsA__text-wrap {
    display: inline-block;
    width: 40%;
    text-align: left;
@media screen and (max-width: 800px) {
    width: 100%;
    text-align: center;
}
}

.enterSectionsA__text-wrap .button-wrap {
    width: 100%;
    margin: 2em 0;
}
.enterSectionsA__text-wrap .button-wrap .button:not(:last-child){
    margin-right: 15px;
@media screen and (max-width: 991px) and (min-width: 801px) {
    margin-bottom: 20px;
}
}
@media screen and (max-width: 375px) {
    .enterSectionsA__text-wrap .button-wrap{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .enterSectionsA__text-wrap .button-wrap .button{
        margin-bottom: 15px;
        margin-right: 0 !important;
    }
}

.enterSectionsA__block-title {
    color: #383E4D;
    font-size: 2em;
    line-height: 1.1;
    font-weight: 600;
    margin-bottom: 15px;
    width: 100%;
@media screen and (max-width: 800px) {
    margin-bottom: 12px;
    font-size: 24px;
}
}

.enterSectionsA__block-subtitle {
margin-bottom: 20px;
font-size: 15px;
/*font-size: 1.2em;*/
font-weight: 400;
color: #383e4d;
line-height: 20px; /* 22px */
border-left: 2px solid #4edac3;  /* #0086ff */
padding-left: 10px;    
@media screen and (max-width: 800px) {
    margin-bottom: 16px;
    font-size: 16px;
}    
}

.enterSectionsA__block-descr {
    color: #383E4D;
    font-size: 16px;
    margin-bottom: 1em;
    width: 100%;
    font-weight: 400;
}

.enterSectionsA__block-descr ul {
    list-style: none;
    padding: 0;
}

.enterSectionsA__block-descr li {
    padding-left: 30px;
    position: relative;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.4;

&:before {
     content: "";
     position: absolute;
     top: 0.68em; /* 0.65em */
     left: 0;
     transform: rotate(-130deg);
     width: .5em;
     height: 2px;
     background: #0086ff;
     display: inline-block;
 }

&:after {
     content: "";
     position: absolute;
     top: 4px; /* 0 */
     left: .57em; /* .7em */
     transform: rotate(-130deg);
     margin-right: 10px;
     margin-bottom: 3px;
     width: 2px;
     height: .8em; /* 1em */
     background: #0086ff;
     display: inline-block;
 }
@media screen and (max-width: 800px) {
    text-align: left;
}
}

.enterSectionsA__block-descr span,
.enterSectionsA__block-descr strong {
    font-weight: 600;
}

.enterSectionsA__block-descr a {
    color: #0086ff;
}

.enterSectionsA__link {
    color: #0086ff;
    text-align: center;
    font-size: 1.5em;
    padding: 10px 20px 10px 20px;
    text-transform: uppercase;
    position: relative;
}
/*------------ENDENTER V NEW---------------*/


/*------------Product tour ---------------*/
.enterSectionsC__block-subtitle {
    margin-bottom: 20px;
    font-size: 1.2em;
    font-weight: 400;
    color: #383e4d;
    line-height: 22px; 
    @media screen and (max-width: 800px) {
        margin-bottom: 16px;
        font-size: 16px;
    }    
}


.tourIcon {
    color: #0585ff; 
     font-size: 22px; 
 }
 
 
 .addinCloud-summary {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  
  /* ADDIN/WEB CARDS */
  .addinCloud-summary__item {
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 20px 0 #ececec;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: calc(45% - 20px);
    min-width: 400px;
    margin-bottom: 40px;
      
      @media screen and (max-width: 771px) {
        width: 90%;
      }  
  }
  
  .addinCloud-summary__item:nth-child(1n) {
    margin-left: 0px;
    
     /* @media screen and (max-width: 771px) {
        margin-left: 25px;
      }   */
  }
  
  .addinCloud-summary__item:nth-child(2n) {
    margin-left: 50px;
    

    @media screen and (max-width: 991px) {
        margin-left: 0;
      }  

      @media screen and (max-width: 771px) {
        margin-left: 0;
      }  
  }
  
  .addinCloud-summary__item:nth-child(3n) {
    margin-left: 25px;
    
        @media screen and (max-width: 771px) {
        margin-left: 0;
      } 
  }
  
  /* END ADDIN/WEB CARDS  */
  
  
  /* ADDIN/WEB CARDS TEXT */
  .addinCloud-summary__title, .addinCloud-summary__text {
    width: 100%;
    font-family: "Open Sans";
    line-height: 24px;
  }
  
  .addinCloud-summary__title{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 0;
    color: #50546d;
    text-align: center;
    padding: 10px;
  }
  
  .addinCloud-summary__text{
    font-size: 16px;
    font-weight: 400;
    color: #383e4d;
    text-align: center;
    margin: 1em 0;
  }
  
  .addinCloud-summary__text ul{
    padding-inline-start: 15px;
    text-indent: -18px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .addinCloud-summary__text li{
    margin-bottom: 14px;
    list-style: none;
    
       &:before {
         content: "";
         border: solid #0086ff;
         border-width: 0 2px 2px 0!important;	     
         display: inline-block;
         padding: 3px;
         transform: rotate(315deg);
         margin-right: 10px;
         margin-bottom: 1px!important;	     
      }
  }
  
  /* ADDIN/WEB CARDS TEXT */

/*------------END: Product tour ---------------*/      





/*------------IE11 FIXES ---------------*/   
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
   
    .wrapper, body, html {
        display: block;
    }
    
    .enterSections {
        display: block;
    }
    .enterSectionsA__block::after {
        content: '' !important;
        display: table !important;
        clear: both !important;
    }
    .infoA__img-wrap {
        overflow: hidden !important;
        margin-bottom: 8em !important;
    }
    .infoA__img-wrap:after {
        content: '';
        display: block;
        padding-top: 70%;
    }
    .infoA__img-wrap .scroll_toggle { 
        width: 100% !important;
        height: 101%;
        position: absolute;
        top: -1px;
        left: 0;
        transform: scale(1.02);
    }
}
/*------------END: IE11 FIXES ---------------*/   





/*------------USE CASES ---------------*/   

.useCaseSections {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0;
}

.useCaseSectionsHeader {
    text-align: left!important;
}

.useCase__block {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* 
    display: block;
    position: relative;
    margin-bottom: 0em;
    */

    &:not(:last-child) {
        margin-bottom: 1em;
     }
}

.useCase__block-title {
    font-size: 30px;
    color: #383E4D;
    font-weight: 600;
    line-height: 1.4;
    text-align: right;
    width: 70%;
    align-self: end;
}


.useCase__block-descr {
    color: #383E4D;
    font-size: 16px;
    margin-bottom: 1em;
    width: 100%;
    font-weight: 400;
}

.useCase__block-descr ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        align-content: center;
    }
}

.useCase__block-descr li {
    padding-left: 30px;
    position: relative;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.4;

&:before {
     content: "";
     position: absolute;
     top: 0.68em;
     left: 0;
     transform: rotate(-130deg);
     width: .5em;
     height: 2px;
     background: #0086ff;
     display: inline-block;
 }

@media screen and (max-width: 800px) {
    text-align: left;
}
}

.useCase__block-descr span,
.useCase__block-descr strong {
    font-weight: 600;
}


.useCase__body {
    position: relative;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    display: flex!important;
    flex-direction: column;
    align-items: center;
    width: 340px;
    margin: 3px;
    background-color: #fff;
    border: 1px solid #ebebeb;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 1px rgb(228 228 228 / 55%);
    @media screen and (max-width: 768px) {
        max-width: 100%;
        padding: 2em;
        @media (max-width: 769px) {
            padding: 1.5em;
        }
    }
}

.useCase__body--img-wrap {
    width: 100%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 1px rgb(228 228 228 / 55%);

@media screen and (max-width: 800px) {
    width: 100%;
    justify-content: center;
}

}

.useCase__body--img-wrap__img {
    width: 100%;
    display: flex;
}

.useCase__divider {
    width: 90%;
    height: 1px;
    background-color: #e5e5e5;
    margin: 1em auto;
    border-radius: 2px;
}

.useCaseTitleDescContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 768px) {
        margin: 1em 0;
        text-align: center;
    }
}

.useCase--title{
    color: #383e4d;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.44;
    margin: 1em 0 0.5em;
    text-align: left;
}

.useCase__text-wrap {
    display: inline-block;
    width: 100%;
}

.useCaseText {
    font-size: 15px;
    line-height: 1.44;
    color: #383E4D;
    font-weight: 400;
    text-align: left;
    margin-bottom: 16px;
}



.useCases__list {
    display:flex;
}

.useCases__list .slick-next, /* for carousel */   
.useCases__list .slick-prev {

  &:before {
    color: #0585ff;
    opacity: 1;
  }

  &:hover {
  }
}

.useCases__list .slick-prev {

}

.useCases__list .slick-next {

}



/*------------END: USE CASES ---------------*/   