.ht-top {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  text-align: center;
  padding: 40px 10px 0;
}

.ht-top__title {
  font-size: 2.375rem;
  font-weight: 400;
  color: #50546d;
  margin-bottom: 1rem;

  @media screen and (max-width: 600px) {
    font-size: 1.8rem;
  }
}

.ht-top__title p {
  margin: 0;
}

.ht-top__under-title {
  font-size: 1.5rem;
  font-weight: 400;
  color: #595959;
  max-width: 850px;
  margin-bottom: 2rem;
}

.ht-top__btns-wrap {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 7rem;

  @media screen and (max-width: 850px) {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.ht-link {
  text-transform: uppercase;
  font-size: 1.375rem;
  padding: 1rem 0;
  width: 250px;
  color: #fff;
  border: none;
  border-radius: 2rem;
  text-align: center;

  &:not(:last-child) {
    margin-right: 2rem;

    @media screen and (max-width: 850px) {
      margin-right: 0;
      margin-bottom: 2rem;
    }
  }

  &--sign-up {
    background: #0086ff;
    position: relative;

    &:before {
      content: "* no credit card required";
      position: absolute;
      color: #595959;
      bottom: -1.5rem;
      left: 0;
      width: 100%;
      text-align: center;
      font-size: 1rem;
      text-transform: lowercase;
    }
  }

  &--request {
    background: #0086ff;
  }

  &--btn {
    background: #595959;
    padding: 1.1rem 0;
    cursor: pointer;
  }
}

.ht-top__img {
  width: 100%;
  max-width: 1200px;
}

.ht-top__popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,.5);
  z-index: 99999;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  display: none;
  flex-direction: column;
}

.popup--show {
  display: flex;
}

.ht-top__iframe-wrap {
  position: relative;
  max-width: 100%;
}

.ht-top__iframe-wrap iframe {
  max-width: 100%;
}

.ht-top__popup-close {
  position: absolute;
  cursor: pointer;
  right: .5rem;
  top: -30px;
  width: 20px;
  height: 20px;
  border: none;
  background:
  linear-gradient(45deg, transparent 46%, white 46%, white 54%, transparent 54%), linear-gradient(135deg, transparent 46%, white 46%, white 54%, transparent 54%);
}





.ht-trusted {
  background: #f1f6fb;
  padding: 20px 10px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.ht-trusted__title {
  color: #595959;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin-bottom: 0;
}

.ht-trusted__wrapper {
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
  position: relative;
}

.ht-trusted__logos-wrap {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: 3s;

  @media screen and (max-width: 800px) {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.ht-trusted__wrapper:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #f1f6fb 0, transparent 5%, transparent 95%, #f1f6fb 100%);
  z-index: 99;
}

.ht-trusted__logo-item {
  width: 25%;
  flex-shrink: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}

.ht-trusted__logos-wrap img {
  max-width: 95%;

  @media screen and (max-width: 800px) {
    margin: 20px 0;
  }
}





.ht-info {
  padding: 3rem 1rem 5rem;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: flex-start;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;

  @media screen and (max-width: 800px) {
    -ms-align-items: center;
    align-items: center;
  }
}

.ht-info__block {
  width: 90%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 8rem;
  }

  &:nth-child(2n) {
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    align-self: flex-end;

    @media screen and (max-width: 800px) {
      align-self: center;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }

  &:nth-child(2n+1) {

    @media screen and (max-width: 800px) {
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }
}

.ht-info__block:nth-child(2n+1) .info__img-wrap {
  margin-right: 6rem;

  @media screen and (max-width: 800px) {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

.ht-info__block:nth-child(2n) .info__img-wrap {
  margin-left: 6rem;

  @media screen and (max-width: 800px) {
    margin-left: 0;
    margin-bottom: 3rem;
  }
}

.info__img-wrap {
  width: 50%;
  flex-shrink: 0;
  position: relative;

  @media screen and (max-width: 800px) {
    width: 100%;
  }
}

.ht-info__block:nth-child(2n+1) .ht-info__block-img {

  @media screen and (max-width: 800px) {
    margin-bottom: 3rem;
  }
}

.ht-info__block:nth-child(2n) .ht-info__block-img {

  @media screen and (max-width: 800px) {
    margin-bottom: 3rem;
  }
}

.ht-info__block-img {
  width: 100%;

  @media screen and (max-width: 800px) {
    width: 80%;
  }
}

.info__block-img-pointer {
  cursor: pointer;
  transition: .1s;
}

.info__block-img-pointer:hover {
  filter: drop-shadow(0 0 3px #0086ff);
}

.ht-info__block-lines {
  position: absolute;
  bottom: -30%;
  left: 48%;
  z-index: -1;

  @media screen and (max-width: 800px) {
    bottom: -25%;
    left: 40%;
  }

  @media screen and (max-width: 400px) {
    left: 20%;
  }
}

.ht-info__block:nth-child(2n) .ht-info__block-lines {
  left: auto;
  right: 44%;
  bottom: -42%;
  transform: rotateY(180deg);

  @media screen and (max-width: 800px) {
    left: 40%;
    right: auto;
    bottom: -25%;
    transform: rotateY(0);
  }

  @media screen and (max-width: 400px) {
    left: 20%;
  }
}

.ht-info__block:last-child .ht-info__block-lines {
  display: none;
}

.ht-info__text-wrap {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;

  @media screen and (max-width: 800px) {
    -ms-align-items: center;
    align-items: center;
    text-align: center;
  }
}

.ht-info__block-title {
  color: #0086ff;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  width: 100%;
}

.ht-info__block-descr {
  color: #767575;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  width: 100%;
}

.ht-info__block-descr ul {
  list-style: none;
  padding: 0;
}

.ht-info__block-descr li:before {
  content: "";
  margin-right: 10px;
  margin-bottom: 3px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #00b5b8;
  display: inline-block;
}

.ht-info__block-descr span {
  font-weight: 700;
}

.ht-info__link {
  color: #0086ff;
  /*background: #f2f3f7;*/
  text-align: center;
  font-size: 1.3125rem;
  padding: 10px 35px 10px 0;
  text-transform: uppercase;
  position: relative;

  &:before {
    content: ">>";
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}





.ht-capabilities {
  background: #fff;
  padding: 50px 10px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
}

.ht-capabilities__title {
  font-weight: 400;
  color: #555;
  font-size: 3rem;
  text-align: center;

  @media screen and (max-width: 600px) {
    font-size: 2.5rem;
  }
}

.ht-capabilities__modules {
  width: 100%;
  max-width: 1200px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;

  @media screen and (max-width: 800px) {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
  }
}

.ht-capabilities__block {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  max-width: 290px;
  padding: 0;
  margin: 0;

  @media screen and (max-width: 800px) {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    max-width: 500px;
    width: 100%;
  }

  @media screen and (max-width: 400px) {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  /* &:not(:first-child) {
    padding-top: 14px;
  } */

  &:not(:last-child) {
    margin-right: 2rem;

    @media screen and (max-width: 800px) {
      margin-bottom: 3rem;
      margin-right: 0;
    }
  }
}

.ht-capabilities__img {
  margin-bottom: 1.5rem;
  height: 100px;

  @media screen and (max-width: 800px) {
    margin-right: 3rem;
    margin-bottom: 0;
    width: 100px;
    height: auto;
  }

  @media screen and (max-width: 400px) {
    margin-right: 0;
    margin-bottom: 2rem;
    height: 100px;
    width: auto;
  }
}

.ht-capabilities__descr {
  font-weight: 400;
  color: #595959;
  font-size: 1.25rem;
  text-align: center;

  @media screen and (max-width: 800px) {
    text-align: left;
  }

  @media screen and (max-width: 400px) {
    text-align: center;
  }
}

.ht-capabilities__descr span {
  font-size: 1.9375rem;
  font-weight: 700;
}





.ht-studies {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  padding: 50px 10px;
  background: linear-gradient(to top, #f1f5fa, #fff);
}

.ht-studies__title {
  text-align: center;
  font-weight: 400;
  color: #555;
  font-size: 3rem;

  @media screen and (max-width: 600px) {
    font-size: 2.5rem;
  }
}

.ht-studies__blocks {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ht-studies__block {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  max-width: 900px;
  width: 100%;
  margin-bottom: 5rem;
  padding: 0;

  @media screen and (max-width: 800px) {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  &:last-child {
    margin-bottom: 0;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;

    @media screen and (max-width: 800px) {
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }
}

.ht-studies__img-wrap {
  margin-right: 5rem;
  position: relative;

  @media screen and (max-width: 800px) {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

.ht-studies__block:last-child .ht-studies__img-wrap {
  margin-right: 0;
  margin-left: 5rem;

  @media screen and (max-width: 800px) {
    margin-left: 0;
  }
}

.ht-studies__img {
  display: block;
  width: 380px;

  @media screen and (max-width: 800px) {
    max-width: 600px;
    width: 100%;
  }
}
/*
.ht-studies__img-text {
  position: absolute;
  color: #555;
  font-weight: 400;
  font-size: 1.6rem;
}

.ht-studies__img-text--first {
  bottom: 41%;
  left: 8%;
}
.ht-studies__img-text--second {
  bottom: 8%;
  left: 8%;
}
.ht-studies__img-text--third {
  bottom: 41%;
  right: 8%;
}
.ht-studies__img-text--fourth {
  bottom: 8%;
  right: 8%;
} */

.ht-studies__block-title {
  font-weight: 600;
  color: #50546d;
  font-size: 1.5625rem;
}

.ht-studies__block-descr {
  font-weight: 400;
  font-style: italic;
  color: #767575;
  font-size: 1.3125rem;
  display: block;
  margin-bottom: .5rem;

  &:before {
    content: "";
    background: url(/img/v_quote.png) center center no-repeat;
    background-size: contain;
    width: 30px;
    height: 28px;
    margin: 0 5px;
    float: left;
  }
}

.ht-studies__block-author {
  color: #595959;
  font-weight: 400;
  font-size: 1.0625rem;
  margin-bottom: 1.5rem;
}

.ht-studies__block-link {
  font-weight: 400;
  color: #0776df;
  text-transform: uppercase;
  font-size: 1.3125rem;
}





.customers {
    padding: 30px 0;
    max-width: 1200px;
    margin: 0 auto;

    @media screen and (max-width: 768px) {
        padding: 40px 20px;
    }
}

.customers__title {
  text-align: center;
  font-weight: 400;
  color: #555;
  font-size: 3rem;

  @media screen and (max-width: 600px) {
    font-size: 2.5rem;
  }
}

.customers .slick-dots {
    bottom: -40px;
}

.customers .slick-dots li button:before {
    font-size: 20px;
}

.customers__list {
    margin: 60px 0 0 0;
    padding: 0;
    list-style: none;
}

.customers__item {
    text-align: center;
}

.customers__img-container {
    max-width: 580px;
    margin: 0 auto;
}

.customers__img-wrap {
    border-radius: 50%;
    width: 140px;
    /* height: 140px; */
    overflow: hidden;
    display: block;
    margin: 0 auto;
}

.customers__img-wrap img {
    max-width: 100%;
}

.customers__img-descr-wrap {
    margin-top: 55px;
}

.customers__img-descr {
  font-weight: 400;
  font-style: italic;
  color: #767575;
  font-size: 1.3125rem;
  position: relative;
  margin-bottom: .5rem;
  padding: 0 15px;
  display: inline-block;

    &:before, &:after {
        content: '';
        background: url('/img/vimages/quote.png') no-repeat;
        background-size: 10px;
        width: 10px;
        height: 10px;
        position: absolute;

    }
    &:before {
        left: 5px;
        top: 5px;
    }
    &:after {
        right: 5px;
        bottom: 0;
        transform: rotate(180deg);
    }
}

.customers__img-author {
  color: #595959;
  font-weight: 400;
  font-size: 1.0625rem;
  margin-bottom: 1.5rem;
}

.customers__img-company {
    max-width: 140px;
    display: block;
    margin: 1rem auto 0;
}


.customers__list .slick-next, .customers__list .slick-prev {
    z-index: 9;
    background:url("/img/vimages/arrowL.png") no-repeat;
    background-size: 70px;
    height: 139px;
    width: 70px;
    transition: background .2s ease-in-out;

    &:before {
        content: '';
    }

    &:hover {
        background-size: 70px;
    }
}

.customers__list .slick-prev {
    left: 0;
}

.customers__list .slick-next {
    right: 0;
    transform: rotate(180deg) translateY(50%);
}






.ht-provides {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 10px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  /* background: url(/img/home/v_notebook.png) -60% 50% no-repeat;
  -webkit-background-size: 67%;
  background-size: 67%; */

  @media screen and (max-width: 800px) {
    background: none;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.ht-provides__img-wrap {
  width: 45%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-start;
  -ms-align-items: center;
  align-items: center;

  @media screen and (max-width: 800px) {
    width: 100%;
    justify-content: center;
  }
}

.ht-provides__img {
  width: 100%;
  display: block;
}

.ht-provides__wrap {
  width: 600px;
  position: relative;
  padding-left: 60px;

  @media screen and (max-width: 800px) {
    width: 100%;
    left: 0;
    padding-left: 0;
  }
}

.ht-provides__title {
  color: #555;
  font-weight: 400;
  font-size: 3rem;
  margin-bottom: 4rem;

  @media screen and (max-width: 800px) {
    text-align: center;
  }

  @media screen and (max-width: 600px) {
    font-size: 2.5rem;
  }
}

.ht-provides__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ht-provides__item {
  margin: 0;
  margin-bottom: 3rem;
  padding: 0;
  color: #595959;
  font-weight: 400;
  font-size: 1.25rem;
  position: relative;

  @media screen and (max-width: 800px) {
    margin-left: 60px;
  }

  @media screen and (max-width: 400px) {
    margin-left: 40px;
  }

  &:before {
    content:"";
    width: 40px;
    height: 40px;
    position: absolute;
    left: -60px;
    top: 50%;
    transform: translateY(-50%);
    background: url(/img/home/v_icon4.png) no-repeat center center;
    -webkit-background-size: contain;
    background-size: contain;

    @media screen and (max-width: 400px) {
      width: 20px;
      height: 20px;
      left: -40px;
    }
  }
}

.ht-provides__item span {
  font-weight: 700;
}



.ht-bottom {
  background: rgba(0,0,0,.5) center center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 50px 10px 150px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
}

.ht-bottom__title {
  color: #fff;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  width: 100%;
  max-width: 800px;

  @media screen and (max-width: 600px) {
    font-size: 2.5rem;
  }
}
