.nh-top {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  text-align: center;
  padding: 40px 10px;
}

.nh-top__title {
  text-transform: uppercase;
  font-size: 2.375rem;
  font-weight: 400;
  color: #50546d;
  margin-bottom: 1rem;

  @media screen and (max-width: 600px) {
    font-size: 1.8rem;
  }
}

.nh-top__under-title {
  font-size: 1.25rem;
  font-weight: 400;
  color: #595959;
  max-width: 850px;
  margin-bottom: 2rem;
}

.nh-top__btns-wrap {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;

  @media screen and (max-width: 600px) {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.nh-link {
  text-transform: uppercase;
  font-size: 1.375rem;
  padding: 1rem 0;
  width: 250px;
  color: #fff;
  border: none;
  border-radius: 2rem;

  &:first-child {
    margin-right: 2rem;

    @media screen and (max-width: 600px) {
      margin-right: 0;
      margin-bottom: 2rem;
    }
  }

  &--sign-up {
    background: #50556e;
  }

  &--request {
    background: #0086ff;
  }
}

.nh-top__img {
  width: 100%;
  max-width: 1200px;
}





.nh-trusted {
  background: #f1f6fb;
  padding: 20px 10px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.nh-trusted__title {
  color: #595959;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin-bottom: 0;
}

.nh-trusted__logos-wrap {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
  list-style: none;
  margin: 0;
  padding: 0;

  @media screen and (max-width: 800px) {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.nh-trusted__logos-wrap img {

  @media screen and (max-width: 800px) {
    margin: 20px 0;
  }
}





.nh-info {
  padding: 3rem 1rem 5rem;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: flex-start;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;

  @media screen and (max-width: 800px) {
    -ms-align-items: center;
    align-items: center;
  }
}

.nh-info__block {
  width: 90%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 8rem;
  }

  &:nth-child(2n) {
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    align-self: flex-end;

    @media screen and (max-width: 800px) {
      align-self: center;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }

  &:nth-child(2n+1) {

    @media screen and (max-width: 800px) {
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }
}

.nh-info__block:nth-child(2n+1) .nh-info__block-img {
  margin-right: 6rem;

  @media screen and (max-width: 800px) {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

.nh-info__block:nth-child(2n) .nh-info__block-img {
  margin-left: 6rem;

  @media screen and (max-width: 800px) {
    margin-left: 0;
    margin-bottom: 3rem;
  }
}

.nh-info__block-img {
  width: 45%;
  filter: drop-shadow( 0 0 70px #d6d2d2);

  @media screen and (max-width: 800px) {
    width: 80%;
  }
}

.nh-info__block-lines {
  position: absolute;
  bottom: -30%;
  left: 48%;

  @media screen and (max-width: 800px) {
    bottom: -25%;
    left: 40%;
  }

  @media screen and (max-width: 400px) {
    left: 20%;
  }
}

.nh-info__block:nth-child(2n) .nh-info__block-lines {
  left: auto;
  right: 44%;
  bottom: -42%;
  transform: rotateY(180deg);

  @media screen and (max-width: 800px) {
    left: 40%;
    right: auto;
    bottom: -25%;
    transform: rotateY(0);
  }

  @media screen and (max-width: 400px) {
    left: 20%;
  }
}

.nh-info__block:last-child .nh-info__block-lines {
  display: none;
}

.nh-info__text-wrap {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  @media screen and (max-width: 800px) {
    -ms-align-items: center;
    align-items: center;
    text-align: center;
  }
}

.nh-info__block-title {
  text-transform: uppercase;
  color: #0086ff;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.nh-info__block-descr {
  color: #767575;
  font-size: 1.3125rem;
  margin-bottom: 1rem;
}

.nh-info__block-descr span {
  font-weight: 700;
}

.nh-link--learn-more {
  background: #0086ff;
  text-align: center;
}





.nh-capabilities {
  background: #f1f5fa;
  padding: 50px 10px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
}

.nh-capabilities__title {
  font-weight: 400;
  color: #555;
  font-size: 3rem;
  text-align: center;

  @media screen and (max-width: 600px) {
    font-size: 2.5rem;
  }
}

.nh-capabilities__modules {
  width: 100%;
  max-width: 1200px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;

  @media screen and (max-width: 800px) {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
  }
}

.nh-capabilities__block {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
  max-width: 175px;
  padding: 0;
  margin: 0;

  @media screen and (max-width: 800px) {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    max-width: 500px;
  }

  &:not(:first-child) {
    padding-top: 14px;
  }

  &:not(:last-child) {

    @media screen and (max-width: 800px) {
      margin-bottom: 3rem;
    }
  }
}

.nh-capabilities__img {
  margin-bottom: 1.5rem;

  @media screen and (max-width: 800px) {
    margin-right: 3rem;
  }

  @media screen and (max-width: 450px) {
    width: 130px;
    margin-right: 1rem;
  }
}

.nh-capabilities__descr {
  font-weight: 400;
  color: #595959;
  font-size: 1.5625rem;
}

.nh-capabilities__descr span {
  font-size: 1.9375rem;
  font-weight: 700;
}





.nh-studies {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  padding: 50px 10px;
}

.nh-studies__title {
  text-align: center;
  font-weight: 400;
  color: #555;
  font-size: 3rem;

  @media screen and (max-width: 600px) {
    font-size: 2.5rem;
  }
}

.nh-studies__block {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  max-width: 900px;
  width: 100%;
  margin-bottom: 5rem;

  @media screen and (max-width: 800px) {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  &:last-child {
    margin-bottom: 0;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;

    @media screen and (max-width: 800px) {
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }
}

.nh-studies__img-wrap {
  margin-right: 5rem;
  position: relative;

  @media screen and (max-width: 800px) {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

.nh-studies__block:last-child .nh-studies__img-wrap {
  margin-right: 0;
  margin-left: 5rem;

  @media screen and (max-width: 800px) {
    margin-left: 0;
  }
}

.nh-studies__img {
  display: block;
  width: 380px;

  @media screen and (max-width: 800px) {
    max-width: 600px;
    width: 100%;
  }
}

.nh-studies__img-text {
  position: absolute;
  color: #555;
  font-weight: 400;
  font-size: 1.6rem;
}

.nh-studies__img-text--first {
  bottom: 41%;
  left: 8%;
}
.nh-studies__img-text--second {
  bottom: 8%;
  left: 8%;
}
.nh-studies__img-text--third {
  bottom: 41%;
  right: 8%;
}
.nh-studies__img-text--fourth {
  bottom: 8%;
  right: 8%;
}

.nh-studies__block-title {
  font-weight: 600;
  color: #50546d;
  font-size: 1.5625rem;
}

.nh-studies__block-descr {
  font-weight: 400;
  font-style: italic;
  color: #767575;
  font-size: 1.3125rem;
  display: block;
  margin-bottom: .5rem;

  &:before {
    content: "";
    background: url(/img/home/v_quote.png) center center no-repeat;
    background-size: contain;
    width: 30px;
    height: 28px;
    margin: 0 5px;
    float: left;
  }
}

.nh-studies__block-author {
  color: #595959;
  font-weight: 400;
  font-size: 1.0625rem;
}

.nh-studies__block-link {
  font-weight: 400;
  color: #0776df;
  text-transform: uppercase;
  font-size: 1.3125rem;
}





.nh-provides {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 10px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  /* background: url(/img/home/v_notebook.png) -60% 50% no-repeat;
  -webkit-background-size: 67%;
  background-size: 67%; */

  @media screen and (max-width: 800px) {
    background: none;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}

.nh-provides__img-wrap {
  width: 50%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-start;
  -ms-align-items: center;
  align-items: center;

  @media screen and (max-width: 800px) {
    width: 100%;
    justify-content: center;
  }
}

.nh-provides__img {
  width: 80%;
  display: block;
}

.nh-provides__wrap {
  width: 44%;
  position: relative;

  @media screen and (max-width: 800px) {
    width: 100%;
    left: 0;
  }
}

.nh-provides__title {
  color: #555;
  font-weight: 400;
  font-size: 3rem;
  margin-bottom: 4rem;

  @media screen and (max-width: 800px) {
    text-align: center;
  }

  @media screen and (max-width: 600px) {
    font-size: 2.5rem;
  }
}

.nh-provides__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nh-provides__item {
  margin: 0;
  margin-bottom: 3rem;
  padding: 0;
  color: #595959;
  font-weight: 400;
  font-size: 1.5625rem;
  position: relative;

  @media screen and (max-width: 800px) {
    margin-left: 60px;
  }

  @media screen and (max-width: 400px) {
    margin-left: 40px;
  }

  &:before {
    content:"";
    width: 40px;
    height: 40px;
    position: absolute;
    left: -60px;
    top: 50%;
    transform: translateY(-50%);
    background: url(/img/home/v_icon4.png) no-repeat center center;
    -webkit-background-size: contain;
    background-size: contain;

    @media screen and (max-width: 400px) {
      width: 20px;
      height: 20px;
      left: -40px;
    }
  }
}

.nh-provides__item span {
  font-weight: 700;
}



.nh-bottom {
  background: #222424;
  padding: 50px 10px 150px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
}

.nh-bottom__title {
  color: #fff;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  width: 100%;
  max-width: 800px;

  @media screen and (max-width: 600px) {
    font-size: 2.5rem;
  }
}
