@media only screen and (max-width: 1211px) {
	.hbspt-form .hs-form-iframe {
	  width: 100% !important;
	}
}

.submitted-message {
	text-align: center !important;
	font-size: 18px !important;
	height: 150px !important;
}
