/**
*
* Landing components
*
**/

.landing-btn {
    display: inline-block;
    font-size: 16px;
    line-height: 18px;
    color: #2a2c37;
    padding: 19px 70px;
    font-weight: 600;
    background: #fff;
    text-transform: uppercase;
    border-radius: 4px;
    transition: color .2s ease-in-out,
                border .2s ease-in-out,
                background .2s ease-in-out;
    border: 2px solid #fff;
}
.landing-btn--signup:hover {
    color: #fff;
    background: transparent;
}

.landing-btn--watch {
    background: transparent url('/img/vimages/video-icon.png') 35px 43% no-repeat;
    color: #fff;
    padding-left: 84px;
    padding-right: 35px;
    font-weight: normal;
    cursor: pointer;
}

.landing-btn--watch:hover {
    background: transparent url('/img/vimages/video-icon--hover.png') 35px 43% no-repeat;
    color: #b3ebff;
    border-color: #b3ebff;
}



/**
*
* Sub heading
*
**/

.sub-heading {
    background: #1d1f2d;
    padding-right: 30px;
    position: fixed;
    left: 0;
    width: 100%;
    top: 70px;
    z-index: 10;
}

.sub-heading__nav {
    display: flex;
    justify-content: flex-end;
    padding: 8px 0 10px 0;
}

.sub-heading__nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.sub-heading__nav-item {
    &:not(:last-child) {
        margin-right: 25px;
    }
}

.sub-heading__nav-link {
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    &:hover {
        text-decoration: underline;
    }
}

/**
*
* Banner
*
**/

.landing-banner {
    width: 100%;
    height: calc(100vh - 70px);
    position: relative;
}

.landing-banner__descr-wrap {
    padding-top: 10vh;
    width: 49%;
}

.landing-banner__main-title {
    font-size: 55px;
    color: #fff;
    font-weight: 400;
    line-height: 1.27;
    margin-bottom: 20px;
    letter-spacing: 3px;
}

.landing-banner__descr {
    color: #fff;
    font-size: 21px;
    line-height: 32px;
    font-weight: 300;
    margin-bottom: 50px;
}

.landing-btn-wrap > .landing-btn:not(:last-child) {
    margin-right: 30px;
}

/**
*
* Functions
*
**/

.functions {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(41, 43, 56, 0.4);
    padding: 25px 0 20px 0;
}

.functions .container {
    padding: 0;
}

.functions__list {
    display: flex;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.functions__item {
    padding: 0 15px;
    text-align: center;
    position: relative;
    display: flex;
    flex-basis: 200px;
    align-items: flex-start;
    justify-content: center;
    &:not(:last-child) {
        &:after {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            width: 1px;
            background: #3a3d49;
            height: 57px;
        }
    }
}

.functions__img-container {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    flex-flow: column nowrap;
}

.function__img-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.functions__img {
    display: block;
    max-width: 100%;
}

.functions__img-descr {
    color: #fff;
    font-size: 14px;
    opacity: .9;
    text-align: center;
}

/**
*
* Features
*
**/

.features {
    padding: 60px 0;
}

.features__list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    flex-wrap: wrap;
}

.features__item {
    width: 345px;
    margin-top: 40px;
}

.feature__img-container {
    margin: 0;
    text-align: center;
}

.feature__img-wrap {
    display: block;
    margin-bottom: 30px;
}
.feature__img-title {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
    opacity: .9;
}

.feature__img-descr {
    color: #5e6f85;
    font-size: 14px;
    opacity: .9;
    letter-spacing: .06em;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 0;
}

/**
*
* Testimonials
*
**/

.testimonials {
    background: #f5f6f9;
    padding: 55px 0;
}

.testimonials--container {
    display: flex;
}

.testimonials__company-wrap {
    padding: 0 115px 0 70px;
    width: 390px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonials__company-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.testimonials__company-item {
    width: 100%;
    display: flex;
    justify-content: center;
    &:not(:last-child) {
        margin-bottom: 40px;
    }
}
.testimonials__company-img {
    display: block;
    max-width: 100%;
    max-height: 50px;
    filter: grayscale(100%);
    transition: filter .2s ease-in-out;

    &:hover {
        filter: grayscale(0);
    }
}

.testimonials__slider-wrap {
    border-left: 1px solid #d4d6dd;
    flex: 1 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 90px;
    overflow: hidden;
}

.testimonials__title {
    color: rgb(86, 87, 96, .9);
    letter-spacing: 2px;
    font-size: 35px;
    margin-bottom: 40px;
}

.testimonials__slider-list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}

.testimonials__slider-item {
    text-align: center;
}

.testimonials__slider-client-asked {
    font-weight: 300;
    line-height: 26px;
    font-size: 21px;
    position: relative;
    font-style: italic;
    margin-bottom: 40px;

    &:before, &:after {
        content: '';
        background: url('/img/vimages/quote.png') no-repeat;
        background-size: 10px;
        width: 10px;
        height: 10px;
        position: absolute;
        
    }
    &:before {
        left: 0;
        top: 0;
    }
    &:after {
        right: 0;
        bottom: 0;
        transform: rotate(180deg);
    }
}

.testimonials__slider-client-img-container {
    margin: 0;
}

.testimonials__slider-client-img-wrap {
    display: block;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 40px auto;
}

.testimonials__slider-client-name {
    font-weight: 300;
    color: #52556c;
    line-height: 26px;
    font-size: 18px;
}

/**
*
* Tour
*
**/

.tour {
    background: #252535;
    background: -moz-linear-gradient(-45deg, #252535 0%, #3a3845 63%, #3a3845 63%, #262637 99%);
    background: -webkit-linear-gradient(-45deg, #252535 0%,#3a3845 63%,#3a3845 63%,#262637 99%);
    background: linear-gradient(135deg, #252535 0%,#3a3845 63%,#3a3845 63%,#262637 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#252535', endColorstr='#262637',GradientType=1 );
    padding: 55px 0 120px 0;
}

.tour__main-title {
    font-size: 39px;
    font-weight: 700;
    letter-spacing: 4px;
    text-align: center;
    color: #D8D8D9;
    margin-bottom: 0;
}

.tour__slider-button-list {
    margin: 65px 0 0 0;
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-between;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        background: #525556;
        opacity: .2;
        width: 100%;
        height: 1px;
    }
}

.tour__slider-button-list .slick-list {
    width: 100%;
    overflow: visible;
}
.tour__slider-button-list .slick-track {
    display: flex;
    justify-content: space-between;
    transform: translate3d(0px, 0px, 0px) !important;
    &:before, &:after {
        display: none;
    }
}

.tour__slider-button-item {
    position: relative;
    width: auto !important;
    &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        background: #08c8ca;
        width: 100%;
        height: 1px;
        opacity: 0;
        transition: opacity .2s ease-in-out;
    }
    &:after {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -12px;
        border: 5px solid transparent;	border-top: 7px solid #08c8ca;
        opacity: 0;
        transition: opacity .2s ease-in-out;
    }
    &:not(:last-child) {
        margin-right: 40px;
    }

    &:hover:before, &:hover:after {
        opacity: 1;
    }
}

.tour__slider-button-list .slick-current {
    &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        background: #08c8ca;
        width: 100%;
        height: 1px;
        opacity: 1;
        transition: opacity .2s ease-in-out;
    }
    &:after {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -12px;
        border: 5px solid transparent;	border-top: 7px solid #08c8ca;
        transition: opacity .2s ease-in-out;
        opacity: 1;
    }
}

.tour__slider-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    padding: 0 0 6px 0;
    transition: color .2s ease-in-out;
    &:hover {
        color: #08c8ca;
    }
}

.tour__slider-wrap {
    margin-top: 45px;
}

.tour__slider-descr {
    text-align: center;
    max-width: 740px;
    margin: 0 auto;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
}

.tour__slider-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tour__slider-img-container {
    margin: 35px auto 0 auto;
    background-color: #1B1C21;
    padding: 25px;
    border-radius: 15px;
    max-width: 980px;
}

.tour__slider-img-wrap {
    display: block;
}

.tour__slider-img {
    display: block;
    max-width: 100%;
}

.tour__slider-wrap .slick-prev {
    left: 0;
}

.tour__slider-wrap .slick-next {
    right: 0;
    transform: rotate(180deg) translateY(50%);
}

.tour__slider-wrap .slick-next, .tour__slider-wrap .slick-prev {
    z-index: 9;
    background: url("/img/vimages/tour-arr.png") no-repeat;
    background-size: 70px;
    height: 139px;
    width: 70px;
    transition: background .2s ease-in-out;
    &:before {
        content: '';
    }

    &:hover {
        background: url('/img/vimages/tour-arr-hover.png') no-repeat;
        background-size: 70px;
    }
}

/**
*
* Errors
*
**/

.errors {
    background: url('/img/vimages/errors.jpg') no-repeat;
    background-size: cover;
    padding: 60px 0;
    text-align: center;
}

.errors__title {
    font-weight: 700;
    color: #292b38;
    font-size: 61px;
    margin-bottom: 10px;
}

.errors__desc {
    font-weight: 300;
    font-size: 62px;
    color: #4c5172;
    font-style: italic;
    margin-bottom: 0;
}

.sign-up--errors {
    margin-top: 30px;
    display: inline-block;
    padding: 19px 120px;
    font-weight: 700;
    letter-spacing: .8px;
    

}


/**
*
* Modal
*
**/

.banner-modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 999;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .5);
    display: none;
    align-items: center;
    justify-content: center;
}



.banner-modal__container {
    width: 900px;
    position: relative;
}
.banner-modal__close {
    position: absolute;
    top: -30px;
    right: 0;
    background: none;
    padding: 0;
    border: none;
    color: #fff;
    cursor: pointer;
}

.body-fixed {
    overflow: hidden;
    height: 100vh;
}
.banner-modal--active {
    display: flex;
}