.nav {
  margin-left: 50px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;

  @media screen and (max-width: 1201px) {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    left: -10px;
    top: 0;
    background: #fff;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
    width: 230px;
    height: 100vh;
    z-index: 999;
    padding: 40px 25px;
    margin-left: 0;
    transform: translateX(-100%);
    transition: transform 0.1s ease-in-out;
    overflow: auto;
  }
}
.nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  @media screen and (max-width: 1201px) {
    flex-flow: column nowrap;
    display: block;

    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }
}

.nav__item {
  position: relative;

  @media screen and (max-width: 1201px) {
    &:not(:last-child) {
      margin: 0 0 15px 0;
    }
  }
}

.nav__link {
  color: #52556c;
  font-size: 14px;
  transition: background 0.1s ease-in-out, color 0.1s ease-in-out;
  padding: 9px 15px 8px 15px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  position: relative;

  &:hover {
    background: #fff;
    color: #0585ff;
  }

  &--active {
    background: #fff;
    color: #0585ff;
  }

  @media screen and (max-width: 1201px) {
    padding: 0;
    font-weight: 400;
  }
}

.dropdown-arrow {
  height: 19px;
  transform: translateY(-2px);
  width: 20px;
}

.dropdown-wrap {
  position: absolute;
}

.dropdown-toggle {
  width: 250px;
  position: absolute;
  top: 55px;
  left: 5px;
  border-radius: 5px;
  display: none;
  background-color: #f2f3f7;
  border: 1px solid #dcdeec;
  box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.07);
  z-index: 9999;

  @media screen and (max-width: 1201px) {
    position: static;
    background: transparent;
    width: auto;
    margin-top: 10px;
    margin-left: 10px;
    border: none;
    border-left: 1px solid #1f2733;
    box-shadow: none;
  }
}

.dropdown-toggle--active {
  display: flex;
}

.dropdown-toggle--multicol {
  border-radius: 5px;
  width: auto;
  position: fixed;
  left: 12%;
  top: 72px;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  background-color: #f2f3f7;

  @media (max-width: 1201px) {
    border-radius: 0;
    position: static;
    left: 0;
    top: 0;
    transform: none;
    margin: 0;
  }
}

.dropdown-toggle--left {
  width: 325px;
  background-color: #f7f8fc;
  padding: 30px;
}

.dropdown-toggle--left__link {
  padding: 0;
}

.dropdown-toggle--left .dropdown-toggle--left__link:hover {
  background: none;
}
.dropdown-toggle--left__link:hover .dropdown-toggle--left__img-desc,
.dropdown-toggle--left__link:hover .dropdown-toggle--left__title {
  text-decoration: underline;
}

.dropdown-toggle--left__title {
  margin: 0;
  font-size: 16px;
  color: #717383;
}

.dropdown-toggle--left__img {
  margin-top: 10px;
  margin-left: 0;
  margin-right: 0;
}

.dropdown-toggle--left__img > img {
  width: 200px;
}
.dropdown-toggle--left__img-desc {
  margin-top: 10px;
  color: #5e6f85;
  font-weight: 300;
  line-height: 25px;
  display: block;
}

.dropdown-toggle--right {
  padding: 33px 40px;
  border-left: 1px solid #dcdeec;
  flex: 1;
  display: flex;
  flex-flow: row wrap;
}
.dropdown-toggle__group {
  margin-bottom: 15px;
  width: 190px;
}
.dropdown-toggle__group:not(:last-child) {
  margin-right: 20px;
}

.dropdown-toggle__group-title {
  color: #52556c;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 0 15px 10px;
}

.dropdown-toggle__group-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.dropdown-toggle__group-list-item-link {
  font-size: 14px;
  line-height: 16px;
  padding: 8px 10px;
  color: #52556c;
  display: block;
}

.nav--homepage-header .dropdown-toggle__group-list-item-link {
  color: #fff;

  @media screen and (max-width: 1201px) {
    color: #52556c;
  }
}

.dropdown-toggle__group-list-item-link:hover {
  background: #e8e9ed;
  color: #52556c !important;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100vh;
  z-index: 999;
  display: none;
  -webkit-overflow-scrolling: touch;
}

.overlay--active {
  display: block;
}

@media screen and (max-width: 1201px) {
  .body-fixed {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  .nav--active {
    transform: translateX(0);
    z-index: 99999;
  }
}

.white-page-menu {
  color: #52556c;
}

.blue-request {
  background: #0585ff;
  padding: 10px 25px;
  border-radius: 4px;

  @media screen and (max-width: 1201px) {
    padding: 0;
    background: transparent;
  }
  &:hover {
    color: #fff !important;
  }
}

.dropdown__info {
  padding: 30px 30px 15px;
  width: 320px;
  border-right: 1px solid lightgrey;
  background: #f7f8fc;

  @media (max-width: 1201px) {
    display: none;
  }
}

.dropdown__info-title {
  color: #717383;
  font-size: 16px;
}

.dropdown__info-img {
  display: block;
  max-height: 100px;
  margin: 0 auto 15px;
}

.dropdown__info-descr {
  font-size: 15px;
  line-height: 1.6;
  color: #5e6f85;
}
