.podcastContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.podcastImg_Wrap {
  height: 150px;
  width: 100x;
  white-space: nowrap;
  text-align: center;
}

.podcastImg_helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.podcastImg {
  vertical-align: middle;
  max-height: 100px;
  max-width: 100px;
}

.podcastDivider {
  border-left: 3px solid #0086ff;
  margin: 25px 15px 25px 10px;
}

.podcastInfo_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
}

.podcastName {
  color: #181818; 
  font-weight: 600;
}

.podcastEpisode {
  color: #8e8e8e; 
  font-weight: 400;
  margin-bottom: 10px;
}
.podcastLink_wrap {
  font-weight: 400;
}

.podcastLink {
  color: #0086ff;
  text-decoration: none;
}

.podcastLinkDivider {
  color: #383e4d;
}

@media screen and (max-width: 1025px) {
  .podcastInfo_wrap {
    font-size: 16px;
  }
}  

@media screen and (max-width: 767px) {
  .podcastInfo_wrap {
    font-size: 14px;
  }  
  
  .podcastImg {
    vertical-align: middle;
    max-height: 75px;
    max-width: 75px;
  }
  
  .podcastDivider {
  margin: 37.5px 20px 37.5px 10px;
  }
}

@media screen and (max-width: 470px) {
  .podcastInfo_wrap {
    font-size: 11px;
  }
}  
