.press1st {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 10px;

  @media (max-width: 600px) {
    padding: 40px 10px;
  }
}

.press1st__title {
  text-align: center;
  color: #fff;
  font-size: 2.375rem;
  font-weight: 400;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 850px;
  margin: 0 auto;

  @media (max-width: 600px) {
    font-size: 1.8rem;
  }
}

.press2nd {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 10px;
}

.press2nd__list {
  margin: 50px 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
}
.press2nd__item {
  border: 1px solid #e5e5e9;
  border-radius: 5px;
  width: calc(50% - 30px);
  margin-bottom: 30px;
  &:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  transition: box-shadow 0.2s ease-in-out;
  &:hover {
    box-shadow: 0px 0px 20px 0px #ececec;
  }

  @media screen and (max-width: 1021px) {
    width: 100%;
    &:not(:nth-child(2n)) {
      margin-right: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.press2nd__link {
  width: 100%;
  display: block;
  padding: 20px 30px;

  @media screen and (max-width: 768px) {
    padding: 20px;
  }
}

.press2nd__top {
  border-bottom: 1px solid #e5e5e9;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 57px;
}

.press2nd__company-wrap {
  display: block;
  width: 20%;
}
.press2nd__company-wrap > img {
  display: block;
  max-width: 100%;
  max-height: 35px;
}

.press2nd__company-person-wrap {
  display: flex;
  align-items: center;
  max-width: 300px;
}

.press2nd__company-person-img {
  width: 60px;
  display: block;
  border-radius: 50%;
}
.press2nd__company-person-img > img {
  max-width: 100%;
  display: block;
}
.press2nd__company-person-img + div {
  display: flex;
  flex-flow: column nowrap;
  margin-left: 20px;
  flex: 1 0;
}

.press2nd__company-person-name {
  color: #52556c;
  font-size: 16px;
  font-weight: 700;
}
.press2nd__company-person-company-name {
  font-weight: 300;
  color: #5e6f85;
  font-size: 16px;
}

.press2nd__bottom {
  padding-top: 30px;
}

.press2nd__title {
  color: #383e4d;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 25px;
}

.press2nd__tag-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
}

.press2nd__tag-item {
  margin-top: 5px;
  &:not(:last-child) {
    margin-right: 15px;
  }
  position: relative;
  background: #eef1f6;
  color: #717e91;
  font-size: 14px;
  line-height: 16px;
  padding: 5px 10px;
  &:after {
    content: "";
    border: 13px solid transparent;
    border-left: 10px solid rgb(238, 241, 246);
    position: absolute;
    right: -22px;
    top: 0;
  }
}

.paginations {
  margin-top: 20px;
}

.paginations__list {
  display: flex;
  list-style: none;
  margin: 0 0 50px 0;
  padding: 0;
  justify-content: center;
}

.paginations__item {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eef1f6;
  border-radius: 5px;
  margin: 0 2.5px;
  border: 1px solid transparent;
  &:hover {
    border-color: #3ebabb;
  }
  &:hover .paginations__link {
    color: #3ebabb;
  }
}
.paginations__item--active {
  border-color: #3ebabb;
}
.paginations__item--active .paginations__link {
  color: #3ebabb;
}
.paginations__link {
  display: flex;
  width: 100%;
  height: 100%;
  color: #717e91;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}
