.container-pricing {
  width: 95%;
  margin: 0 auto;

  @media screen and (max-width: 1211px) {
      width: 99%;
  }
  @media screen and (max-width: 1051px) {
      width: 99%;
  }
  @media screen and (max-width: 1024px) {
      width: 80%;
  }	
  @media screen and (max-width: 784px) {
      width: 90%;
  }
}

.card__title-wrap__pricing {
  display: flex;
  flex-direction: column;
  /*align-items: flex-start;*/

  & > img {
      margin: 1em 0;
  }
}

.card__title__pricing {
  font-size: 1.5em;
  font-weight: 600;
  color: #383e4d;
  margin-bottom: 0.5em;

  @media screen and (max-width: 1024px) {
      font-size: 2em;
  }
  @media screen and (max-width: 784px) {
      font-size: 2em;
  }		
}

.card__subtitle__pricing {
  font-weight: 400;
  list-style-type: none;
  padding: 0;
  color: #383e4d;
  font-size: 0.85em;
  height: 5em;
  margin-bottom: 0.5em;	

  & > ul {
      list-style: none;
      padding: 0;
  }

  & ul > li {
      margin: 1em 0;
  }

  @media screen and (max-width: 1211px) {
      font-size: 0.9em;
  }
  @media screen and (max-width: 1051px) {
      font-size: 0.9em;
  }
  @media screen and (max-width: 784px) {
      font-size: 1.1em;
      height: auto;
  }		
  @media screen and (max-width: 1024px) {
      font-size: 1.15em;
      height: auto;
  }
}


/* ANNUAL/MONTHLY PRICE */
.price-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  /*flex: 1;*/
}

.price-wrapper-top {
	font-size: 1.1em;
	height: 3em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  /*flex: 1;*/
  /*flex-basis: 2.5em;*/ 
  @media screen and (max-width: 1024px) {
      height: auto;
  }	
}

.price-wrapper-bottom {
	font-size: 1.1em;
	height: 2em;
  display: flex;
  flex-wrap: nowrap;
  /*justify-content: center;*/
  align-items: flex-start;
  flex-direction: row;
  /*flex: 1;*/ 
  @media screen and (max-width: 1024px) {
      height: auto;
  }	
}

.price-card {
  position: relative;
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 540px;
  margin: 0 0.3em;
  background-color: #fff;
  border: 1px solid #efefef;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 1px rgb(228 228 228 / 55%);

  @media screen and (max-width: 1024px) {
    padding: 2em;
    max-width: 100%;
    margin: 2em 0;
  }		
}

.price-primary-value {
  font-weight: 600;
  color: #0585ff;
  font-size: 2em;
  display: inline;
    @media screen and (max-width: 1024px) {
        font-size: 2em;
    }		
}


.price-primary-period {
  font-weight: 400; 
  color: #0585ff;
  font-size: 0.9em;
  display: block;
  margin-left: 0.5em;
  line-height: 1em;
    @media screen and (max-width: 1024px) {
        font-size: 1.1em;
    }		
}


.price-billing-note {
  font-weight: 600;
  color: #50546d; /*#0ec78b;*/
  font-size: 0.8em;
    @media screen and (max-width: 1024px) {
        font-size: 0.9em;
    }		
}

.price-min-seats {
  font-weight: 600;
  color: #50546d; /*#0ec78b;*/
  font-size: 0.8em;
  margin-left: 0.5em;
    @media screen and (max-width: 1024px) {
        font-size: 0.9em;
    }		
}

/* END ANNUAL/MONTHLY PRICE */


/* BEFORE BULLET POINTS IN PRICING CARD */
.before-bullet-points {
  margin: 0 0 0.7em;
  font-weight: 600;
  font-size: 1em;
  text-align: left;
  color: #50546d;
  @media screen and (max-width: 1024px) {
    font-size: 1.2em;
    /*text-align: center;*/
  }		
}
/* END BEFORE BULLET POINTS IN PRICING CARD */	




/* CARDS FOR CONTACT US IF YOU NEED... SECTION */
.pricing__card {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  padding: 0;
  margin: 1em 1em;
  text-align: center;
  color: #595959;
  width: 100%;
  max-width: 300px;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  border-radius: 5px;
}
/* END CARDS FOR CONTACT US IF YOU NEED... SECTION */


/* TOOLTIPS FOR FEATURES IN PRICING CARDS */
.tooltipPricing {
  position: relative;
  display: inline-block;
  cursor: pointer;
  float: right;
}

.tooltipPricing .tooltiptextPricing {
  visibility: hidden;
  width: 260px;
  background-color: #212121;
  color: #ffffff;
  font-weight: 600;
  font-size: 0.8em;	
  box-shadow: 0 0 0.5em 1px #9a9a9a;	
  text-align: left;
  border-radius: 5px;
  padding: 0.7em;
  position: absolute;
  z-index: 1;
  top: -250%;
  right: 100%;
  margin-left: -7.5em;
  opacity: 0;
  transition: opacity 0.3s;
}


.tooltipPricing:hover .tooltiptextPricing {
  visibility: visible;
  opacity: 1;
}

.tooltiptextPricing ul {
  list-style: initial!important;
  padding: 0 0 0 1.5em!important;
}

.tooltiptextPricing li {
  padding-left: 0!important;
  margin-bottom: 5px!important;
  color: #ffffff!important;
  font-weight: 600!important;
  font-size: 12px!important;	
	
    &:before {
        content: none!important;
    }

    &:after {
        content: none!important;
    }
	
    @media screen and (max-width: 1024px) {
        text-align: left!important;
        padding-left: 0em;
        font-size: 0.9em!important;
    }  	
}	

.tooltiptextPricing p {
  margin-bottom: 5px!important;
  color: #ffffff!important;
  font-size: 12px!important;
  padding-left: 0!important;
  font-weight: 600!important;	
	
  @media screen and (max-width: 1024px) {
      text-align: left!important;
      padding-left: 0em;
      font-size: 0.9em!important;
  }  		
}


.tooltipIcon {
  color: #0585ff; 
  font-size: 18px;
  margin-left: 0.2em;
}

.pricingFormResize {
  width: 50%;	

  @media screen and (max-width: 1024px) {
      width: 80%;
  }  		

}	

/* END TOOLTIPS FOR FEATURES IN PRICING CARDS */

.btn-pricing-card {
  margin: 0.5em auto;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  color: #0585ff;
  padding: 0.5em 0em;
  background: #fff;
  text-transform: none;
  border-radius: 5px;
  transition: color 0.2s ease-in-out, border 0.2s ease-in-out,
  background 0.2s ease-in-out;
  border: 1px solid #0585ff;
  cursor: pointer;
  width: 60%;
}

.btn-pricing-card:hover {
  color: #fff;
  background: #0585ff;
  border: 1px solid #0585ff;
}    


.btn-pricing-card-special {
  margin: 1.3em auto 0.5em auto;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  padding: 0.5em 0em;
  background: #0585ff;
  text-transform: none;
  border-radius: 5px;
  transition: color 0.2s ease-in-out, border 0.2s ease-in-out,
  background 0.2s ease-in-out;
  border: 1px solid #0585ff;
  cursor: pointer;
  width: 60%;
}

.btn-pricing-card-special:hover {
  color: #0585ff;
  background: #fff;
  border: 1px solid #0585ff;
}  

.plan-features-wrapper {
  color: #5f6976;
  /*height: 9em;*/
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 3em;

  @media screen and (max-width: 1211px) {
      font-size: 0.9em;
  }	
  @media screen and (max-width: 1051px) {
      font-size: 0.9em;
  }	
  @media screen and (max-width: 1024px) {
      height: auto;
  }				
}

.plan-features-wrapper a, .plan-features-wrapper a:visited {
text-decoration: underline;
color: #0086ff;
}

.plan-features-wrapper ul {
  margin: 0; /* 0 20px 0; */
  padding: 0;
  list-style: none;
}

.plan-features-wrapper li {
  position: relative;
  /*padding-left: 0.3em; */
  font-weight: 400;
  color: #0e2639;
  font-size: 0.85em;

  &:not(:last-child) {
      margin-bottom: 0.7em;
  }

  @media screen and (max-width: 1024px) {
      /*text-align: center;*/
      padding-left: 0em;
      font-size: 1.1em;
      /*margin: 0 auto;*/
  }	
}

.plan-features-wrapper-li-wrapper {
display: flex; 
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-between;
}