.container-pricing {
  width: 95%;
  margin: 0 auto;

  @media screen and (min-width: 1401px) {
    max-width: 1400px;
  }  
  @media screen and (min-width: 1201px) {
    max-width: 1200px;
  }
  @media screen and (max-width: 1211px) {
    width: 99%;
  }
  @media screen and (max-width: 1051px) {
    width: 99%;
  }
  @media screen and (max-width: 1024px) {
    width: 90%;
  }	
}

.card__title-wrap__pricing {
  display: flex;
  flex-direction: column;

  & > img {
    margin: 1em 0;
  }
}

.card__title__pricing {
  font-size: 1.5em;
  font-weight: 900;
  color: #383e4d;
  margin-bottom: 0.5em;

  @media screen and (max-width: 1024px) {
    font-size: 2em;
    text-align: center;
  }
}

.card__subtitle__pricing {
  font-weight: 400;
  list-style-type: none;
  padding: 0;
  color: #383e4d;
  font-size: 0.9em;
  height: 5em;
  margin: 2em 0 1em 0;

  & > ul {
    list-style: none;
    padding: 0;
  }

  & ul > li {
    margin: 1em 0;
  }

  @media screen and (max-width: 1024px) {
    font-size: 1.1em;
    height: auto;
    text-align: center;
  }
}


/* ANNUAL/MONTHLY PRICE */
.price-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;

  @media screen and (max-width: 1024px) {
    align-items: center;
  }	
}

.price-wrapper-top {
	font-size: 1em;
	height: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;

  @media screen and (max-width: 1024px) {
    height: auto;
  }	
}

.price-wrapper-bottom {
	font-size: 1.1em;
	height: 1.1em;
  margin-top: 0.7em;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;

  @media screen and (max-width: 1024px) {
    height: auto;
  }	
}

.price-card {
  position: relative;
  padding: 1em 0.9em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 540px;
  background-color: #fff;
  border: 1px solid #efefef;
  border-radius: 15px;
  box-shadow: 0px -5px 10px 0px rgb(228 228 228 / 55%); 
  border: 1px solid #e8e8e8;
  width: 100%;

  @media screen and (max-width: 1024px) {
    width: 80%;
  }
  @media screen and (max-width: 768px) {
    width: 80%;
  }

  @media screen and (max-width: 501px) {
    width: 90%;
  }

}

.price-card:nth-child(1n) {
  margin: 0 0.7em 0 0;
  @media screen and (max-width: 1024px) {
    margin: 2em 0;
    padding: 2em 2em;
  }		
}

.price-card:nth-child(2n) {
  margin: 0 0.7em 0 0;
  @media screen and (max-width: 1024px) {
    margin: 2em 0;
    padding: 2em 2em;
  }		
}

.price-card:nth-child(2n + 1) {
  margin: 0 0.7em 0 0;
  @media screen and (max-width: 1024px) {
    margin: 2em 0;
    padding: 2em 2em;
  }		
}

.price-card:last-child {
  margin: 0;
  @media screen and (max-width: 1024px) {
    margin: 2em 0;
    padding: 2em 2em;
  }		
}


.price-card-content {
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  width: 100%;
  font-size: 1.2em;
}

.price-primary-value {
  font-weight: 600;
  color: #0585ff;
  font-size: 2em;
  display: inline;
}


.price-primary-period {
  font-weight: 600; 
  color: #383e4d;
  font-size: 0.9em;
  display: block;
  margin-left: 0.5em;
  line-height: 1em;

  @media screen and (max-width: 1024px) {
      font-size: 1.1em;
  }		
}


.price-billing-note {
  font-weight: 400;
  color: #383e4d;
  font-size: 0.75em;
  flex: 1;
  flex-basis: auto;

  @media screen and (max-width: 1024px) {
    font-size: 0.9em;
  }		
}

.price-min-seats {
  font-weight: 600;
  color: #50546d;
  font-size: 0.75em;
  margin-left: 0.5em;
  flex: 1;
  flex-basis: auto;

  @media screen and (max-width: 1024px) {
    font-size: 0.9em;
  }		
}

/* END ANNUAL/MONTHLY PRICE */


/* BEFORE BULLET POINTS IN PRICING CARD */
.before-bullet-points {
  margin: 0 0 0.7em;
  font-weight: 600;
  font-size: 1em;
  text-align: left;
  color: #50546d;
  @media screen and (max-width: 1024px) {
    font-size: 1.2em;
  }		
}
/* END BEFORE BULLET POINTS IN PRICING CARD */	




/* CARDS FOR CONTACT US IF YOU NEED... SECTION */
.pricing__card {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  padding: 0;
  margin: 1em 1em;
  text-align: center;
  color: #595959;
  width: 100%;
  max-width: 300px;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  border-radius: 5px;
}
/* END CARDS FOR CONTACT US IF YOU NEED... SECTION */


/* TOOLTIPS FOR FEATURES IN PRICING CARDS */
.tooltipPricing {
  position: relative;
  display: inline-block;
  cursor: pointer;
  float: right;
}

.tooltiptextPricing {
  width: 16em;
  z-index: 1;
  top: -210%;
  right: -28%;
  opacity: 0;
  transition: opacity 0.3s;

  @media screen and (max-width: 1024px) {
    font-size: 1em!important;
  }	
}

.tooltipPricing .tooltiptextPricing {
  visibility: hidden;
  background-color: #212121;
  color: #ffffff;
  font-weight: 600;
  font-size: 0.8em;	
  box-shadow: 0 0 0.5em 1px #9a9a9a;	
  /*text-align: left;*/
  border-radius: 5px;
  padding: 0.7em;
  position: absolute;
  /*margin-left: -7.5em;*/
}

.tooltipPricing:hover .tooltiptextPricing {
  visibility: visible;
  opacity: 0.95;
}

.tooltiptextPricing ul {
  list-style: initial!important;
  padding: 0 0 0 1.5em!important;
}

.tooltiptextPricing li {
  padding-left: 0!important;
  margin-bottom: 5px!important;
  color: #ffffff!important;
  font-weight: 600!important;
  font-size: 12px!important;	
	
  &:before {
    content: none!important;
  }

  &:after {
    content: none!important;
  }

  @media screen and (max-width: 1024px) {
  text-align: left!important;
  padding-left: 0em;
  font-size: 0.9em!important;
  }  	
}	

.tooltiptextPricing p {
  margin-bottom: 5px!important;
  color: #ffffff!important;
  font-size: 12px!important;
  padding-left: 0!important;
  font-weight: 600!important;	
	
  @media screen and (max-width: 1024px) {
    text-align: left!important;
    padding-left: 0em;
    font-size: 1em!important;
  }  		
}


.tooltipIcon {
  color: #383e4d; 
  font-size: 16px;
  margin-left: 0.2em;
}

.pricingFormResize {
  width: 50%;	

  @media screen and (max-width: 1024px) {
      width: 80%;
  }  		
}	

/* END TOOLTIPS FOR FEATURES IN PRICING CARDS */

.btn-pricing-card {
  margin: 0.5em auto;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  color: #0585ff;
  padding: 0.7em 0.5em;
  background: #fff;
  text-transform: none;
  border-radius: 5px;
  transition: color 0.2s ease-in-out, border 0.2s ease-in-out,
  background 0.2s ease-in-out;
  border: 1px solid #0585ff;
  cursor: pointer;
  width: 60%;

  @media screen and (max-width: 1024px) {
    width: 50%;
  }
}

.btn-pricing-card:hover {
  color: #fff;
  background: #0585ff;
  border: 1px solid #0585ff;
}    


.btn-pricing-card-contactUs {
  margin: 0.5em auto;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  padding: 0.7em 0.5em;
  background: #0585ff;
  text-transform: none;
  border-radius: 5px;
  transition: color 0.2s ease-in-out, border 0.2s ease-in-out,
  background 0.2s ease-in-out;
  border: 1px solid #0585ff;
  cursor: pointer;
  width: 60%;

  @media screen and (max-width: 1024px) {
    width: 50%;
  }
}

.btn-pricing-card-contactUs:hover {
  color: #0585ff;
  background: #fff;
  border: 1px solid #0585ff;
}

.btn-pricing-card-enterprise {
  margin: 0.5em auto;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  padding: 0.7em 0.5em;
  background: #52556c;
  text-transform: none;
  border-radius: 5px;
  transition: color 0.2s ease-in-out, border 0.2s ease-in-out,
  background 0.2s ease-in-out;
  border: 1px solid #52556c;
  cursor: pointer;
  width: 60%;

  @media screen and (max-width: 1024px) {
    width: 50%;
  }
}

.btn-pricing-card-enterprise:hover {
  color: #52556c;
  background: #fff;
  border: 1px solid #52556c;
}  

.plan-features-wrapper {
  color: #5f6976;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 11em;

  @media screen and (max-width: 1211px) {
      font-size: 0.9em;
  }	
  @media screen and (max-width: 1051px) {
      font-size: 0.9em;
  }	
  @media screen and (max-width: 1024px) {
      height: auto;
  }				
}

.plan-features-wrapper a, .plan-features-wrapper a:visited {
  text-decoration: underline;
  color: #0086ff;
}

.plan-features-wrapper ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.plan-features-wrapper li {
  position: relative;
  font-weight: 400;
  color: #0e2639;
  font-size: 0.75em;

  &:not(:last-child) {
    margin-bottom: 0.7em;
  }

  @media screen and (max-width: 1024px) {
    padding-left: 0em;
    font-size: 1.1em;
  }	
}

.plan-features-wrapper-li-wrapper {
  display: flex; 
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.planInfo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.planInfo-image-container {
  margin: 0 2% 0 0;
  max-width: 200px;
}

.planInfo-image {
  max-width: 200px;
}

.planInfo-description-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.planInfo-title {
  color: #383e4d;
  font-size: 2em;
  line-height: 1.1;
  font-weight: 600;
  margin-bottom: 15px;
  width: 100%;
}

.planInfo-description {
  color: #383e4d;
  font-size: 16px;
  width: 100%;
  font-weight: 400;
}

.faqContainer {

}

.faqContainer ul {
  list-style: none;
  padding: 0;
}

.pricingSectionTitleContainer {
  display: flex; 
  align-items: center;
}

.pricingSectionTitlePrefix {
  font-size: 2.3em; 
  display: flex; 
  justify-content: center;
  align-content: center; 
  flex-flow: wrap; 
  height: 50px; width: 55px; 
  background-color: #0086ff; 
  border-radius: 4px; 
  color: #ffffff;
  font-weight: 600;
}
