.wantVisyondFor-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: inherit;
    margin-bottom: 40px;

    & > .title {
        font-weight: 900;
        margin-bottom: 18px;
        font-size: 36px;
        text-align: center;
    }

    & > .radio-container {
        display: flex;
        font-size: 20px;
        border: 1px solid #c0c0c0;
        border-radius: 20px;
        padding: 16px 32px;
        background: #fff;
        box-shadow: 0px 0px 5px 0 rgb(0 0 0 / 10%);

        & > .radioItem-wrap {
            &:not(:last-child) {
                margin-right: 24px;
            }
            & > input[type="radio"] {
                cursor: pointer;
                width: 16px;
                height: 16px;
                accent-color: #0086ff;
                border: 1px solid red;


                &:checked + label {
                    color: #181818;
                    &:hover {
                        color: #0086ff;
                    }
                }
            }
            & > label {
                transition: all .2s ease-out;
                cursor: pointer;
                font-weight: 500;
                &:hover {
                    color: #0086ff;
                }
            }
        }
    }
}

.pricing-section {
    max-width: 100%;
}

.container-pricing {
  margin: 0 auto;
  /* padding-top: 40px;
  padding-bottom: 40px; */


  @media screen and (min-width: 1401px) {
    max-width: 1400px;  /* 100%; */
  }  
   @media screen and (max-width: 991px) {
    max-width: 100%;
  }
} 

.card__title-wrap__pricing {
  display: flex;
  flex-direction: column;

  & > img {
    margin: 14px 0;
  }
}

.card__title__pricing {
  font-size: 34px;
  font-weight: 900;
  color: #181818;
  margin-bottom: 14px;

  @media screen and (max-width: 991px) {
    text-align: center;
  } 

}

.card__subtitle__pricing {
  font-weight: 500;
  color: #181818;
  font-size: 16px;
  height: 3em; /* 7em; */
  margin: 10px 0 15px;

  @media screen and (max-width: 991px) {
    height: auto;
    text-align: center;
  } 
}


/* ANNUAL/MONTHLY PRICE */
.price-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  height: 100px;

   @media screen and (max-width: 991px) {
    align-items: center;
  }	 
}

.price-wrapper-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;

  @media screen and (max-width: 991px) {
    height: auto;
  }	
}

.price-wrapper-bottom {
	font-size: 4px;
  margin-top: 6px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;

  @media screen and (max-width: 991px) {
    height: auto;
  }	
}

.price-card {
  position: relative;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  border: 1px solid #efefef;
  border-radius: 15px;
  box-shadow: 0px -5px 10px 0px rgb(0 0 0 / 12%); 
  border: 1px solid #e2e2e2;
  margin: 0 10px;
  max-width: 336px;
}

.price-card:nth-child(1n) {
  margin: 0 14px 0 0;
}

.price-card:nth-child(2n) {
  margin: 0 14px 0 0;
}

.price-card:nth-child(2n + 1) {
  margin: 0 14px 0 0;
}

.price-card:last-child {
  margin: 0;
}



.price-card-content {
  display: flex;
  flex-flow: column wrap;
}

.price-primary-value {
  font-weight: 500;
  color: #0585ff;
  font-size: 36px;
  display: inline;
}


.price-primary-period {
  font-weight: 600; 
  color: #181818;
  font-size: 20px;
  display: block;
  margin-left: 0.5em;
  line-height: 1em;
}


.price-billing-note {
  font-weight: 400;
  color: #181818;
  font-size: 18px;
  flex: 1;
  flex-basis: auto;
}

.price-billing-note > span {
  font-weight: 600;
  font-size: 20px;
}

.price-min-seats {
  font-weight: 600;
  color: #50546d;
  font-size: 0.75em;
  margin-left: 0.5em;
  flex: 1;
  flex-basis: auto;

  @media screen and (max-width: 991px) {
    font-size: 12px;
  }		
}

/* END ANNUAL/MONTHLY PRICE */


/* BEFORE BULLET POINTS IN PRICING CARD */
.before-bullet-points {
  margin: 0 0 0.7em;
  font-weight: 600;
  font-size: 16px;
  text-align: left;
  color: #181818;
}
/* END BEFORE BULLET POINTS IN PRICING CARD */	




/* CARDS FOR CONTACT US IF YOU NEED... SECTION */
.pricing__card {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  padding: 0;
  margin: 1em 1em;
  text-align: center;
  color: #595959;
  width: 100%;
  max-width: 200px;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  border-radius: 5px;
}

.pricing__card-subtitle {
  font-weight: 300;
}

.pricing__card > ul {
  margin: 0 0 20px 0;
  padding: 0;
  list-style: none;
}

.pricing__card li {
  position: relative;
  text-indent: 10px;
  font-weight: 300;
  color: #5f6976;
  &:not(:last-child) {
    margin-bottom: 5px;
  }

  &:after {
    content: "";
    background: #00b5b8;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 9px;
  }
}

/* END CARDS FOR CONTACT US IF YOU NEED... SECTION */


/* TOOLTIPS FOR FEATURES IN PRICING CARDS */
.tooltipPricing {
  position: relative;
  display: inline-block;
  cursor: pointer;
  float: right;
}

.tooltiptextPricing {
  width: 200px;
  z-index: 1;
  top: -210%;
  right: -28%;
  opacity: 0;
  transition: opacity 0.3s;

}

.tooltipPricing .tooltiptextPricing {
  visibility: hidden;
  background-color: #212121;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;	
  box-shadow: 0 0 8px 1px #9a9a9a;	
  border-radius: 5px;
  padding: 10px;
  position: absolute;
}

.tooltipPricing:hover .tooltiptextPricing {
  visibility: visible;
  opacity: 0.95;
}

.tooltiptextPricing ul {
  list-style: initial!important;
  padding: 0 0 0 1.5em!important;
}

.tooltiptextPricing li {
  padding-left: 0!important;
  margin-bottom: 5px!important;
  color: #ffffff!important;
  font-weight: 600!important;
  font-size: 12px!important;	
	
  &:before {
    content: none!important;
  }

  &:after {
    content: none!important;
  }

  @media screen and (max-width: 991px) {
  text-align: left!important;
  padding-left: 0em;
  font-size: 0.9em!important;
  }  	
}	

.tooltiptextPricing p {
  margin-bottom: 5px!important;
  color: #ffffff!important;
  font-size: 12px!important;
  padding-left: 0!important;
  font-weight: 600!important;	
	
  @media screen and (max-width: 1024px) {
    text-align: left!important;
    padding-left: 0em;
    font-size: 1em!important;
  }  		
}


.tooltipIcon {
  color: #282828; 
  font-size: 20px;
  margin-left: 2px;
}

.pricingFormResize {
  width: 50%;	

  @media screen and (max-width: 991px) {
      width: 80%;
  }  		
}	

/* END TOOLTIPS FOR FEATURES IN PRICING CARDS */

.btn-pricing-card {
  margin: 0.5em auto;
  display: inline-block;
  font-weight: 600;
  color: #0585ff;
  padding: 0.7em 0.5em;
  background: #fff;
  text-transform: none;
  border-radius: 5px;
  transition: color 0.2s ease-in-out, border 0.2s ease-in-out,
  background 0.2s ease-in-out;
  border: 1px solid #0585ff;
  cursor: pointer;
  width: 60%;
  border-radius: 50px;
  font-size: 16px;


}

.btn-pricing-card:hover {
  color: #fff;
  background: #0585ff;
  border: 1px solid #0585ff;
}    


.btn-pricing-card-contactUs {
  margin: 0.5em auto;
  display: inline-block;
  font-weight: 600;
  color: #fff;
  padding: 0.7em 0.5em;
  background: #0585ff;
  text-transform: none;
  border-radius: 5px;
  transition: color 0.2s ease-in-out, border 0.2s ease-in-out,
  background 0.2s ease-in-out;
  border: 1px solid #0585ff;
  cursor: pointer;
  width: 60%;
  border-radius: 50px;
  font-size: 16px;


}

.btn-pricing-card-contactUs:hover {
  color: #0585ff;
  background: #fff;
  border: 1px solid #0585ff;
}

.btn-pricing-card-enterprise {
  margin: 0.5em auto;
  display: inline-block;
  font-weight: 600;
  color: #fff;
  padding: 0.7em 0.5em;
  background: #3b3d4b;
  text-transform: none;
  border-radius: 5px;
  transition: color 0.2s ease-in-out, border 0.2s ease-in-out,
  background 0.2s ease-in-out;
  border: 1px solid #3b3d4b;
  cursor: pointer;
  width: 60%;
  border-radius: 50px;
  font-size: 16px;
}

.btn-pricing-card-enterprise:hover {
  color: #3b3d4b;
  background: #fff;
  border: 1px solid #3b3d4b;
}  

.plan-limits-wrapper {
  flex-basis: 9em!important;
}

.plan-features-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 180px; /* 400px; */
}

.plan-features-wrapper a, .plan-features-wrapper a:visited {
  text-decoration: underline;
  color: #0086ff;
}

.plan-features-wrapper ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.plan-features-wrapper li {
  position: relative;
  font-weight: 400;
  color: #0e2639;
  font-size: 15px;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

}

.plan-features-wrapper-li-wrapper {
  display: flex; 
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.planInfo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.planInfo-image-container {
  margin: 0 2% 0 0;
  max-width: 200px;
}

.planInfo-image {
  max-width: 200px;
}

.planInfo-description-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: center;

  @media screen and (max-width: 1024px) {
    width: 80%;
  }	
}

.planInfo-title {
  color: #181818;
  font-size: 2em;
  line-height: 1.1;
  font-weight: 600;
  margin-bottom: 15px;
  width: 100%;
}

.planInfo-description {
  color: #181818;
  font-size: 16px;
  width: 100%;
  font-weight: 400;
}

.pricingSectionTitleContainer {
  display: flex; 
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}

.pricingSectionTitlePrefix {
  font-size: 2.3em;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: wrap;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: #52556c; /*#0086ff*/ 
  color: #ffffff;
  font-weight: 600;
  margin: 0 0.5em 0 0;
}