.simplepage-title-wrap {
  text-align: center;
  padding: 90px 0;

  @media screen and (max-width: 1024px) {
    padding: 40px 0;
  }
}

.simplepage__title {
  font-size: 54px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 0;
  @media screen and (max-width: 1024px) {
    font-size: 40px;
  }
}

.simplepage-content {
  width: 900px;
  margin: 0 auto;
  padding: 50px 0;
  color: #52556c;
  @media screen and (max-width: 1024px) {
    width: 100%;
    padding: 40px 10px;
  }
  
  a, a:visited {
  text-decoration: underline;
  color: #0086ff;
}
  
}

.simplepage-content h1 {
  color: #383e4d;
  font-size: 32px;
  line-height: 46px;
  font-weight: 600;
  width: 100%;
}


.simplepage-content h2 {
  color: #383e4d;
  font-size: 26px;
  line-height: 38px;
  font-weight: 600;
  margin-bottom: 16px;
  margin-top: 48px;
  width: 100%;
}

.simplepage-content h3 {
  color: #52556c;
  font-size: 22px;
  line-height: 32px;
  font-weight: 600;
  margin-bottom: 16px;
  width: 100%;
}


.simplepage-content p {
  font-weight: 400;
  line-height: 26px;
  font-size: 16px;
  color: #383e4d;
}

.simplepage-content ul {
  font-weight: 400;
  line-height: 26px;
  font-size: 16px;
  color: #383e4d;
}

.simplepage-content li {
  margin-bottom: 10px;
}

