/* ===== TABS ===== */  
  .tabs {

  }

  .tabs__control {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    justify-content: center;
    align-items: center;
  }



  .tabs__control li {
    padding: 9px 10px;
    margin: 5px;
    color: #181818;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    border: 2px solid #fff;
    border-radius: 50px;
    transition: all .3s ease-in-out;

    @media screen and (max-width: 700px) {
        font-size: 16px;
      }

  }

  .tabs__control li:not(.active) {
    cursor: pointer;
  }

  .tabs__control li:not(.active):hover {
    color: #0086ff;
  }

  .tabs__control .active {
    color: #fff;
    border: 2px solid #0086ff;
    background-color: #0086ff;
  }


  .tabs__content {
    display: none;
  }

  .tabs__content.active {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  





  


  .vertical .tabs__caption {
    float: left;
    display: block;
  }

  .vertical .tabs__caption li {
    float: none;
    border-width: 2px 0 2px 2px;
    border-radius: 5px 0 0 5px;
  }

  .vertical .tabs__caption li:last-child:before {
    display: none;
  }

  .vertical .tabs__caption .active:after {
    left: auto;
    top: 0;
    right: -2px;
    bottom: 0;
    width: 2px;
    height: auto;
  }

  .vertical .tabs__content {
    overflow: hidden;
  }
  




  @media screen and (max-width: 650px) {
    .tabs__caption li {
      -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
      flex: 1 0 auto;
    }
    .vertical .tabs__caption {
      float: none;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
    }
    .vertical .tabs__caption li {
      border-width: 2px 2px 0;
      border-radius: 5px 5px 0 0;
    }
    .vertical .tabs__caption li:last-child:before {
      display: block;
    }
    .vertical .tabs__caption .active:after {
      top: auto;
      bottom: -5px;
      left: 0;
      right: 0;
      width: auto;
      height: 5px;
      background: #FFF;
    }
  }  


/* ===== END: TABS ===== */  

  

/* ===== CONTENT CARDS ===== */  
.content-card {
    display: flex!important;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #efefef;
    margin: 10px;
    background-color: #fafafa;
    border-radius: 15px;
    box-shadow: 0 0 10px 1px rgb(228 228 228 / 55%);
    padding: 20px;
    transition: all 0.2s ease-out;
    min-height: 460px!important;

    /* TODO: Add this style back when solution pages are ready */
    /* &:hover {
      box-shadow: 0 0 10px 1px #dfdfdf;
    } */
}


/* TODO: Add this style back when solution pages are ready */
/* .content-card:hover .content-card__title {
    color: #0086ff;
} */


.content-card:hover .button-primary {
    color: #fff;
    background: #0086ff;
    border-color: #0086ff;
    box-shadow: 0 2px 8px rgb(0 0 0 / 25%);
}

.content-card .btn-wrap {
    align-self: flex-end;
}

.content-card .button-primary {
    padding: 10px 12px!important;
    border: none;
    color: #0086ff;
    background: #fafafa;
    transition: all 0.2s ease-out; 
    line-height: 0.5;
    
    &:hover {
        color: #fff;
        background: #0086ff;
        border-color: #0086ff;
    }
}


.content-card__img {
    width: 150px;
    height: 150px;
}


.content-card__title {
    color: #181818;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.44;
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;
    transition: color 0.2s ease-in-out;
    align-self: center;
    min-height: 60px;
}

.content-card_description {
    font-size: 16px;
    text-align: center;
    line-height: 1.44;
    color: #181818;
    font-weight: 400;
    margin-bottom: 20px;
    transition: opacity 0.2s ease-in-out;
    align-self: center;
    
}

/* ===== END: CONTENT CARDS ===== */  