.trusted {
  background: #f1f6fb;
  padding: 20px 10px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.trusted__title {
  color: #595959;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin-bottom: 0;
}

.trusted__wrapper {
  width: 100%;
  /*max-width: 1200px;*/
  max-width: 1400px;
  overflow: hidden;
  position: relative;
}

.trusted__logos-wrap {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: 3s;

  @media screen and (max-width: 800px) {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.trusted__wrapper:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    to right,
    #f1f6fb 0,
    transparent 5%,
    transparent 95%,
    #f1f6fb 100%
  );
  z-index: 99;
}

.trusted__logo-item {
  width: 25%;
  flex-shrink: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}

.trusted__logos-wrap img {
  max-width: 95%;

  @media screen and (max-width: 800px) {
    margin: 20px 0;
  }
}
