.cover {
  background: url("/img/why-visyond-cover.png") center center no-repeat;
  background-size: cover;
  padding: 8em 0;
}

.cover-header {
  margin: 0.5em 0;
  font-size: 3em;
  font-weight: 300;
  color: #fff;
  color: #ffffff;
  text-align: center;
}

.cover-header--sub {
  font-size: 1.3em;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  color: #fff;
  max-width: 905px;
  margin: 0 auto;

  & > p {
    margin-top: 50px;
  }
}

.primary {
  background: #eef6ff;
}

.section {
  padding: 6em;
  text-align: center;
}

/*
  Need table-wrapper for border-radius
*/

.comparation-table {
  border-radius: 0.5em;
  overflow: auto;
  max-width: 1200px;
  margin: 0 auto;
  overflow-x:auto;
  & > table {
    border-collapse: separate !important;
    border-spacing: 0;
    & > thead {
      & > tr {
        border-radius: 10px;
        background-color: rgba(82, 84, 108, 0.25);

        & > td {
          line-height: 14px;
          text-transform: uppercase;
          font-weight: 700;
        }
      }

      & > tr > td:nth-child(2) {
        background: #0685ff;
        color: #fff;
      }
    }

    & > tbody {
      & > tr > td:first-child {
        text-align: left;
      }

      & > tr:nth-child(even) {
        background: rgba(135, 166, 197, 0.12);
      }

      & tr td:nth-child(2) {
        background: rgba(6, 133, 255, 0.1);
      }
    }

    & tr td {
      padding: 2em 1em;
      color: #52546c;
      font-size: 14px;
      font-weight: 600;
      word-break: keep-all;
    }
  }
}
