.cover {
    background: url('/img/why-visyond-cover.png') center center no-repeat;
    background-size: cover;
    padding: 8em 0;
}

.cover-header {
    margin: 0.5em 0;
    font-size: 3em;
    font-weight: 300;
    color: #fff;
    color: #ffffff;
    text-align: center;
}

.cover-header--sub {
    font-size: 1.3em;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    color: #fff;
    max-width: 905px;
    margin: 0 auto;

    & > p {
        margin-top: 50px;
    }
}

.primary {
    background: #eef6ff;
}

.section {
    padding: 4em 0;
    text-align: center;
}


