.carouselBlock {
    
}

.carouselBlock .slick-next,
.carouselBlock .slick-prev {

  &:before {
    color: red;
  }

  &:hover {
  }
}

/*
.carouselBlock .slick-prev {
    &:before {
        content: url("/img/icons/arrows/arrow_circle_left.svg");    
      }
}

.carouselBlock .slick-next {
    &:before {
        content: url("/img/icons/arrows/arrow_circle_right.svg");    
      }
}
*/

.carousel-wrap {
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
        margin-bottom: 80px;
      }
}

.carousel-wrap > h2 > span {
    font-weight: 400;
}

.carouselBlock .slick-slide {
    padding: 16px;
    display: flex!important;
    flex-direction: column;
    align-items: center;
    width: 340px;
    /* margin: 6px; */
    background-color: #fff;
    /* border-radius: 15px; */
    /* box-shadow: 0 0 8px 1px rgb(228 228 228 / 55%); */
}

.carouselSlide {
    transition: background 0.2s ease-in-out;
    background: #fff;
    cursor: pointer;
    align-items: flex-start;
    
    &:hover {
        background: #a4a4a4;
        /*
        transform: scaleY(1.5);
        transform-origin: bottom;
        */
    }
}

/*
.carouselSlide:hover .carouselSlide__title {
    transform: scaleY(0.66)
}

.carouselSlide:hover .carouselSlide_description {
    transform: scaleY(0.66)
}
*/ 

.carouselSlide .btn-wrap {
    align-self: flex-end;
}


.carouselSlide__title {
    color: #383e4d;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.44;
    margin-top: 16px;
    margin-bottom: 16px;
}

.carouselSlide_description {
    display: none;
    font-size: 15px;
    line-height: 1.44;
    color: #383e4d;
    font-weight: 400;
    text-align: left;
    margin-bottom: 20px;
    
}