.carouselBlock {
    
}

.carouselBlock .slick-next,
.carouselBlock .slick-prev {

  &:before {
    color: red;
  }

  &:hover {
  }
}

/*
.carouselBlock .slick-prev {
    &:before {
        content: url("/img/icons/arrows/arrow_circle_left.svg");    
      }
}

.carouselBlock .slick-next {
    &:before {
        content: url("/img/icons/arrows/arrow_circle_right.svg");    
      }
}
*/

.carousel-wrap {

}

.carouselBlock .slick-slide {
    padding: 24px;
    display: flex!important;
    flex-direction: column;
    align-items: center;
    width: 340px;
    background-color: #fff;
    transition: background 0.2s ease-in-out;
    background: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 22px;
    margin: 6px;
    border: 1px solid #efefef;
    box-shadow: 0 0 10px 1px rgb(228 228 228 / 55%);
    

    &:hover {
        background: #f6f6f6;
        align-items: flex-start;

        /*
        transform: scaleY(1.5);
        transform-origin: bottom;
        */
    }
}

.carouselSlide:hover .carouselSlide__title {
    color: #349bfd;
}

.carouselSlide:hover .carouselSlide_description {
    /*transform: scaleY(0.66) */
    display: block;
}

.carouselSlide:hover .carouselSlide__img {
    /*transform: scaleY(0.66) */
    display: none;
}

.carouselSlide:hover .button-primary__slider {
    color: #fff;
    background: #349bfd;
    border-color: #349bfd;
    box-shadow: 0 2px 8px rgb(0 0 0 / 25%);
}

.carouselSlide--disabled {
    &:hover {
        cursor: default;
    }
}

.carouselSlide .btn-wrap {
    align-self: flex-end;
}

.carouselSlide .button-primary__slider {
    padding: 10px 12px!important;
    border: none;
    color: #181818;
    background: #fff;
    transition: color 0.2s ease-in-out; 
    transition: background 0.2s ease-in-out; 
    line-height: 0.5;
    
    &:hover {
        color: #fff;
        background: #349bfd;
        border-color: #349bfd;
    }
}

.carouselSlide__img {
    width: 100px;
}


.carouselSlide__title {
    color: #181818;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.44;
    margin-top: 16px;
    margin-bottom: 16px;
}

.carouselSlide_description {
    display: none;
    font-size: 15px;
    line-height: 1.44;
    color: #181818;
    font-weight: 400;
    text-align: left;
    margin-bottom: 20px;
    transition: opacity 0.2s ease-in-out;
    
}