{{ partial "hexHeader" . }}

{{ partial "cover" . }}

<!-- second section -->
<div class="sp2nd">
{{ range $el := .Params.section }}
<section class="sp2nd__section">
	<h2 class="section-header">
		{{ .title }}
	</h2>
	<div class="sp2nd__cards">
	{{ range $cards := .cards }}
		<a href="{{ .link }}" class="sp2nd__card">
			<div class="sp2nd__card-image-wrap">
				<img src="{{ .icon }}" alt="icon" class="sp2nd__card-image">
			</div>
			
			<h3 class="sp2nd__card-title">
				{{ .title }}
			</h3>

			<p class="sp2nd__card-text">
				{{ .text }}
			</p>
		</a>
	{{ end }}
	</div>
</section>
{{ end }}
</div>
<!-- //second section -->

<!-- {{ partial "get-started" . }} -->

{{ partial "hexFooter" . }}
