<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
        <link href="/css/main.css?v=1.6" rel="stylesheet">
        <link rel="icon" type="image/png" href="/logo.png" /> 
        <!-- <link rel="icon" type="image/x-icon" href="/favicon.ico"> -->
        
        <title>{{ .Title }} | Visyond</title>

        {{ with .Params.MetaTags }}
            {{ . | markdownify }}
        {{ end }}

        {{ partial "utility/scripts-header" . }}
        
        {{ with .Params.scripts }}
            {{ . | markdownify }}
        {{ end }}
    </head>

    <body>
        <header class="hexHeader homeHeader">
            <div class="container">
                <div class="menu">
                    <div class="logo-nav-container">
                        <div id="logo">
                            <a href="/" class="hexNav__logo-link">
                                <span><img src="/img/common/Visyond Logo.png" alt="Logo"></span>
                            </a>
                        </div>
    
                        {{ partial "default/navigation" . }}
                    </div>

                    <div class="menu__cta">
                        <div class="hexNav__item">
                            <a href="/accounts/login" class="hexNav__link">Sign in</a>
                        </div>

                        <div id="trialButton" class="hexNav-item">
                            <a href="/accounts/signup/" class="hexNav__link hexNav__link--secondary">Get started</a>
                        </div>
    
                        <div id="viewDemoButton" class="hexNav-item">
                            <a href="/demo" class="hexNav__link hexNav__link--primary">View demo</a>
                        </div>
                    </div>

                    <button id="menu-toggle">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#181818" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                        </svg>
                    </button>
                </div>
            </div>
        </header>


        <div class="maincontent">
