{{ partial "head" . }}

<div class="homehex ht">

  <!-- top section -->
  <section class="home-hero" style="background-image: url('/img/home/rect-hero-blue.png');">
    <div class="home-hero__container">
      <div class="home-hero__half-width-wrap">
        <h1 class="home-hero__title">Spreadsheet, Analytics <br> & Reporting <br> Collaboration -</h1>
        <ul class="home-hero__main-features">
          <li>Automate Workflow</li>
          <li>Track Changes</li>
          <li>Reduce Errors</li>
          <li>{{ .Params.BenefitsHeader }}</li>
        </ul>
      </div>
      <div class="home-hero__half-width-wrap home-hero__half-width-wrap--image">
        <img class="home-hero__laptop-image" src="/img/home/laptop.png" alt="Laptop">
      </div>
      <div class="home-hero__half-width-wrap">
        <div class="home-hero__buttons-section">
          <a href="#" class="button button-primary button-asterisk">
            Free Sign Up
            <span>*No credit card required</span>
          </a>
          <button class="button button-icon js-btn-video">
            <i class="material-icons">
              play_arrow
            </i>
            See Demo
          </button>
          <span class="home-hero__or">or</span>
          <a href="#" class="home-hero__demo-link">Request a Demo</a>
        </div>
      </div>
      <div class="home-hero__full-width-wrap">
        <ul class="home-hero__other-features">
          <li>Excel Compatible</li>
          <li>Intuitive, Familiar, & Easy to Use</li>
          <li><i class="material-icons">hourglass_empty</i>Get Started in Minutes</li>
        </ul>
        <a class="home-hero__gartner" href="https://www.gartner.com/reviews/market/financial-corporate-performance-management-solutions/vendor/visyond/product/visyond">
          <img class="home-hero__gartner-mobile" src="/img/home/gartner-mobile.png">
        </a>
      </div>
    </div>
  </section>
  <!-- ./top section -->

</div>

{{ partial "footer" . }}
