{{ partial "hexHeader" . }}

<div class="request-demo-page">
    <div class="container container--request-container">
        <!-- client asked -->
        <div class="request-demo__client-asked-wrap">
            <p class="request-demo__client-asked-text">'It is like working with Excel with better and more advanced functionalities'</p>
            <span class="request-demo__author">
                – Gartner Peer Insights
            </span>
            <div class="request-demo__client-img-wrap">
                <a href="https://www.gartner.com/reviews/market/financial-corporate-performance-management-solutions/vendor/visyond/product/visyond"><img src="/img/gartner logo white small.png" alt="" class="request-demo__company-logo"></a>
            </div>
        </div> <!-- ./client asked -->


        <!-- form -->
        <div class="request-demo__form-wrap">
            <h1 class="request-demo__form-title">Request a Demo</h1>
            <!--
            <h2 class="reuest-demo__form-subtitle">Please fill in the form to recieve your invitation</h2>
            -->
            
           <!-- <form class="request-demo__form" method="POST" action="https://formspree.io/gianluca.bisceglie@visyond.com">  -->
            <form class="request-demo__form" method="POST" action="https://formspree.io/xgeogoev">
               <!-- <input type="hidden" name="subject" value="Feedback">
               <input type="hidden" name="api_key" value="1fd701f8c4ae64d01bf1744e91434e86aee94bd3">

                -->

                <input type="hidden" name="_next" value="https://visyond.com/thank-you-for-your-request/" />  

                <!-- <input type="hidden" name="_cc" value="gianluca@get.visyond.com,gianluca.bisceglie@gmail.com,besnik@get.visyond.com,alexey.prokopovich@visyond.com,support@visyond.com" /> -->

                <div class="request-form-field request-demo__input--required">
                    <input name="first_name" type="text" class="request-demo__input" placeholder="First name" required>
                </div>
                <div class="request-form-field request-demo__input--required">
                    <input name="last_name" type="text" class="request-demo__input" placeholder="Last name" required>
                </div>
                
                <!--
                <div class="request-form-field">
                    <input name="role" type="text" class="request-demo__input" placeholder="Your role">
                </div>
                -->
                
                <div class="request-form-field request-demo__input--required">
                    <input name="email" type="email" class="request-demo__input" placeholder="Business email" required>
                </div>
                
                <!--
                <div class="request-form-field">
                    <input name="phone" type="tel" class="request-demo__input" placeholder="Phone">
                </div>
                -->
                
                <!--
                <div class="request-form-field">
                    <input name="company" type="text" class="request-demo__input" placeholder="Company">
                </div>
                -->
               
                <div class="request-form-field">
                    <input name="website" type="text" class="request-demo__input" placeholder="Company website">
                </div>
		    
		<div class="request-form-field request-demo__input--required">
			<select name="region" class="request-demo__input request-demo__input-dropdown" required>
				<option value="" disabled selected>Select your region</option>
				<option value="Africa">Africa</option>
				<option value="North America">North America</option>
				<option value="South America">South America</option>
				<option value="Asia">Asia</option>
				<option value="Europe">Europe</option>
				<option value="Middle East">Middle East</option>
				<option value="Oceania">Oceania</option>
			</select>
		</div>		    
                
		<input type="hidden" id="referrer" name="Referrer" value="" />    
                
<div class="request-form-field">
	<div class="request-form-checkbox-title">I would like to</div>

		<div class="request-form-checkbox-wrap">
			<input type="checkbox" class="request-form-checkbox" id="interest1" name="interest1" value="Analyze and stress-test data">
			<label for="interest1"> Analyze and stress-test data</label><br>
		</div>
		
		<div class="request-form-checkbox-wrap">
			<input type="checkbox" class="request-form-checkbox" id="interest2" name="interest2" value="Collaborate and share insights">
			<label for="interest2"> Collaborate and share insights</label><br>
		</div>
		
		<div class="request-form-checkbox-wrap">
			<input type="checkbox" class="request-form-checkbox" id="interest3" name="interest3" value="Build interactive dashboards">
			<label for="interest3"> Build interactive dashboards</label><br>
		</div>

		<div class="request-form-checkbox-wrap">
			<input type="checkbox" class="request-form-checkbox" id="interest4" name="interest4" value="Track changes and reduce errors">
			<label for="interest4"> Track changes and reduce errors</label><br>	
		</div>
		
		<div class="request-form-checkbox-wrap">
			<input type="checkbox" class="request-form-checkbox" id="interest5" name="interest5" value="Auto-generate financial statements">
			<label for="interest5"> Auto-generate financial statements</label><br>	
		</div>
</div>
                
                <input type="text" name="_gotcha" style="display:none" />
                <button class="request-demo__submit" type="submit">Submit</button>
                <span class="required-fields"><small>*</small>Required fields</span>
            </form>
        </div> <!-- ./form -->
    </div>
</div>

<script>
window.addEventListener('load', (event) => {
  
  	if(!document.referrer) {
		document.getElementById('referrer').value = "No referrer";
	} else {
		document.getElementById('referrer').value = document.referrer;
	}
  
});
</script>

{{ partial "hexSlider" . }}
{{ partial "hexFooter" . }}
