{{ partial "head" . }}

<div class="request-demo-page">
    <div class="container container--request-container">
        <!-- client asked -->
        <div class="request-demo__client-asked-wrap">
            <p class="request-demo__client-asked-text">I have finally full control on the source and impact of any assumptions, and can confidently answer what-if questions with a few clicks.</p>
            <span class="request-demo__author">
                – Nina Fedorova, Senior Consultant
            </span>
            <div class="request-demo__client-img-wrap">
                <img src="/img/vimages/delowhite.png" alt="" class="request-demo__company-logo">
            </div>
        </div> <!-- ./client asked -->


        <!-- form -->
        <div class="request-demo__form-wrap">
            <h3 class="request-demo__form-title">Request a demo</h3>
            <h4 class="request-demo__form-subtitle">Please fill in the form to recieve your invitation</h4>

            <form class="request-demo__form" method="POST" action="https://formspree.io/gianluca.bisceglie@visyond.com">
               <!-- <input type="hidden" name="subject" value="Feedback">
               <input type="hidden" name="api_key" value="1fd701f8c4ae64d01bf1744e91434e86aee94bd3">

                -->

                <input type="hidden" name="_next" value="https://visyond.com/thank-you-for-your-request/" />

                <input type="hidden" name="_cc" value="gianluca.bisceglie@gmail.com,besnik@get.visyond.com,alexey.prokopovich@visyond.com,support@visyond.com" />

                <div class="request-form-field request-demo__input--required">
                    <input name="first_name" type="text" class="request-demo__input" placeholder="First name" required>
                </div>
                <div class="request-form-field request-demo__input--required">
                    <input name="last_name" type="text" class="request-demo__input" placeholder="Last name" required>
                </div>
                <div class="request-form-field">
                    <input name="role" type="text" class="request-demo__input" placeholder="Your role">
                </div>
                <div class="request-form-field request-demo__input--required">
                    <input name="email" type="email" class="request-demo__input" placeholder="Work email" required>
                </div>
                <div class="request-form-field request-demo__input--required">
                    <input name="phone" type="tel" class="request-demo__input" placeholder="Phone" required>
                </div>
                <div class="request-form-field">
                    <input name="company" type="text" class="request-demo__input" placeholder="Company">
                </div>
                <div class="request-form-field">
                    <input name="website" type="text" class="request-demo__input" placeholder="Company website">
                </div>
                <input type="text" name="_gotcha" style="display:none" />
                <button class="request-demo__submit" type="submit">Submit</button>
                <span class="required-fields"><small>*</small>Required fields</span>
            </form>
        </div> <!-- ./form -->
    </div>
</div>

{{ partial "footer" . }}
