{{ partial "default/header" . }}

<!-- <div class="partners-page"> -->
<div class="homehex ht">
    {{ partial "covers/cover-simple" . }}




    <!-- ABOUT VISYOND -->
    <section class="enterV" style="background-color: #ffffff;">
        <div class="container">

            <h2 class="enterV__headline" id="productTour">Why Visyond?</h2>
            <!-- <div class="home-hero__topSubtitle" style="text-align: center;color: rgba(0,0,0,.8);">No installations. Easy-to-use. Value from day one.</div> -->
            <div class="header-section--divider"></div>
            
            <ul class="enterSections js-image-block">
                <li class="enterSectionsA__block">
                    <section class="enterSectionsA__text-wrap">
                        <h2 class="enterSectionsA__block-title">Visyond is the only Excel-like solution that brings your spreadsheet's insights to life</h2>
                        <div class="enterSectionsA__block-descr">
                            Visyond is a cloud platform that takes an Excel model as an input and builds interactive what-if analysis and predictive dashboarding workflows on top of it.
                            </br></br>
                            It reduces the risk of errors and provides insights in minutes, saving countless hours every month.
                            </br></br>
                            <span style="font-weight: 600;">No installations. Easy-to-use. Value from day one.</span>
                        </div>
                    </section>

                    <div class="home-hero__half-width-wrap home-hero__half-width-wrap--image">
                        <img class="home-hero__laptop-image" src="/img/home/laptop.svg" alt="Laptop">
                        <div class="home-hero__video-container">
                            <video poster="/img/home/videoPoster.jpg" class="home-hero__video lazy-video" controlslist="nodownload noremoteplayback" muted="" loop="" playsinline=""  webkit-playsinline="" preload="none">
                                <source src="/img/home/2019-10-17%20Homepage%20animation%20v4.mp4" type='video/mp4; codecs="avc1.4D401E, mp4a.40.2"'>
                            </video>
                        </div>
                    </div>
                    
                    <section class="enterSectionsA__text-wrap">
                        <div class="enterSectionsA__block-descr">
                            <div class="enterSections__benefits">
                                <div class="enterSections__benefits--title">Learn more</div>
                                <ul>
                                    <li class="whyV__benefit-item">
                                        Complement existing tools (Excel add-ins, BI-tools) for quick and agile business case development, and build a solid foundation for decision making.
                                    </li>
                                    <li class="whyV__benefit-item">
                                        Get ready-to-present What-if analysis reports with a few clicks. It’s that simple.
                                    </li>
                                    <li class="whyV__benefit-item">
                                        Create interactive ‘what-if’ dashboards to visualize scenarios and forecasts, powered by the model’s calculations, without exposing the intricacies of the spreadsheet.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>
                    
                    <!--
                    <section class="enterSectionsA__text-wrap">
                        <div class="btn-wrap" style="text-align: left;">
                            <a target="_blank" href="https://visyond.com/project/125105b6-a269-4dd1-9145-5e4eea10276d" class="btn-primary">Try Live Demo</a>
                        </div>
                    </section>
                    -->

                </li>

            </ul>

        </div>
      </section>
       <!-- END: ABOUT VISYOND -->




    <!-- VISYOND IS FOR -->
    <section class="visFor">
        <div class="container">
            <h2 class="enterV__headline">{{ .Params.visForHeader }}</h2>
            <div class="header-section--divider"></div>
            <ul class="visFor__row">
                <li class="visFor__column">
                    <h4 class="visFor__column--title">{{ .Params.functionTitle }}</h4>
                    <ul class="visFor__list">
                        {{ range $el := .Params.functionList }}
                        <li class="visFor__list-item">
                            <img src="{{ .image }}" alt="{{ .text | markdownify }}">
                            <div>{{ .text | markdownify }}</div>
                        </li>
                        {{ end }}
                    </ul>
                </li>
                <li class="visFor__column"> 
                    <h4 class="visFor__column--title">{{ .Params.caseTitle }}</h4>
                    <ul class="visFor__list">
                        {{ range $el := .Params.caseList }}
                        <li class="visFor__list-item">
                            <img src="{{ .image }}" alt="{{ .text | markdownify }}">
                            <div>{{ .text | markdownify }}</div>
                        </li>
                        {{ end }}
                    </ul>
                </li>
                <li class="visFor__column"> 
                    <h4 class="visFor__column--title">{{ .Params.industryTitle }}</h4>
                    <ul class="visFor__list">
                        {{ range $el := .Params.industryList }}
                        <li class="visFor__list-item">
                            <img src="{{ .image }}" alt="{{ .text | markdownify }}">
                            <div>{{ .text | markdownify }}</div>
                        </li>
                        {{ end }}
                    </ul>
                </li>
            </ul>
        </div>
    </section>
    <!--  END: VISYOND IS FOR -->




    <!-- DEMO STRIP -->
    <section class="getHexStarted" style="background-image: url('/img/home/getStarted.svg');">
        <div class="container">
            <h2 class="getHexStarted__title">Try a Live Demo. No Sign Up Required.</h2>
            <a target="_blank" href="https://visyond.com/project/125105b6-a269-4dd1-9145-5e4eea10276d" class="button button-contrast">Try Live Demo</a>
        </div>
    </section>
    <!-- END: DEMO STRIP -->




   <!-- PARTNER BENEFITS -->
   <!-- <section class="benefits-section half-light-blue"> -->
    <section class="homeBenefits" style="background-color: #ffffff;">    
        <div class="container">
            <h2 class="enterV__headline">{{ .Params.BenefitsHeader }}</h2>
            <div class="header-section--divider"></div>

            <div class="benefits">
                {{ range .Params.benefitsItems }}
                <div class="demoSection__body">  <!-- class="benefit__item" -->
                    <img src="{{ .img }}" alt="" class="benefit__icon">
                    <h5 class="demoSection--title">{{ .title }}</h5>
                    <p class="benefit__text">{{ .subTitle | markdownify }}</p>
                </div>
                {{ end }}
            </div>
        </div>
    </section>
    <!-- END: PARTNER BENEFITS -->




    <!-- PARTNER TYPES -->
    <section class="homeBenefits" style="background-color: #fafafa;"> <!-- class="types-section" -->     
        <div class="container">
            <h2 class="enterV__headline">{{ .Params.typesHeader }}</h2>
            <div class="header-section--divider"></div>
            {{ with .Params.typesSection }}
                <div class="types">
                    {{ range .types }}
                    <div class="types__item">
                        <img src="{{ .icon }}" alt="" class="types__icon">
                        <h5 class="demoSection--title">{{ .title }}</h5>  <!-- class="types__headline" -->
                        <p class="types__text">{{ .subTitle | markdownify}}</p>
                    </div>
                    {{ end }}
                </div>
                {{ with .cta }}
                    <!-- 
                    <div class="btn-wrap">
                        <a class="btn-primary" id="down-to-form">
                            {{ .text }}
                        </a> 
                    </div>
                    -->
                {{ end }}
            {{ end }}
	    
            <!--  
            <div class="btn-wrap" style="margin-bottom: 2em;">
                <a href="{{ .Params.partnersURL}}" class="btn-primary" style="text-transform: none;">{{ .Params.partnersButtonText}}</a>
            </div>
            -->  
        </div>
    </section>
    <!-- END: PARTNER TYPES -->




    <!-- FEATURED CASE STUDIES -->
    {{ partial "feauteredCaseStudies" . }}
    <!-- END: FEATURED CASE STUDIES -->


    

    <!-- FORM -->
    <section class="homeBenefits" style="background-color: #fafafa;">    
        <div class="container">
            <h2 class="enterV__headline">
                {{.Params.formHeader }}
            </h2>
            <div class="header-section--divider"></div>
            
            <!--[if lte IE 8]>
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
            <![endif]-->
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
            <script>
            hbspt.forms.create({
                portalId: "3409378",
                formId: "1b33b41c-ed3b-43c3-bf77-3354dbf53541"
            });
            </script>
        </div>
    </section>
    <!-- END: FORM -->




</div>

{{ partial "default/footer" . }}
