{{ partial "head" . }}

<div class="sign-top">
    <h1 class="sign-title">Log in</h1>
</div>
<div class="container container--sign">
    <div class="sign-body sign-body--login">
        <h3 class="sign-sub-title signin--title">Connect With:</h3>

        <address class="sign-in__social">
            <a href="/accounts/linkedin/login/?process=" class="sign-in__social-link sign-in__social-link--ln">
                
            </a>
            <a href="/accounts/google/login/?process=" class="sign-in__social-link sign-in__social-link--google">
               
            </a>
        </address>

        <h3 class="sign-sub-title signin--title">or</h3>

        <form class="signin-form">
            <div class="input-wrap">
                <input type="email" name="email" placeholder="Email address*" class="sign__textfield">
            </div>
            <div class="input-wrap">
                <input type="password" name="email" placeholder="Password*" class="sign__textfield">
            </div>
            <div class="sign-btn-wrap">
                <button type="submit" class="sign-submit-btn">Log in</button>
            </div>
        </form>
        <a href="/accounts/password/reset/" class="forgot">Forgot password?</a>
        <span class="member">
            Not a member yet?
            <a href="/accounts/signup/">Sign up</a>    
            for a free trial now
        </span>
    </div>
</div>

{{ partial "footer" . }}