{{ partial "head" . }}

<!-- first section -->
<section class="first-section an1st" style="background-image: url({{ .Params.BgImage }})">

  <h2 class="an1st__title">
    {{ .Params.TopTitle }}
  </h2>

  <div class="an1st__under-title">
    {{ .Params.TopSubTitle }}
  </div>
</section>
<!-- //first section -->

<!-- second section -->
<div class="second-section an2nd">
    {{ with .Params.text }}
	<div class="an2nd__text">
        {{ . | markdownify}}
    </div>
    {{ end }}
</div>
<!-- //second section -->

<!-- third section -->
<div class="third-section an3rd">
    <h3 class="an3rd__title">
        {{ .Params.errorsTitle }}
    </h3>

    <div class="an3rd__wrapper">
        <section class="an3rd__wrap">

        <ul class="an3rd__list">
            {{ range $el := .Params.errorsList }}
            <li class="an3rd__item">
                {{ .text | markdownify }}
            </li>
            {{ end }}
        </ul>
    </section>

    <div class="an3rd__img-wrap js-img-wrap">
        {{ if .Params.errorsFiles }}
        <div class="an3rd__img-pointer">
            Click to see more
        </div>
        {{ end }}

        <img src="{{ .Params.errorsImage }}" alt="{{ .Params.errorsAltText }}" class="an3rd__img" data-src="{{ range $file := .Params.errorsFiles }}{{ .file }}::{{ end }}" data-title="{{ range $file := .Params.errorsFiles }}{{ .title }}::{{ end }}" data-descr="{{ range $file := .Params.errorsFiles }}{{ .descr }}::{{ end }}"  data-href="{{ range $file := .Params.errorsFiles }}{{ .link }}::{{ end }}"  data-alt="{{ range $file := .Params.errorsFiles }}{{ .alt }}::{{ end }}">
    </div>
    </div>
</div>
<!-- //third section -->

<!-- fifth section -->
<div class="fifth-section an5th" style="background-image: url({{ .Params.formImage }})">
    <h3 class="an5th__title">
        upload your sreadsheet
    </h3>

    <div class="an5th__sub-title">
        Please fill in the form <span>for free analysis</span>
    </div>
    <div class="an5th__iframe-wrap">
        <script type="text/javascript" src="https://form.jotformeu.com/jsform/82264727884368"></script>
    </div>
</div>
<!-- //fifth section -->

<!-- trusted section -->
{{ partial "trustedslider" . }}
<!-- ./trusted section -->

<!-- sixth section -->
<div class="six-section an6th">
  <section class="an6th__wrap">
    <h3 class="an6th__title">
      {{ .Params.ProvidesTitle }}
    </h3>

    <ul class="an6th__list">
      {{ range $el := .Params.ProvidesList }}
      <li class="an6th__item">
        {{ .text | markdownify }}
      </li>
      {{ end }}
    </ul>
  </section>
  <div class="an6th__img-wrap">
    <img src="/img/v_notebook.png" alt="notebook" class="an6th__img">
  </div>
</div>
<!-- //sixth section -->

<!-- seventh section -->
<section class="an7th" style="background-image: url({{ .Params.BgBottom }})">
  <h3 class="an7th__title">
    {{ .Params.TitleBottom }}
  </h3>

  <a href="/request" class="an7th__link">
    request a demo
  </a>
</section>
<!-- //seventh section -->

{{ partial "footer" . }}
