{{ partial "head" . }}

<!-- first section -->
<section class="first-section an1st" style="background-image: url({{ .Params.BgImage }})">
	
  <h2 class="an1st__title">
    {{ .Params.TopTitle }}
  </h2>

  <div class="an1st__under-title">
    {{ .Params.TopSubTitle }}
  </div>
</section>
<!-- //first section -->

<!-- second section -->
<div class="second-section an2nd">
	
</div>
<!-- //second section -->

<!-- third section -->
<div class="third-section an3rd">
    <section class="an3rd__wrap">
        <h3 class="an3rd__title">
            {{ .Params.ProvidesTitle }}
        </h3>

        <ul class="an3rd__list">
            {{ range $el := .Params.ProvidesList }}
            <li class="an3rd__item">
                {{ .text | markdownify }}
            </li>
            {{ end }}
        </ul>
    </section>
    
    <div class="an3rd__img-wrap">
        {{ if .files }}
        <div class="an3rd__img-pointer">
            Click to enlarge
            <i class="material-icons">
              subdirectory_arrow_left
            </i>
        </div>
        {{ end }}

        <img src="{{ .image }}" alt="collaborate on spreadsheets" class="sol-an3rd__block-img" data-src="{{ range $file := .files }}{{ .file }}::{{ end }}" data-title="{{ range $file := .files }}{{ .title }}::{{ end }}" data-descr="{{ range $file := .files }}{{ .descr }}::{{ end }}">
    </div>
</div>
<!-- //third section -->

{{ partial "footer" . }}