{{ partial "default/header" . }}


<div class="homehex ht">
  {{ partial "covers/cover-simple" . }}

	<section class="homeBenefits">
    <div class="container">
      <div class="contact-page__resources">
        {{ range .Params.cards }}
          <a {{ with .link }} href="{{.}}" {{ end }} class="contact-page__resources__card">
              <div class="contact-page__resources__card-image-wrap">
                  <img src="{{ .image }}" class="contact-page__resources__card-image">
              </div>
              <h3 class="contact-page__resources__card-title">{{ .title }}</h3>
              <div class="contact-page__resources__card-text">{{ .description }}</div>
          </a>
        {{ end }}
      </div>
    </div>
  </section>
  
  <!-- CONTACT FORM -->
  <section id="contactUs" class="homeBenefits"> 
    <div class="container">
      <h2 class="enterV__headline">{{ .Params.formTitle }}</h2>
      <div class="header-section--divider"></div>
        <div class="marketing-form-wrapper">
          <!--[if lte IE 8]>
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
          <![endif]-->
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
          <script>
            hbspt.forms.create({
            region: "na1",
            portalId: "3409378",
            formId: "7d249eff-acef-44ce-8255-c9f14ba3acba"
          });
          </script>
        </div>
    </div>   
  </section> 
  <!-- END: CONTACT FORM -->  


   <!-- LOGOS 
  {{ partial "clientLogos" . }}
   END: LOGOS -->



  <!-- BOTTOM CTA WITH VIDEO -->
  {{ partial "getStarted" . }}
  <!-- END: BOTTOM CTA WITH VIDEO -->

</div>


{{ partial "default/footer" . }}