{{ partial "head" . }}

  <div class="new-home nh">

    <!-- top section -->
    <div class="nh-top">
      <h2 class="nh-top__title">
        single source of truth for your spreadsheets
      </h2>

      <p class="nh-top__under-title">
        Visyond is a collaborative speadsheet platform that reduced security threats and errors, speeds up the decision making process, adds secure selective sharing, data traking
      </p>

      <div class="nh-top__btns-wrap">
        <button class="nh-link nh-link--sign-up">
          sign up
        </button>

        <button class="nh-link nh-link--request">
          request a demo
        </button>
      </div>

      <img src="/img/391.jpg" alt="image" class="nh-top__img">
    </div>
    <!-- ./top section -->

    <!-- trusted section -->
    <section class="nh-trusted">
      <h3 class="nh-trusted__title">
        trusted by
      </h3>

      <div class="nh-trusted__logos-wrap">
        <img src="/img/home/elt.png" alt="elt electronica">
        <img src="/img/home/ericsson.png" alt="ericsson">
        <img src="/img/home/deloitte.png" alt="deloitte">
        <img src="/img/home/abrt.png" alt="abrt">
        <img src="/img/home/jebg.png" alt="jebg">
      </div>
    </section>
    <!-- ./trusted section -->

    <!-- section info -->
    <div class="nh-info">

      <!-- info block -->
      <div class="nh-info__block">
        <img src="/img/home/v_clip_group_1.png" alt="collaborate on spreadsheets" class="nh-info__block-img">

        <img src="/img/home/lines.png" alt="lines" class="nh-info__block-lines">

        <section class="nh-info__text-wrap">
          <h3 class="nh-info__block-title">
            collaborate on spreadsheets
          </h3>

          <p class="nh-info__block-descr">
            ...without back-and-forth emails and data chaos and enjoy the benefits of <span>data tracking, version control and secure selective sharing</span> - allow access to only certain cells, worksheets, or linked reports and slides.
          </p>

          <button class="nh-link nh-link--learn-more">
            learn more
          </button>
        </section>
      </div>
      <!-- ./info block -->

      <!-- info block -->
      <div class="nh-info__block">
        <img src="/img/home/v_clip_group_2.png" alt="collaborate on spreadsheets" class="nh-info__block-img">

        <img src="/img/home/lines.png" alt="lines" class="nh-info__block-lines">

        <section class="nh-info__text-wrap">
          <h3 class="nh-info__block-title">
            build robust model
          </h3>

          <p class="nh-info__block-descr">
            ...as a team without the risk of accidentally overriding data or formulas with Visyond's <span>granular permissions control</span>, support of different coexisting cases, <span>scenario comparison</span>, dependency & errors root cause analysis.
          </p>

          <button class="nh-link nh-link--learn-more">
            learn more
          </button>
        </section>
      </div>
      <!-- ./info block -->

      <!-- info block -->
      <div class="nh-info__block">
        <img src="/img/home/v_clip_group_3.png" alt="collaborate on spreadsheets" class="nh-info__block-img">

        <img src="/img/home/lines.png" alt="lines" class="nh-info__block-lines">

        <section class="nh-info__text-wrap">
          <h3 class="nh-info__block-title">
            analyze data
          </h3>

          <p class="nh-info__block-descr">
            ...and <span>in a few clicks gain valuable insights</span> by performing advanced analysis (Sensitivity, Scenario and many more!). Add the charts to Visyond's interactive slides and <span>share only what each stakeholder needs to see</span>.
          </p>

          <button class="nh-link nh-link--learn-more">
            learn more
          </button>
        </section>
      </div>
      <!-- ./info block -->

      <!-- info block -->
      <div class="nh-info__block">
        <img src="/img/home/v_clip_group_4.png" alt="collaborate on spreadsheets" class="nh-info__block-img">

        <section class="nh-info__text-wrap">
          <h3 class="nh-info__block-title">
            share the results
          </h3>

          <p class="nh-info__block-descr">
            ...safely without the risk of damaging or losing any data. Prepare <span>data visualizations, presentations and reports</span> in a few simple steps. <span>Create dashboards &amp; apps</span> powered by the spreadsheet calculation engine <span>without programming</span>.
          </p>

          <button class="nh-link nh-link--learn-more">
            learn more
          </button>
        </section>
      </div>
      <!-- ./info block -->

    </div>
    <!-- ./section info -->

  </div>

{{ partial "footer" . }}
