{{ partial "head" . }}

  <div class="new-home nh">

    <!-- top section -->
    <div class="nh-top">
      <h2 class="nh-top__title">
        {{ .Params.TopTitle }}
      </h2>

      <div class="nh-top__under-title">
        {{ .Params.TopSubTitle }}
      </div>

      <div class="nh-top__btns-wrap">
        <a href="https://visyond.com/accounts/signup/" class="nh-link nh-link--sign-up">
          free sign up
        </a>

        <a href="https://visyond.com/request-a-demo" class="nh-link nh-link--request">
          request a demo
        </a>
      </div>

      <img src="{{ .Params.TopImage }}" alt="image" class="nh-top__img">
    </div>
    <!-- ./top section -->

    <!-- section capabilities -->
    <section class="nh-capabilities">
      <!-- <h3 class="nh-capabilities__title">
        With Visyond you can
      </h3> -->

      <ul class="nh-capabilities__modules">
        {{ range $el := .Params.CapabilitiesList }}
        <li class="nh-capabilities__block">
          <img src="{{ .image }}" alt="save time" class="nh-capabilities__img">

          <div class="nh-capabilities__descr">
            {{ .text | markdownify }}
          </div>
        </li>
        {{ end }}
      </ul>
    </section>
    <!-- ./section capabilities -->

    <!-- trusted section -->
    <section class="nh-trusted">
      <h3 class="nh-trusted__title">
        {{ .Params.TrustedTitle }}
      </h3>

      <ul class="nh-trusted__logos-wrap">
        {{ range $el := .Params.TrustedLogos }}
        <li>
          <img src="{{ .logo }}" alt="logo">
        </li>
        {{ end }}
      </ul>
    </section>
    <!-- ./trusted section -->

    <!-- section info -->
    <ul class="nh-info">

      <!-- info block -->
      {{ range $el := .Params.InfoBlockFirst }}

      <li class="nh-info__block">
        <img src="{{ .image }}" alt="collaborate on spreadsheets" class="nh-info__block-img">

        <img src="/img/home/v_lines.png" alt="lines" class="nh-info__block-lines">

        <section class="nh-info__text-wrap">
          <h3 class="nh-info__block-title">
            {{ .title }}
          </h3>

          <div class="nh-info__block-descr">
            {{ .descr | markdownify }}
          </div>
          {{ if .link }}
          <a href="{{ .link }}" class="nh-link nh-link--learn-more">
            learn more
          </a>
          {{ end }}
        </section>
      </li>
      {{ end }}
      <!-- ./info block -->
    </ul>
    <!-- ./section info -->

    <!-- section studies -->
    <section class="nh-studies">
      <h3 class="nh-studies__title">
        {{ .Params.StudiesTitle }}
      </h3>

      <ul class="nh-studies__blocks">
        {{ range $el := .Params.StudiesBlock }}
        <!-- block -->
        <li class="nh-studies__block">
          <div class="nh-studies__img-wrap">
            <img src="{{ .image }}" alt="case" class="nh-studies__img">
          </div>

          <section class="nh-studies__text-wrap">
            <h3 class="nh-studies__block-title">
              {{ .title }}
            </h3>

            <cite class="nh-studies__block-descr">
              {{ .text }}
            </cite>

            <div class="nh-studies__block-author">
              {{ .author }}
            </div>

            <a href="{{ .linkUrl }}" class="nh-studies__block-link">
              {{ .linkText }}>>
            </a>
          </section>
        </li>
        <!-- ./block -->
        {{ end }}
      </ul>

    </section>
    <!-- ./section studies -->

    <!-- section provides -->
    <div class="nh-provides">
      <section class="nh-provides__wrap">
        <h3 class="nh-provides__title">
          {{ .Params.ProvidesTitle }}
        </h3>

        <ul class="nh-provides__list">
          {{ range $el := .Params.ProvidesList }}
          <li class="nh-provides__item">
            {{ .text | markdownify }}
          </li>
          {{ end }}
        </ul>
      </section>
      <div class="nh-provides__img-wrap">
        <img src="/img/home/v_notebook.png" alt="notebook" class="nh-provides__img">
      </div>
    </div>
    <!-- ./section provides -->

    <section class="nh-bottom" style="background-image: url({{ .Params.BgBottom }})">
      <h3 class="nh-bottom__title">
        {{ .Params.TitleBottom }}
      </h3>

      <a href="#" class="nh-link nh-link--request">
        request a demo
      </a>
    </section>

  </div>

{{ partial "footer" . }}
