{{ partial "head" . }}
<div class="about-page">
  <div class="case-study-title-wrap contacts-title-wrap">
    <style>
      .case-study-title-wrap {
          background: url('/img/why-visyond-cover.png') center center no-repeat;
          background-size: cover;
      }
    </style>
    <div class="container">
      <h1 class="cover-header">
        What is Visyond?
      </h1>

      <div class="cover-header--sub">
        <p>
          Visyond is a cloud based secure, collaborative and automated value analysis and decision platform that reduces security threats & errors, and speeds up the decision making progress.
        </p>

        <p>
          We're introducing spreadsheet collaboration the level of control, transparency and accountability that can be compared to those of modern blockchains, but without all the limitations and drawbacks of it.
        </p>
      </div>
    </div>
  </div>

  <!-- try -->
  <section class="container">
    <h2 class="header-section centered">Visyond is the only solution commited
      to bring you the best of worlds</h2>
    <div class="header-section--divider"></div>
  </section>

{{ partial "footer" . }}
