{{ partial "default/header" . }}

<!-- TOP SECTION -->
<div class="homehex ht">
  {{ partial "covers/cover-simple" . }}
</div>
<!-- END: TOP SECTION -->


{{ partial "default/clientLogos" . }}

<!-- WHAT VISYOND SOLVES-->
<section class="homeBenefits">
	<div class="container">
		<h2 class="enterV__headline">What Does Visyond Solve?</h2>
		<div class="header-section--divider"></div>

		<div style="text-align: center;">
			<img src="/img/Why Visyond Stairs Infographics.png">
		</div>

		<div class="whyV__text" style="width: 80%; text-align: center; margin: 15px auto;">
			<strong>Decision-making</strong> requires modeling, scenario planning, forecasting, analytics, knowledge management, data visualization and reporting tools.
			<br><br>
			Analysts, experts, clients, and CxOs must collaborate with strict requirements on data security and governance.
			<br><br>
			Without Visyond, the process requires multiple platforms and causes numerous problems.
      <br><br>
		</div>
	</div>	
</section>
<!-- END WHAT VISYOND SOLVES -->

<!-- ENTER V -->
<section class="homeBenefits" style="background-color: #fafafa;">

	<div class="container">
		<h2 class="enterV__headline">
			Enter Visyond
		</h2>
		<div class="header-section--divider"></div>

		<div class="whyV__text" style="width: 90%; text-align: center; margin: 15px auto;">
				<strong>Your team will make better and faster decisions</strong>, achieving results you couldn't get with any other spreadsheet-based technology.
				<br>
				<br>
				<strong>You will be in full control of all the steps of your workflow</strong>: from spreadsheet modeling and auditing, data gathering, forecasting and scenario planning, to the presentation of interactive dashboards, financial statements and reports.
		</div>
		
		
		<div style="text-align: center; margin-bottom: 7em; margin-top: 4em;">
			<img src="/img/why%20visyond%20infographic.png">
		</div>
		

		
		<div class="benefits">
			
			<div class="benefit__item">

				<img src="/img/analyst_and_consultant_3x.png" alt="" class="benefit__icon" style="max-height: 100px;margin-bottom: 30px;width: auto;">
				<h5 class="types__headline" style="text-align: center;margin-bottom: 30px;line-height: 1.5em;">
					Security and IP Protection
				</h5>
				<p class="benefit__text" style="opacity: 1; font-weight: 400;">
					Collaborators <span style="font-weight: 600;">view or edit only selected parts of projects</span> without being exposed to unnecessary details or sensitive information.
				</p>

			</div>
			
			<div class="benefit__item">

				<img src="/img/data_governance_3x.png" alt="" class="benefit__icon" style="max-height: 100px;margin-bottom: 30px;width: auto;">
				<h5 class="types__headline" style="text-align: center;margin-bottom: 30px;line-height: 1.5em;">
					Data Governance
				</h5>
				<p class="benefit__text" style="opacity: 1; font-weight: 400;">
					<span style="font-weight: 600;">Single source of truth</span> is established by tracking inputs, history of changes, scenarios, sensitivities, simulations, conversations, and supporting documentation in a single place that tells a story where <span style="font-weight: 600;">nobody can overwrite other’s work.</span>
				</p>

			</div>
			
			<div class="benefit__item">

				<img src="/img/audit-mode@2x.png" alt="" class="benefit__icon" style="max-height: 100px;margin-bottom: 30px;width: auto;">
				<h5 class="types__headline" style="text-align: center;margin-bottom: 30px;line-height: 1.5em;">
					Flexibility
				</h5>
				<p class="benefit__text" style="opacity: 1; font-weight: 400;">
					Analyses, presentations and calculators, dashboards, financial statements and KPI reports are dynamically driven by spreadsheets, <span style="font-weight: 600;">built and shared in minutes without experts or moving data across tools.</span>
				</p>

			</div>
			
			<div class="benefit__item">

				<img src="/img/charts@2x.png" alt="" class="benefit__icon" style="max-height: 100px;margin-bottom: 30px;width: auto;">
				<h5 class="types__headline" style="text-align: center;margin-bottom: 30px;line-height: 1.5em;">
					Error Reduction
				</h5>
				<p class="benefit__text" style="opacity: 1; font-weight: 400;">
					<span style="font-weight: 600;">Risk of errors is reduced</span> with automated ‘What-If’ analysis and Financial Statements.
				</p>

			</div>
			
		</div>
	</div>
	
</section>	

<!-- END: ENTER V -->


<!-- section capabilities -->
<section class="section primary center-align" style="background: #f1f4fc;">
  <div class="container">

    <ul class="ht-capabilities__modules">
      {{ range $el := .Params.CapabilitiesList }}
      <li class="ht-capabilities__block">
        <img src="{{ .image }}" alt="save time" class="ht-capabilities__img">

        <div class="ht-capabilities__descr">
          {{ .text | markdownify }}
        </div>
      </li>
      {{ end }}
    </ul>
  </div>
</section>
<!-- /section capabilities -->

<!-- SO WHY V -->
<section class="homeBenefits">
	<div class="container">
		<h2 class="enterV__headline">So Why Visyond?</h2>
		<div class="header-section--divider"></div>
		<div class="types">
			<div class="types__item">
                <img src="/img/selective-sharing@2x.png" alt="" class="types__icon" style="max-height: 100px;margin-bottom: 30px;width: auto;">
                <h5 class="types__headline" style="text-align: center;margin-bottom: 30px;line-height: 1.5em;">
                        Secure and Granular Sharing of a Single Source of Truth
                </h5>
				<div class="card__markdown" style="width: 95%;">
					<ul>
						<li>Secure data by sharing only specific worksheets, dashboards and reports each collaborator needs to interact with</li>
						<li>Track all changes, comments, supporting documents and information in one place</li>
						<li>Increase transparency, improve governance, accountability, and knowledge management</li>
					</ul>
				</div>
			</div>
                    
			<div class="types__item">
				<img src="/img/scenarios@2x.png" alt="" class="types__icon" style="max-height: 100px;margin-bottom: 30px;width: auto;">
				<h5 class="types__headline" style="text-align: center;margin-bottom: 30px;line-height: 1.5em;">
					Collaborative Automated Real-time 'What-if' Analysis
				</h5>
				<div class="card__markdown" style="width: 95%;">
					<ul>
						<li>Automate analytical tasks and stress-testing, and do in minutes what takes you days now</li>
						<li>Empower collaborators to contribute analyses in one document, not their version</li>
						<li>Create data visualization in the same place where you carry out calculations</li>
						<li>Create spreadsheet-driven presentations, calculators, financial statements and KPI reports</li>
					</ul>
				</div>
			</div>
                    
			<div class="types__item">
				<img src="/img/decision_makers_3x.png" alt="" class="types__icon" style="max-height: 100px;margin-bottom: 30px;width: auto;">
				<h5 class="types__headline" style="text-align: center;margin-bottom: 30px;line-height: 1.5em;">
					Minimal Learning Curve and Compatibility with Excel
				</h5>
				<div class="card__markdown" style="width: 95%;">
					<ul>
						<li>Keep your work habits & leverage Excel skills in a familiar environment</li>
						<li>Understand model structure, detect errors and anomalies</li>
						<li>Automate and standardize your business-case workflows</li>
						<li>Custom workflows, integrations and on-premise installation are available</li>
					</ul>
				</div>
            </div>        
        </div>      
    </div>   
</section>	
<!--END SO WHY V -->


<div class="homehex ht">
	<section class="getHexStarted">
			<div class="container">
				<h2 class="getHexStarted__title">Flexible. Familiar. Scalable.</h2>
				<a href="/request" class="button button-contrast">Request Demo</a>
			</div>
	</section>
</div>

<section class="homeBenefits">
      <div class="container">
          <h2 class="enterV__headline">Visyond is for...</h2>
		  <div class="header-section--divider"></div>
          <ul class="visFor__row">
              <li class="visFor__column">
                  <h4 class="visFor__column--title">FUNCTION</h4>
                  <ul class="visFor__list">
                      
                      <li class="visFor__list-item">
                          <img src="/img/home/visForColumn1/function2.png" alt="Analysts and Modelers">
                          <div>Analysts and Modelers</div>
                      </li>
                      
                      <li class="visFor__list-item">
                          <img src="/img/home/visForColumn1/function1.png" alt="CxOs &amp; Decision Makers">
                          <div>CxOs &amp; Decision Makers</div>
                      </li>
                      
                      <li class="visFor__list-item">
                          <img src="/img/home/visForColumn1/function3.png" alt="Sales &amp; Communication">
                          <div>Sales &amp; Communication</div>
                      </li>
                      
                      <li class="visFor__list-item">
                          <img src="/img/home/visForColumn1/function4.png" alt="Consultants">
                          <div>Consultants</div>
                      </li>
                      
                      <li class="visFor__list-item">
                          <img src="" alt="">
                          <div></div>
                      </li>
                      
                  </ul>
              </li>
              <li class="visFor__column">
                  <h4 class="visFor__column--title">USE CASE</h4>
                  <ul class="visFor__list">
                      
                      <li class="visFor__list-item">
                          <img src="/img/home/visForColumn2/case1.png" alt="Risk Management">
                          <div>Risk Management</div>
                      </li>
                      
                      <li class="visFor__list-item">
                          <img src="/img/home/visForColumn2/case2.png" alt="Planning &amp; Modelling">
                          <div>Planning &amp; Modelling</div>
                      </li>
                      
                      <li class="visFor__list-item">
                          <img src="/img/home/visForColumn2/case3.png" alt="Budgeting &amp; Forecasting">
                          <div>Budgeting &amp; Forecasting</div>
                      </li>
                      
                      <li class="visFor__list-item">
                          <img src="/img/home/visForColumn2/case4.png" alt="Financial Reporting">
                          <div>Financial Reporting</div>
                      </li>
                      
                      <li class="visFor__list-item">
                          <img src="/img/home/visForColumn2/case5.png" alt="Investment Analysis">
                          <div>Investment Analysis</div>
                      </li>
                      
                      <li class="visFor__list-item">
                          <img src="/img/home/visForColumn2/case6.png" alt="Scenario Analysis">
                          <div>Scenario Analysis</div>
                      </li>
                      
                  </ul>
              </li>
              <li class="visFor__column">
                  <h4 class="visFor__column--title">INDUSTRY</h4>
                  <ul class="visFor__list">
                      
                      <li class="visFor__list-item">
                          <img src="/img/home/visForColumn3/industry1.png" alt="Banking">
                          <div>Banking</div>
                      </li>
                      
                      <li class="visFor__list-item">
                          <img src="/img/home/visForColumn3/industry5.png" alt="Management Consulting">
                          <div>Management Consulting</div>
                      </li>
                      
                      <li class="visFor__list-item">
                          <img src="/img/home/visForColumn3/industry2.png" alt="Financial Services">
                          <div>Financial Services</div>
                      </li>
                      
                      <li class="visFor__list-item">
                          <img src="/img/home/visForColumn3/industry6.png" alt="Telecommunication">
                          <div>Telecommunication</div>
                      </li>
                      
                      <li class="visFor__list-item">
                          <img src="/img/home/visForColumn3/industry3.png" alt="Real Estate">
                          <div>Real Estate</div>
                      </li>
                      
                      <li class="visFor__list-item">
                          <img src="/img/home/visForColumn3/industry4.png" alt="Insurance">
                          <div>Insurance</div>
                      </li>
                      
                  </ul>
              </li>
          </ul>
      </div>
  </section>


<section class="homeBenefits" >
    <div class="container">
        <h2 class="enterV__headline">Benefits</h2>
	<div class="header-section--divider"></div>    
        <div class="homeBenefits__cards">
            {{ range .Params.cards}}
            <a
                    {{ with .link }}
                    href="{{.}}"
                    {{ end }}
                    class="homeBenefits__card">
                <div class="homeBenefits__card-image-wrap">
                    <img src="{{.icon}}" alt="icon" class="homeBenefits__card-image">
                </div>
                <h3 class="homeBenefits__card-title">
                    {{ .header | markdownify }}
                </h3>
                <p class="homeBenefits__card-text">
                    {{ .description | markdownify }}
                </p>
            </a>
            {{ end }}
        </div>
    </div>
</section>

<!--
<section class="section primary center-align">
  <h2 class="header-section">{{ .Params.sectionTwoHeader | markdownify }}</h2>
  <div class="header-section--divider"></div>

  <div class="ftr-features__cards">
    {{ range .Params.cards}}
    <a
      {{ with .link }}
      href="{{.}}"
      {{ end }}
      class="ftr-features__card">
      <div class="ftr-features__card-image-wrap">
        <img src="{{.icon}}" alt="icon" class="ftr-features__card-image">
      </div>
      <h3 class="ftr-features__card-title">
        {{ .header | markdownify }}
      </h3>
      <p class="ftr-features__card-text">
        {{ .description | markdownify }}
      </p>
    </a>
    {{ end }}
  </div>
</section>
-->


<section class="homeBenefits">
<div class="container">
  <h2 class="enterV__headline">{{ .Params.sectionThreeHeader | markdownify }}</h2>
  <div class="header-section--divider"></div>

	<div class="home-info__block-descr" style="text-align: center; font-weight: 400; margin-top: 2em;">
	   See the Frequently Asked Questions to find out how Visyond is different from general-purpose spreadsheets,<br> analysis tools and BI / data visualization solutions.		
	</div>

	<div class="btn-wrap" style="margin-bottom: 2em;">
	   <a href="/faq" class="btn-primary">See FAQ</a>
	</div>		
	
  <div class="comparation-table">
    <table>
      <thead>
        <tr>
          <td>

          </td>

          <td>
            <img src="/img/visyond-white.svg" alt="Visyond Logo">
          </td>

          <td>
            SPREADSHEETS + ADDONS
          </td>

          <td>
            COLLABORATIVE SPREADSHEETS
          </td>

          <td>
            FILE SHARING
            TOOLS
          </td>

          <td>
            DATA
            VISUALIZATION
          </td>

          <td>
            FINANCIAL
            APPS
          </td>
          
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>
            Spreadsheet, debug and audit
          </td>
          <td>
            <i class="icon compare plus"></i>
          </td>

          <td>
            <i class="icon compare plus"></i>
            <i class="icon compare divider"></i>
            <i class="icon compare minus"></i>
          </td>

          <td>
            <i class="icon compare minus"></i>
          </td>

          <td>
            <i class="icon compare minus"></i>
          </td>

          <td>
            <i class="icon compare minus"></i>
          </td>

          <td>
            <i class="icon compare minus"></i>
          </td>
          
        </tr>

        <tr>
          <td>
            Selective sharing and workflows on a single source of truth
          </td>
          <td>
            <i class="icon compare plus"></i>
          </td>

          <td>
            <i class="icon compare minus"></i>
          </td>

          <td>
            <i class="icon compare plus"></i>
            <i class="icon compare divider"></i>
            <i class="icon compare minus"></i>
          </td>

          <td>
            <i class="icon compare minus"></i>
          </td>

          <td>
            <i class="icon compare minus"></i>
          </td>

          <td>
            <i class="icon compare plus"></i>
            <i class="icon compare divider"></i>
            <i class="icon compare minus"></i>
          </td>
          
        </tr>

        
        <tr>
          <td>
            Collaborative what-if analysis in real time
          </td>
          <td>
            <i class="icon compare plus"></i>
          </td>

          <td>
            <i class="icon compare minus"></i>
          </td>

          <td>
            <i class="icon compare minus"></i>
          </td>

          <td>
            <i class="icon compare minus"></i>
          </td>

          <td>
            <i class="icon compare minus"></i>
          </td>

          <td>
            <i class="icon compare plus"></i>
            <i class="icon compare divider"></i>
            <i class="icon compare minus"></i>
          </td>
          
        </tr>

        <tr>
          <td>
            Spreadsheet driven interactive presentations and reports

          </td>
          <td>
            <i class="icon compare plus"></i>
          </td>

          <td>
            <i class="icon compare minus"></i>
          </td>

          <td>
            <i class="icon compare minus"></i>
          </td>

          <td>
            <i class="icon compare minus"></i>
          </td>

          <td>
            <i class="icon compare plus"></i>
            <i class="icon compare divider"></i>
            <i class="icon compare minus"></i>
          </td>

          <td>
            <i class="icon compare minus"></i>
          </td>

        </tr>

        <tr>
          <td>
            Cost / Value

          </td>
          <td>
            <span class="icon stacked">
              <span class="icon stacked">
                <i class="icon compare dollar"></i>
                <i class="icon compare dollar"></i>
              </span>
              
              <i class="icon compare divider"></i>

              <span class="icon stacked">
                <i class="icon compare plus"></i>
                <i class="icon compare plus"></i>
                <i class="icon compare plus"></i>
                <i class="icon compare plus"></i>
              </span>
            </span>
          </td>

          <td>
            <span class="icon stacked">
              <span class="icon stacked">
                <i class="icon compare dollar"></i>
              </span>
              
              <i class="icon compare divider"></i>

              <span class="icon stacked">
                <i class="icon compare plus"></i>
              </span>
            </span>
          </td>

          <td>
            <span class="icon stacked">
              <span class="icon stacked">
                <i class="icon compare dollar"></i>
                <i class="icon compare dollar"></i>
              </span>
              
              <i class="icon compare divider"></i>

              <span class="icon stacked">
                <i class="icon compare plus"></i>
              </span>
            </span>
          </td>

          <td>
            <span class="icon stacked">
              <span class="icon stacked">
                <i class="icon compare dollar"></i>
                <i class="icon compare dollar"></i>
              </span>
              
              <i class="icon compare divider"></i>

              <span class="icon stacked">
                <i class="icon compare plus"></i>
              </span>
            </span>
          </td>

          <td>
            <span class="icon stacked">
              <span class="icon stacked">
                <i class="icon compare dollar"></i>
                <i class="icon compare dollar"></i>
                <i class="icon compare dollar"></i>
              </span>
              
              <i class="icon compare divider"></i>

              <span class="icon stacked">
                <i class="icon compare plus"></i>
              </span>
            </span>
          </td>

          <td>
            <span class="icon stacked">
              <span class="icon stacked">
                <i class="icon compare dollar"></i>
                <i class="icon compare dollar"></i>
                <i class="icon compare dollar"></i>
                <i class="icon compare dollar"></i>
              </span>
              
              <i class="icon compare divider"></i>

              <span class="icon stacked">
                <i class="icon compare plus"></i>
                <i class="icon compare plus"></i>
              </span>
            </span>

          </td>
          
        </tr>
      </tbody>
    </table>
  </div>
	
</div>	
</section>


<div class="homehex ht">
	<!-- {{ partial "getStarted" . }} -->
</div>	

{{ partial "default/footer" . }}
