{{ partial "head" . }}

<section class="cover" style="background-image: url('/img/partners-hero.jpg');">
  <h1 class="cover-header">
    {{ .Params.coverHeader | markdownify }}
  </h1>

  <div class="cover-header--sub">
    <p>
      {{ .Params.coverDescription | markdownify }}
    </p>
  </div>
</section>

<section class="section primary center-align">
  <h2 class="header-section">{{ .Params.sectionOneHeader | markdownify }}</h2>
  
  <div class="header-section--divider"></div>

  <!--            textArea1   -->
  <section class="home-info__text-wrap"
           style="width: 80%; margin: 0 10% 0 10%;">
    <p></p>

    <div class="home-info__block-descr" style="text-align: center">
      {{ .Params.textArea1 | markdownify }}
    </div>
  </section>
  <!--            textArea1   -->

  <img src="{{ .Params.sectionOneImg }}">
</section>
  
<section class="section">
  <h2 class="header-section">{{ .Params.sectionOneHeaderTwo | markdownify }}</h2>
  <div class="header-section--divider"></div>

  <!--            textArea2   -->
  <section class="home-info__text-wrap"
           style="width: 80%; margin: 0 10% 0 10%;">
    <p></p>

    <div class="home-info__block-descr" style="text-align: center">
      {{ .Params.textArea2 | markdownify }}
    </div>
  </section>
  <!--            textArea2   -->
</section>

    <!-- section capabilities -->
  <section class="section primary center-align">
    <div class="container">

      <ul class="ht-capabilities__modules">
        {{ range $el := .Params.CapabilitiesList }}
        <li class="ht-capabilities__block">
          <img src="{{ .image }}" alt="save time" class="ht-capabilities__img">

          <div class="ht-capabilities__descr">
            {{ .text | markdownify }}
          </div>
        </li>
        {{ end }}
      </ul>
    </div>
  </section>
  <!-- /section capabilities -->

<section class="section primary center-align" style="background-color: #ffffff">
  <h2 class="header-section">{{ .Params.sectionOneHeaderThree | markdownify }}</h2>
  <div class="header-section--divider"></div>
  
  <img src="{{ .Params.sectionOneImgTwo }}">
  
  
    <!--            textArea3   -->
  <section class="home-info__text-wrap"
           style="width: 80%; margin: 0 10% 0 10%;">
    <p></p>

    <div class="home-info__block-descr" style="text-align: center">
      {{ .Params.textArea3 | markdownify }}
    </div>
  </section>
  <!--            textArea3   -->
  
</section>



<section class="section">
  <h2 class="header-section">{{ .Params.sectionTwoHeader | markdownify }}</h2>
  <div class="header-section--divider"></div>

  <div class="ftr-features__cards">
    {{ range .Params.cards}}
    <a
      {{ with .link }}
      href="{{.}}"
      {{ end }}
      class="ftr-features__card">
      <div class="ftr-features__card-image-wrap">
        <img src="{{.icon}}" alt="icon" class="ftr-features__card-image">
      </div>
      <h3 class="ftr-features__card-title">
        {{ .header | markdownify }}
      </h3>
      <p class="ftr-features__card-text">
        {{ .description | markdownify }}
      </p>
    </a>
    {{ end }}
  </div>
</section>

<section class="section">
  <h2 class="header-section">{{ .Params.sectionThreeHeader | markdownify }}</h2>
  <div class="header-section--divider"></div>

  <div class="comparation-table">
    <table>
      <thead>
        <tr>
          <td>

          </td>

          <td>
            <img src="/img/visyond-white.svg" alt="Visyond Logo">
          </td>

          <td>
            SPREADSHEETS + ADDONS
          </td>

          <td>
            COLLABORATIVE SPREADSHEETS
          </td>

          <td>
            FILE SHARING
            TOOLS
          </td>

          <td>
            DATA
            VISUALIZATION
          </td>

          <td>
            FINANCIAL
            APPS
          </td>
          
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>
            Spreadsheet, debug and audit
          </td>
          <td>
            <i class="icon compare plus"></i>
          </td>

          <td>
            <i class="icon compare plus"></i>
            <i class="icon compare divider"></i>
            <i class="icon compare minus"></i>
          </td>

          <td>
            <i class="icon compare minus"></i>
          </td>

          <td>
            <i class="icon compare minus"></i>
          </td>

          <td>
            <i class="icon compare minus"></i>
          </td>

          <td>
            <i class="icon compare minus"></i>
          </td>
          
        </tr>

        <tr>
          <td>
            Selective sharing and workflows on a single source of truth
          </td>
          <td>
            <i class="icon compare plus"></i>
          </td>

          <td>
            <i class="icon compare minus"></i>
          </td>

          <td>
            <i class="icon compare plus"></i>
            <i class="icon compare divider"></i>
            <i class="icon compare minus"></i>
          </td>

          <td>
            <i class="icon compare minus"></i>
          </td>

          <td>
            <i class="icon compare minus"></i>
          </td>

          <td>
            <i class="icon compare plus"></i>
            <i class="icon compare divider"></i>
            <i class="icon compare minus"></i>
          </td>
          
        </tr>

        
        <tr>
          <td>
            Collaborative what-if analysis in real time
          </td>
          <td>
            <i class="icon compare plus"></i>
          </td>

          <td>
            <i class="icon compare minus"></i>
          </td>

          <td>
            <i class="icon compare minus"></i>
          </td>

          <td>
            <i class="icon compare minus"></i>
          </td>

          <td>
            <i class="icon compare minus"></i>
          </td>

          <td>
            <i class="icon compare plus"></i>
            <i class="icon compare divider"></i>
            <i class="icon compare minus"></i>
          </td>
          
        </tr>

        <tr>
          <td>
            Spreadsheet driven interactive presentations and reports

          </td>
          <td>
            <i class="icon compare plus"></i>
          </td>

          <td>
            <i class="icon compare minus"></i>
          </td>

          <td>
            <i class="icon compare minus"></i>
          </td>

          <td>
            <i class="icon compare minus"></i>
          </td>

          <td>
            <i class="icon compare plus"></i>
            <i class="icon compare divider"></i>
            <i class="icon compare minus"></i>
          </td>

          <td>
            <i class="icon compare minus"></i>
          </td>

        </tr>

        <tr>
          <td>
            Cost / Value

          </td>
          <td>
            <span class="icon stacked">
              <span class="icon stacked">
                <i class="icon compare dollar"></i>
                <i class="icon compare dollar"></i>
              </span>
              
              <i class="icon compare divider"></i>

              <span class="icon stacked">
                <i class="icon compare plus"></i>
                <i class="icon compare plus"></i>
                <i class="icon compare plus"></i>
                <i class="icon compare plus"></i>
              </span>
            </span>
          </td>

          <td>
            <span class="icon stacked">
              <span class="icon stacked">
                <i class="icon compare dollar"></i>
              </span>
              
              <i class="icon compare divider"></i>

              <span class="icon stacked">
                <i class="icon compare plus"></i>
              </span>
            </span>
          </td>

          <td>
            <span class="icon stacked">
              <span class="icon stacked">
                <i class="icon compare dollar"></i>
                <i class="icon compare dollar"></i>
              </span>
              
              <i class="icon compare divider"></i>

              <span class="icon stacked">
                <i class="icon compare plus"></i>
              </span>
            </span>
          </td>

          <td>
            <span class="icon stacked">
              <span class="icon stacked">
                <i class="icon compare dollar"></i>
                <i class="icon compare dollar"></i>
              </span>
              
              <i class="icon compare divider"></i>

              <span class="icon stacked">
                <i class="icon compare plus"></i>
              </span>
            </span>
          </td>

          <td>
            <span class="icon stacked">
              <span class="icon stacked">
                <i class="icon compare dollar"></i>
                <i class="icon compare dollar"></i>
                <i class="icon compare dollar"></i>
              </span>
              
              <i class="icon compare divider"></i>

              <span class="icon stacked">
                <i class="icon compare plus"></i>
              </span>
            </span>
          </td>

          <td>
            <span class="icon stacked">
              <span class="icon stacked">
                <i class="icon compare dollar"></i>
                <i class="icon compare dollar"></i>
                <i class="icon compare dollar"></i>
                <i class="icon compare dollar"></i>
              </span>
              
              <i class="icon compare divider"></i>

              <span class="icon stacked">
                <i class="icon compare plus"></i>
                <i class="icon compare plus"></i>
              </span>
            </span>

          </td>
          
        </tr>
      </tbody>
    </table>
  </div>
</section>

{{ partial "get-started" . }}

{{ partial "footer" . }}
