{{ partial "head" . }}
  <div class="cover" style="background-image: url(/img/vimages/casestudies.jpg);">
    <h1 class="cover-header">
      Case studies
    </h1>
  </div>
<div class="container">
  <ul class="casestudies__list">
    {{ range $el := .Params.Casestudies }}
    <li class="casestudies__item">
      <a href="{{ $el.url }}" class="casestudies__link">
        <div class="casestudies__top">
          <span class="casestudies__company-wrap">
            <img src="{{ $el.logo }}" alt="{{ $el.alt }}">
          </span>
          <div class="casestudies__company-person-wrap">
            <span class="casestudies__company-person-img">
              <img src="{{ $el.photo }}" alt="">
            </span>
            <div>
              <span class="casestudies__company-person-name">{{ $el.name }}</span>
              <span class="casestudies__company-person-company-name">
                {{ $el.company }}
              </span>
            </div>
          </div>
        </div>
        <div class="casestudies__bottom">
          <h3 class="casestudies__title">{{ $el.title }}</h3>
          <ul class="casestudies__tag-list">
            {{ range $tag := $el.tags }}
            <li class="casestudies__tag-item">{{ .tagTitle }}</li>
            {{ end }}
          </ul>
        </div>
      </a>
    </li>
    {{ end }}
  </ul>

</div>
{{ partial "hexFooter" . }}
