{{ partial "head" . }} 
<div class="case-study-title-wrap">
    <style>
        .case-study-title-wrap {
            background: url({{ .Params.Image }}) center center no-repeat;
            background-size: cover;
        }
    </style>
    <div class="container container--case-study-title-wrap">
        <h1 class="case-study__title">
            {{ .Title }}
        </h1>
        <ul class="case-study-params__list">
            {{ range $element := .Params.Tooltip }}
                <li class="case-study-params__item">{{ $element.title }}</li>
            {{ end }}
        </ul>
    </div>
</div>
<div class="container container--case-study case-study--maincontent">
    
    <!-- container case-study__left-column -->
    <div class="container--case-study__left-column">
        
        <figure class="case-study__person">
            <div class="case-study__person-img">
                <img src={{.Params.Client}} alt="client">
            </div>

            <figcaption class="cast-study__person-comment">
                    <p>{{.Params.Client_ask}}</p>
            </figcaption>
        </figure>
        {{ .Content }}
        
    </div> <!-- ./container case-study__left-column -->
    
    <!-- container case-study__right-column -->
    <div class="container--case-study__right-column">
        {{ range $itemAside := .Params.Aside }}
        <section class="case-study__widget">
            {{ $itemAside.content }}
        </section>
        {{ end }}

    </div> <!-- ./container case-study__right-column -->
</div>
<div class="case-study-sub-block">
    <h3 class="case-study-sub-block__section-title">Related Solutions</h3>
    <div class="container">
        <section class="case-study-sub-block__section">
            <h3 hidden></h3>
            <article class="case-study-sub-block__article">
                {{.Params.First_solution.Content}}
            </article>
            <article class="case-study-sub-block__article">
                {{.Params.Second_solution}}
            </article>
            <article class="case-study-sub-block__article">
                {{.Params.Third_solution}}
            </article>

        </section>
    </div>  
</div>
{{ partial "footer" . }}