{{ partial "hexHomeHead" . }}

<div class="homehex ht">
	<!-- TOP SECTION -->
	<section class="home-hero" style="padding: 60px 0px 60px 0px;">
        <div class="container">
            
            <div class="whyV__half-width-wrap" style="width: 100%; text-align: center;">
                <h1 class="home-hero__title">{{ .Params.topTitle}}</h1>
            </div>
            
        </div>
    </section>
	<!-- END: TOP SECTION -->	
  
    
    <!--
    <section class="cover" style="background-image: url('/img/why-visyond-cover.png');">
        <h1 class="cover-header">
            Blog
        </h1>
    
        <div class="cover-header--sub">
            <p>
                {{ .Params.coverDescription | markdownify }}
            </p>
        </div>
    </section>
    -->

    {{ .Content}}
    <div class="grid_container grid_container2">
    {{ range .Pages.ByDate.Reverse }}
    <div class="section" style="padding: 0px; font-family: 'Open Sans', sans-serif">
        <div class="ui text container2">
            <div class="ui grid">
                <div class="ui row">
                    <div class="ui column">
                        <div class="ui segment" style="border: none; box-shadow: none;">
                            <a href="{{.URL}}" class="ui large header"
                               style="font-family: 'Open Sans', sans-serif">
                                {{ if .Params.image }}
                                    <img src="{{ .Params.image }}"
                                         alt="{{ .Title }}" style="width: 100%;"/>
                                {{ end }}
    
                                <div class="blog_list">
                                    <h2> {{.Title}} </h2>
                                </div>
    
                                <!--
                                <div class="sub header">by {{ .Params.author }}</div>
                                -->
    
                                <!--
                                <div class="sub header">
                                    <p>Read in {{ .ReadingTime }} minutes</p>
                                </div>
                                -->
    
                            </a>
    
    
                            <p class="blog_list">
                                {{ .Params.annotation }}
                            </p>
    
    
                            <a href="{{.URL}}" class="button button-primary">Read</a>
    
                        </div>
                </div>
                </div>
            </div>
            <p class="overlined2" >{{ .Date.Format "Jan 2, 2006" }}</p>
        </div>
    </div>
    {{ end }}
    </div>
    
</div>	      
    {{ partial "hexFooter" . }}