<!-- {{ partial "hexHeader" . }} -->

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5f4123391e7ade5df4430aed/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

<!-- Import Fomantic UI components -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.7.2/components/grid.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.7.2/components/container.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.7.2/components/segment.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.7.2/components/header.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.7.2/components/button.min.css" />

<section class="cover" style="background-image: url('/img/why-visyond-cover.png');">
    <h1 class="cover-header">
        Blog
        <!--
        {{ .Params.coverHeader | markdownify }}
        -->
    </h1>

    <div class="cover-header--sub">
        <p>
            {{ .Params.coverDescription | markdownify }}
        </p>
    </div>
</section>
{{ .Content}}
<div class="grid_container grid_container2">
{{ range .Pages.ByDate.Reverse }}
<div class="section" style="padding: 0px; font-family: 'Open Sans', sans-serif">
    <div class="ui text container2">
        <div class="ui grid">
            <div class="ui row">
                <div class="ui column">
                    <div class="ui segment" style="border: none; box-shadow: none;">
                        <a href="{{.URL}}" class="ui large header"
                           style="font-family: 'Open Sans', sans-serif">
                            {{ if .Params.image }}
                                <img src="{{ .Params.image }}"
                                     alt="{{ .Title }}" style="width: 100%;"/>
                            {{ end }}
                            
                            <div class="blog_list">
                                <h2> {{.Title}} </h2>
                            </div>
                            
                            <!--
                            <div class="sub header">by {{ .Params.author }}</div>
                            -->

                            <!--
                            <div class="sub header">
                                <p>Read in {{ .ReadingTime }} minutes</p>
                            </div>
                            -->
                            
                        </a>


                        <p class="blog_list">
                            {{ .Params.annotation }}
                        </p>
                        
                        
                        <a href="{{.URL}}" class="button button-primary">Read</a>

                    </div>
            </div>
            </div>
        </div>
        <p class="overlined2" >{{ .Date.Format "Jan 2, 2006" }}</p>
    </div>
</div>
{{ end }}
</div>
{{ partial "hexFooter" . }}
