{{ partial "head" . }}



<section class="cover" style="background-image: url('/img/why-visyond-cover.png');">
    <h1 class="cover-header">
        Blog
    </h1>

    <div class="cover-header--sub">
        <p>
            {{ .Params.coverDescription | markdownify }}
        </p>
    </div>
</section>



<section class="home-info__text-wrap">

	<div class="sub header" style="font-family: 'Open Sans', sans-serif; margin-top: 1em" align="center">
        <p>{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
        <p>Author: {{ .Params.author }} </p>
    </div>      

	<section class="home-info__block-descr" style="width: 70%;">
		<div>
			{{ .Content }}
		</div>
	
	</section>
	
<a href="/blog/" class="button button-primary">Back to Blog</a>
</section>

{{ partial "footer" . }}
