{{ partial "hexHomeHead" . }}



<!-- TOP SECTION -->
<section class="home-hero">
    <div class="container">
        <div class="home-hero__container" style="max-width: 900px; margin: 0 auto;">
            <h1 class="home-hero__title" style="text-align: center;">{{ .Title | markdownify }}</h1>

            <div class="home-hero__topSubtitle">
                {{ .Date.Format "Jan 2, 2006" }} by {{ .Params.author }}
            </div>

            <div class="whyV__half-width-wrap" style="width: 100%; text-align: center;">
                {{ if .Params.image }}
                    <img src="{{ .Params.image }}" alt="{{ .Title }}" style="width: 100%; border-radius: 10px;"/>
                {{ end }}
            </div>
        </div>
    </div>
</section>
<!-- END: TOP SECTION -->


<section class="enterV" style="padding: 0 0 80px 0;">
    <div class="container">
        <div class="simplepage-content">
            {{ .Content }}
        </div>
    </div>
</section>





{{ partial "hexFooter" . }}




<!-- 
<div class="container">
    
    <div class="blog_entry">
        <h1>{{ .Title | markdownify }}</h1>
    </div>

    <div class="blog_entry_author">
        {{ .Date.Format "Jan 2, 2006" }} by {{ .Params.author }}
    </div>


    <div class="blog_entry">
        {{ if .Params.image }}
            <img src="{{ .Params.image }}" alt="{{ .Title }}" style="width: 100%;"/>
        {{ end }}
    </div>

    <div class="blog_entry">
        {{ .Content }}
    </div>
-->


    <!-- @@@
    <div class="sub header" style="font-family: 'Open Sans', sans-serif; margin-top: 1em" align="center">
        <p> {{ .Date.Format "Jan 2, 2006" }} by {{ .Params.author }} </p>
    </div> 
    @@@-->




    <!--@@@
    <div class="section" align="center">
        <a href="/blog/" class="button button-primary">Back to Blog</a>
    </div>
    @@@-->

<!-- 
</div>
-->
