{{ partial "head" . }}

<!-- Import Fomantic UI components -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.7.2/components/grid.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.7.2/components/container.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.7.2/components/segment.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.7.2/components/header.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.7.2/components/button.min.css" />

<section class="cover" style="background-image: url('/img/why-visyond-cover.png');">
    <h1 class="cover-header">
        Blog
    </h1>

    <div class="cover-header--sub">
        <p>
            {{ .Params.coverDescription | markdownify }}
        </p>
    </div>
</section>


<div class="section">
    <div class="ui text container" style="max-width: 900px!important; font-family: 'Open Sans', sans-serif">
        <div class="ui grid">
            <div class="ui row">
                <div class="ui column" style="font-family: 'Open Sans', sans-serif">

                        <a href="{{.URL}}" class="ui large header"
                           style="font-weight: 700; font-family: 'Open Sans', sans-serif"
                        >
                            <div style="text-align: center;">
                                {{ if .Params.image }}
                                <img src="{{ .Params.image }}"
                                     alt="{{ .Title }}" style="width: 100%;"/>
                            </div>
                            
                            <div align="center">
                                <title>{{.Title}}</title>
                            </div>
                            <div class="sub header" style="font-family: 'Open Sans', sans-serif; margin-top: 1em" align="center">
                                <p>{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
                                <p>Author: {{ .Params.author }} </p>
                            </div>
                        </a>

                        <p class="home-info__block" style="font-family: 'Open Sans', sans-serif">
                            {{ .Content }}
                        </p>

                        <a href="/blog/" class="button button-primary">Back to Blog</a>

                </div>
            </div>
        </div>
    </div>
</div>

{{ partial "footer" . }}

