{{ partial "head" . }}

  <div class="home">

    <!-- top section -->
    <div class="cover nobg">
      <h2 class="cover-header">
        {{ .Params.TopTitle | markdownify}}
      </h2>

      <div class="cover-header--sub">
        {{ .Params.TopSubTitle | markdownify}}
      </div>

      <img src="{{ .Params.TopImage }}" alt="image" data-zoom-image="{{ .Params.TopImage }}">

      <div class="cover-buttons--wrap">
        <!-- <a href="{{ .Params.SignUpURL }}" class="home-link home-link--sign-up">
          free sign up
        </a> -->

        <a href="{{ .Params.RequestURL }}" class="home-link home-link--request">
          request a demo
        </a>

        {{ if .Params.WatchVideoURL }}
        <button class="home-link home-link--btn js-btn-video">
          <i class="material-icons">
            play_arrow
          </i>
          watch video
        </button>
        {{ end }}

      </div>

      <div class="home-top__popup js-popup">
        <div class="home-top__iframe-wrap">
          <button class="home-top__popup-close js-popup-close"></button>
          <p>{{ .Params.WatchVideoURL }}</p>

        </div>
      </div>
    </div>
    <!-- ./top section -->

    <!-- section capabilities -->
    <section class="home-capabilities">
      <!-- <h3 class="home-capabilities__title">
        With Visyond you can
      </h3> -->

      <ul class="home-capabilities__modules">
        {{ range $el := .Params.CapabilitiesList }}
        <li class="home-capabilities__block">
          <img src="{{ .image }}" alt="save time" class="home-capabilities__img">

          <div class="home-capabilities__descr">
            {{ .text | markdownify }}
          </div>
        </li>
        {{ end }}
      </ul>
    </section>
    <!-- ./section capabilities -->

    <!-- trusted section -->
    {{ partial "trustedslider" . }}
    <!-- ./trusted section -->

    <!-- section info -->
    <ul class="home-info js-image-block">

      <!-- info block -->
      {{ range $el := .Params.InfoBlockFirst }}

      <li class="home-info__block">
        <div class="info__img-wrap js-img-wrap">
          {{ if .files }}
          <div class="info__img-pointer">
            Click to see more
           <!-- <i class="material-icons">
              subdirectory_arrow_left
            </i></i> -->
          </div>
          <!-- <i class="material-icons">
            zoom_in
          </i> -->
          {{ end }}
          <img src="{{ .image }}" alt="{{ .altText }}" class="home-info__block-img" data-src="{{ range $file := .files }}{{ .file }}::{{ end }}" data-title="{{ range $file := .files }}{{ .title }}::{{ end }}" data-descr="{{ range $file := .files }}{{ .descr }}::{{ end }}" data-href="{{ range $file := .files }}{{ .link }}::{{ end }}" data-alt="{{ range $file := .files }}{{ .alt }}::{{ end }}">
        </div>

        <img src="/img/v_lines.png" alt="lines" class="home-info__block-lines">

        <section class="home-info__text-wrap">
          <h3 class="home-info__block-title">
            {{ .title }}
          </h3>

          <div class="home-info__block-descr">
            {{ .descr | markdownify }}
          </div>
          {{ if .link }}
          <a href="{{ .link }}" class="home-info__link">
            learn more
          </a>
          {{ end }}
        </section>
      </li>
      {{ end }}
      <!-- ./info block -->
    </ul>
    <!-- ./section info -->

    <!-- solutions section -->
      {{ partial "solutions-section" . }}
    <!-- //solutions section -->

    <!-- case studies section -->
    {{ partial "case-studies-section-new" . }}
    <!-- //case studies section -->

    <!-- section testimonials -->
    {{ partial "testimonials" . }}
    <!-- //section testimonials -->

        {{ if .Params.Featured }}
    <section class="home-featured" style="background-image: url({{ .Params.featuredBg }})">
        <div class="container">
            <h3 class="home-title home-title--home-featured">
              {{ .Params.featuredTitle }}
            </h3>

            <ul class="home-featured__list">
                {{ range $el := .Params.Featured }}
                <li class="home-featured__item">
                  <a href="{{ $el.link }}" target="_blank">
                    <img src="{{ $el.logo }}" alt="{{ $el.alt }}">
                  </a>
                </li>
                {{ end }}
            </ul>

            <ul class="home-featured__list-comment">
                {{ range $el := .Params.Featured }}
                <li class="home-featured__list-comment-item">
                    <p>
                       {{ $el.descr }}
                    </p>
                </li>
                {{ end }}
            </ul>
        </div>
    </section>
    {{ end }}
    
{{ partial "get-started" . }}
    
{{ partial "footer" . }}
