{{ partial "head" . }}

  <div class="home">

    <!-- top section -->
    <div class="home-top">
      <h2 class="home-top__title">
        {{ .Params.TopTitle | markdownify}}
      </h2>

      <div class="home-top__under-title">
        {{ .Params.TopSubTitle | markdownify}}
      </div>

      <div class="home-top__btns-wrap">
        <a href="{{ .Params.SignUpURL }}" class="home-link home-link--sign-up">
          free sign up
        </a>

        {{ if .Params.WatchVideoURL }}
        <button class="home-link home-link--btn js-btn-video">
          watch video
        </button>
        {{ end }}

        <a href="{{ .Params.RequestURL }}" class="home-link home-link--request">
          request a demo
        </a>
      </div>

      <img src="{{ .Params.TopImage }}" alt="image" class="home-top__img">

      <div class="home-top__popup js-popup">
        <div class="home-top__iframe-wrap">
          <button class="home-top__popup-close js-popup-close"></button>
          <p>{{ .Params.WatchVideoURL }}</p>

        </div>
      </div>
    </div>
    <!-- ./top section -->

    <!-- section capabilities -->
    <section class="home-capabilities">
      <!-- <h3 class="home-capabilities__title">
        With Visyond you can
      </h3> -->

      <ul class="home-capabilities__modules">
        {{ range $el := .Params.CapabilitiesList }}
        <li class="home-capabilities__block">
          <img src="{{ .image }}" alt="save time" class="home-capabilities__img">

          <div class="home-capabilities__descr">
            {{ .text | markdownify }}
          </div>
        </li>
        {{ end }}
      </ul>
    </section>
    <!-- ./section capabilities -->

    <!-- trusted section -->
    <section class="home-trusted">
      <h3 class="home-trusted__title">
        {{ .Params.TrustedTitle }}
      </h3>
      <div class="home-trusted__wrapper">
        <ul class="home-trusted__logos-wrap">
          {{ range $el := .Params.TrustedLogos }}
          <li class="home-trusted__logo-item">
            <img src="{{ .logo }}" alt="logo">
          </li>
          {{ end }}
        </ul>
      </div>

    </section>
    <!-- ./trusted section -->

    <!-- section info -->
    <ul class="home-info">

      <!-- info block -->
      {{ range $el := .Params.InfoBlockFirst }}

      <li class="home-info__block">
        <img src="{{ .image }}" alt="collaborate on spreadsheets" class="home-info__block-img">

        <img src="/img/home/v_lines.png" alt="lines" class="home-info__block-lines">

        <section class="home-info__text-wrap">
          <h3 class="home-info__block-title">
            {{ .title }}
          </h3>

          <div class="home-info__block-descr">
            {{ .descr | markdownify }}
          </div>
          {{ if .link }}
          <a href="{{ .link }}" class="home-link home-link--learn-more">
            learn more
          </a>
          {{ end }}
        </section>
      </li>
      {{ end }}
      <!-- ./info block -->
    </ul>
    <!-- ./section info -->

    <!-- section studies -->
    <section class="home-studies">
      <h3 class="home-studies__title">
        {{ .Params.StudiesTitle }}
      </h3>

      <ul class="home-studies__blocks">
        {{ range $el := .Params.StudiesBlock }}
        <!-- block -->
        <li class="home-studies__block">
          <div class="home-studies__img-wrap">
            <img src="{{ .image }}" alt="case" class="home-studies__img">
          </div>

          <section class="home-studies__text-wrap">
            <h3 class="home-studies__block-title">
              {{ .title }}
            </h3>

            <cite class="home-studies__block-descr">
              {{ .text }}
            </cite>

            <div class="home-studies__block-author">
              {{ .author }}
            </div>

            <a href="{{ .linkUrl }}" class="home-studies__block-link">
              {{ .linkText }}>>
            </a>
          </section>
        </li>
        <!-- ./block -->
        {{ end }}
      </ul>

    </section>
    <!-- ./section studies -->

    <!-- section provides -->
    <div class="home-provides">
      <section class="home-provides__wrap">
        <h3 class="home-provides__title">
          {{ .Params.ProvidesTitle }}
        </h3>

        <ul class="home-provides__list">
          {{ range $el := .Params.ProvidesList }}
          <li class="home-provides__item">
            {{ .text | markdownify }}
          </li>
          {{ end }}
        </ul>
      </section>
      <div class="home-provides__img-wrap">
        <img src="/img/home/v_notebook.png" alt="notebook" class="home-provides__img">
      </div>
    </div>
    <!-- ./section provides -->

    <section class="home-bottom" style="background-image: url({{ .Params.BgBottom }})">
      <h3 class="home-bottom__title">
        {{ .Params.TitleBottom }}
      </h3>

      <a href="https://visyond.com/request-a-demo" class="home-link home-link--request">
        request a demo
      </a>
    </section>

  </div>

{{ partial "footer" . }}
