{{ partial "head" . }}

<section class="homepage-cards">
    <h3 hidden></h3>

    <ul class="homepage-cards__list">
        {{ range $foo := .Params.cards }}
        <li class="homepage-cards__item">
            {{ partial "homepage-card" (dict "cardBackground" .cardBackground "cardLink" .cardLink "cardIcon" .cardIcon "cardTitle" .cardTitle "cardDescr" .cardDescr ) }}
        </li>
        {{end}}
    </ul>
</section>

<section class="trusted">
    <h3 class="trusted__title homepage-title">Trusted by</h3>

    <ul class="trusted__list">
        {{ range $icon := .Params.client }}
        <li class="trusted__item"><img src={{ .clientIcon }} alt="" class="trusted__img"></li>
        {{end}}
    </ul>
</section>

<section class="customers">
    <h3 class="customers__title homepage-title">What the customers say</h3>

    <ul class="customers__list">
        {{ range $item := .Params.slider  }}
        <li class="customers__item">
            <figure class="customers__img-container">
                <span class="customers__img-wrap">
                    <img src={{ .sliderphoto }} alt="">
                </span>

                <figcaption class="customers__img-descr-wrap">
                    <p class="customers__img-descr">{{ .sliderDescr }}</p>

                    <span class="customers__img-author">{{ .slidercompany }}</span>
                    <img src={{ .sliderlogo }} alt="" class="customers__img-company">
                </figcaption>
            </figure>
        </li>
        {{ end }}
    </ul>
</section>

{{ partial "footer" . }}
