{{ partial "head" . }}

<div class="hometest ht">

  <!-- top section -->
  <div class="cover cover--compact video-wrapper"
       style="background-image: url(' {{ .Params.bgImage }}');">
    <!-- <video src="/img/preview.mp4" class="cover-video js-background-video" autoplay muted loop> -->
    <!-- <video src="/img/Visyond Homepage background video loop zoom.webm" class="cover-video js-background-video" autoplay muted loop>  -->
    <div class = 'video-wrapper' style="widows: 100%; height: 100%">
      <video src="/img/VisyondBackLoopV1.mp4"
             class="video-wrapper js-background-video" autoplay muted loop>
        <!-- <source src="/img/preview.mp4" type="video/mp4">   -->
      </video>
    </div>
    <div class="cover-video--content">
      <h1 class="cover-header">
        {{ .Params.TopTitle | markdownify}}
      </h1>

      <div class="cover-header--sub">
        {{ .Params.TopSubTitle | markdownify}}
      </div>

      <div class="cover-buttons--wrap">


        {{ if .Params.WatchVideoURL }}
        <a href="#" class="button button-icon button-basic--active js-btn-video3">
          <i class="material-icons">
            play_arrow
          </i>
          watch video
        </a>
        {{ end }}

        {{ if .Params.WatchVideoURL2 }}
        <a href="#" class="button button-icon button-basic--active js-btn-video2">
          <i class="material-icons">
            play_arrow
          </i>
          see demo
        </a>
        {{ end }}

        <!--
                    <a href="{{ .Params.RequestURL }}" class="button button-basic">
                      request a demo
                    </a>
            -->
        <!--
        {{ if .Params.WatchVideoURL2 }}
        <a href="#" class="button button-icon button-basic--active js-btn-video">
          <i class="material-icons">
            play_arrow
          </i>
          Watch Demo
        </a>
        {{ end }}
         -->
      </div>

    </div>

    <div class="ht-top__popup js-popup3">
      <div class="ht-top__iframe-wrap">
        <button class="ht-top__popup-close js-popup-close3"></button>
        <p>{{ .Params.WatchVideoURL }}</p>
      </div>
    </div>

    <div class="ht-top__popup js-popup2">
      <div class="ht-top__iframe-wrap">
        <button class="ht-top__popup-close js-popup-close2"></button>
        <p>{{ .Params.WatchVideoURL2 }}</p>
      </div>
    </div>


    <!-- <div class="home_video_icons" >
          <span><div><img src="img/home_video_icon_budgeting.png"></div><div>Cashflow forecasting</div></span>
          <span><div><img src="img/home_video_icon_business.png"></div><div>Scenario analysis</div></span>
          <span><div><img src="img/home_video_icon_cashflow.png"></div><div>Budgeting</div></span>
          <span><div><img src="img/home_video_icon_dcf.png"></div><div>Buisness planning</div></span>
          <span><div><img src="img/home_video_icon_investment.png"></div><div>Investment analysis</div></span>
          <span><div><img src="img/home_video_icon_scenario.png"></div><div>DCF modeling</div></span>
        </div>
        -->

    <div class="home_video_icons">
      {{ range $el := .Params.videoIcons }}
      <a href="{{ .url }}">
        <span><div><img src="{{ .image }}"></div><div>{{ .text | markdownify }}</div></span>
      </a>
      {{ end }}
    </div>

  </div>
  <!-- ./top section -->

  <!-- trusted section -->
  {{ partial "trustedslider" . }}
  <!-- ./trusted section -->

  <!-- section capabilities  -->
  <section class="section" style="background: #eef6ff;">
    <h2 class="section-header">Visyond Is For</h2>
    <div class="header-section--divider"></div>

    <div class="container">

      <ul class="ht-capabilities__modules">
        {{ range $el := .Params.CapabilitiesList }}
        <li class="ht-capabilities__block">
          <img src="{{ .image }}" alt="save time" class="ht-capabilities__img">

          <div class="ht-capabilities__descr">
            {{ .text | markdownify }}
          </div>
        </li>
        {{ end }}
      </ul>
    </div>
  </section>
  <!-- ./section capabilities -->

  <!-- Why V section -->
  <section class="section primary center-align" style="background: #fff;">

    <h2 class="section-header">{{ .Params.WhyVisyondHeader }}</h2>
    <div class="header-section--divider"></div>

    <section class="home-info__text-wrap"
             style="width: 80%; margin: 0 10% 0 10%; text-align: center;">
      <div class="home-info__block-descr" style="text-align: center;">
        {{ .Params.WhyVisyondText | markdownify }}
      </div>
    </section>

    <div>
      <img src="{{ .Params.WhyVisyondImage }}">
    </div>

    <div style="margin-top: 4em;">
      <a href="/why-visyond" class="button button-primary">Learn more</a>
    </div>
  </section>
  <!-- Why V section -->

  <!-- section info -->
  <section class="section" style="background: #eef6ff;">

    <h2 class="section-header">{{ .Params.FeaturesHeader }}</h2>
    <div class="header-section--divider"></div>

    <ul class="home-info js-image-block">

      <!-- list of info blocks with blue button -->
      {{ partial "info-block-list" . }}
      <!-- // list of info blocks with blue button -->

    </ul>
  </section>
  <!-- //section info -->

  <!-- Benefits -->
  <section class="section" >
    <h2 class="section-header">{{ .Params.BenefitsHeader }}</h2>
    <div class="header-section--divider"></div>

    <div class="ftr-features__cards">
      {{ range .Params.cards}}
      <a
              {{ with .link }}
              href="{{.}}"
              {{ end }}
              class="ftr-features__card">
        <div class="ftr-features__card-image-wrap">
          <img src="{{.icon}}" alt="icon" class="ftr-features__card-image">
        </div>
        <h3 class="ftr-features__card-title">
          {{ .header | markdownify }}
        </h3>
        <p class="ftr-features__card-text">
          {{ .description | markdownify }}
        </p>
      </a>
      {{ end }}
    </div>
  </section>
  <!-- Benefits -->

  <!-- case studies section -->
  {{ partial "case-studies-section-new" . }}
  <!-- //case studies section -->

  {{ partial "featured" . }}

  <!-- {{ partial "get-started" . }} -->

</div>

{{ partial "footer" . }}
