{{ partial "head" . }}

{{ partial "cover" . }}

<!-- second section -->
<div class="fp2nd">
{{ range $el := .Params.section }}
<section class="fp2nd__section">
	<h2 class="fp2nd__title">
		{{ .title }}
	</h2>
	<div class="fp2nd__cards">
	{{ range $cards := .cards }}
		<a href="{{ .link }}" class="fp2nd__card">
			<div class="fp2nd__card-image-wrap">
				<img src="{{ .icon }}" alt="icon" class="fp2nd__card-image">
			</div>
			
			<h3 class="fp2nd__card-title">
				{{ .title }}
			</h3>

			<p class="fp2nd__card-text">
				{{ .text }}
			</p>
		</a>
	{{ end }}
	</div>
</section>
{{ end }}
</div>
<!-- //second section -->

{{ partial "get-started" . }}

{{ partial "footer" . }}
