<!-- TOP SECTION -->
<section class="home-hero">
    <div class="container">
        <div class="home-hero__container">
            <h1 class="home-hero__title" style="text-align: center;">{{ .Params.topTitle | markdownify  }}</h1>
            <div class="home-hero__full-width-wrap">  

                {{ if .Params.topSubTitle }}                
                    <div class="home-hero__topSubtitle" style="text-align: center;">{{ .Params.topSubTitle | markdownify }}</div>
                {{ end }}

                {{ if .Params.topButtonText }}
                    <div class="home-hero__buttons-section">
                        <a href="{{ .Params.topButtonLink }}" class="button button-primary">{{ .Params.topButtonText }}</a>
                    </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
<!-- END: TOP SECTION -->	