<!--
TODO:
- no divider for last element
- screens instead of icons (e.g. homepage animations)
- request CTA when video overlay is active?
- why visyond list formatting/markdown
- Top title and Demo Titles are looking the same
- //From hubspot form - make company field non mandatory
- see if we can place sign up button somehwere
- change title/desc of 'Visyond platfrom from A to Z'
-->

{{ partial "hexHomeHead" . }}

<div class="homehex ht">
	<!-- TOP SECTION -->
	<div class="container">
		  <div class="home-hero__container">
			  <div class="home-hero__half-width-wrap" style="width: 100%;">  
				  <h1 class="home-hero__title" style="margin-top: 80px;text-align: center;">{{ .Params.coverHeader }}</h1>
				  <div class="home-hero__topSubtitle" style="text-align: center; color: rgba(0,0,0,.8);">{{ .Params.coverDescription }}</div>
			  </div>
		  </div>
	</div>
	<!-- END: TOP SECTION -->	
	
	
	<!-- DEMO SECTION -->
	<section class="enterV" style="background-color: #fff; padding-top: 0px;">
		<div class="container">
			<ul class="demoSections">
				<!-- LIST OF DEMO SECTIONS -->
				{{ range $el := .Params.demoSection }}
				<li class="demoSection__block">
					<h2 class="demoSection__block-title">{{ .demoSectionTitle }}</h2>
					<div class="header-section--divider"></div>
					<section class="demoSection__text-wrap">
						<div class="demoSection__block-descr">
							<ul>
							<!-- LIST OF DEMO SECTION BLOCKS -->
							{{ range $list := .demoSectionContent }}
								<div class="demoSection__body">

									<!-- <div class="homeHex-provides__img-wrap"> -->
									<div>

										<img src="{{ .demoSectionImage }}" alt="Demo Video Thumbnail" class="homeHex-provides__img">	


										<div class="button-wrap demoVideoButton">										
											{{ if .demoVideoLink }}
											<span class="button button-icon btn-video4" style="padding: 0; color: #fff; background-color: #4edac3;"
											{{ if or (eq .demoVideoLink "") (not (isset . "demoVideoLink")) }}
											style="display: none;"
											{{ end }}
											>												
												<span style="display: flex; align-items: center;padding: 1em 2em;padding-left: 4.5em;">
													<i class="material-icons">play_arrow</i>
													<span style="width: 3.5em;">{{ .demoVideoButtonText }}</span>
												</span>
	
												<div class="ht-top__popup js-popup">
													<div class="ht-top__iframe-wrap">
														<button class="ht-top__popup-close js-popup-close"></button>
														<p>{{ .demoVideoLink }}</p>
													</div>
												</div>
											</span>

											{{ end }}
										</div>	

									</div>	

									
									<!-- </div> -->

									<!--- <img src="{{ .demoSectionImage }}" alt="icon" style="height: 60px;"> --->
									
									<div class="demoSectionTitleDescContainer">
										<div class="demoSection--title">
											{{ .demoSectionSubTitle }}
										</div>
	
										<div class="demoText">
											{{ .demoDescription | markdownify }}
										</div>									
									</div>

									<!-- THIS WORKS
									<div class="button-wrap demoVideoButton">										
										{{ if .demoVideoLink }}
										<span class="button button-icon btn-video4" style="padding: 0; color: #fff; background-color: #4edac3;"
										{{ if or (eq .demoVideoLink "") (not (isset . "demoVideoLink")) }}
										style="display: none;"
										{{ end }}
										>												
											<span style="display: flex; align-items: center;padding: 1em 2em;padding-left: 4.5em;">
												<i class="material-icons">play_arrow</i>
												<span style="width: 3.5em;">{{ .demoVideoButtonText }}</span>
											</span>

											<div class="ht-top__popup js-popup">
												<div class="ht-top__iframe-wrap">
													<button class="ht-top__popup-close js-popup-close"></button>
													<p>{{ .demoVideoLink }}</p>
												</div>
											</div>
										</span>
										{{ end }}
									</div>
									-->

								</div>
							{{ end }}
							<!-- LIST OF DEMO SECTION BLOCKS -->
							</ul>
						</div>	
					</section>
				</li>
				{{ end }}
				<!-- END: LIST OF DEMO SECTIONS -->
			</ul>	
		</div>
	</section>



	<!-- REQUEST DEMO FORM -->
	<section class="whyV" style="background-color: #f1f4fc;">
		<div class="container">
			<div class="whyV__row">
				<h2 class="enterV__headline" id="request">Request Demo</h2>
				<div class="header-section--divider"></div>
				<!-- Hubspot Form - Request Short -->
				<div class="marketing-form-wrapper">
					<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
					<script>
					  hbspt.forms.create({
						portalId: "3409378",
						formId: "e572bc81-ab4b-47d2-90cb-ebac170803f2"
					});
					</script>
				</div>	
				<!-- END: Hubspot Form - Request Short -->
			</div>
		</div>  
	</section>
	<!-- END: REQUEST DEMO FORM -->


    <!-- WHY VISYOND -->
	<section class="whyV">
		<div class="container">
			 <h2 class="enterV__headline">{{ .Params.WhyVisyondHeader}}</h2>
			<div class="header-section--divider"></div>
			<div class="home-info__block-descr" style="text-align: center; font-weight: 400;">{{ .Params.WhyVisyondText | markdownify }}</div>
			<div class="btn-wrap" style="margin-bottom: 2em;">
				<a href="{{ .Params.WhyVisyondButtonLink}}" class="btn-primary" style="text-transform: none;">{{ .Params.WhyVisyondButtonText}}</a>
			</div>	
		</div>
	</section>
    <!--END: WHY VISYOND -->

</div>


{{ partial "hexFooter" . }}