{{ partial "hexHomeHead" . }}

<div class="homehex ht">
	<!-- TOP SECTION -->
	<div class="container">
		  <div class="home-hero__container">
			  <div class="home-hero__half-width-wrap" style="width: 100%;">  
				  <h1 class="home-hero__title" style="margin-top: 80px;text-align: center;">{{ .Params.coverHeader }}</h1>
			  </div>
		  </div>
	</div>
	<!-- END: TOP SECTION -->	
	
	
	<!-- DEMO SECTION -->
	<section class="enterV" style="background-color: #fff; padding-top: 0px;">
		<div class="container">
			<ul class="enterSections">
				<!-- LIST OF DEMO SECTIONS -->
				{{ range $el := .Params.demoSection }}
				<li class="enterSectionsA__block" style="text-align: left; margin-bottom: 1em;">
					<h2 class="enterSectionsA__block-title" style="font-size: 2em; font-weight: 900;">{{ .demoSectionTitle }}</h2>
					<section class="demoSection__text-wrap">
						<div class="enterSectionsA__block-descr">
							<ul style="padding-left: 0px;">
							<!-- LIST OF DEMO SECTION BLOCKS -->
							{{ range $list := .demoSectionContent }}
								<div class="enterSections__benefits" style="padding: 0 0 0;">
									<div class="enterSections__benefits--title" style="font-size: 1.2em; font-weight: 600; text-decoration: none; color: #808080;">
										{{ .demoSectionSubTitle }}
									</div>

									<ul style="padding-left: 0px;">
										<div style="width: 900px; padding-top: 25px; margin: 0 auto; max-width: 100%;"> <!--https://stackoverflow.com/questions/27126956/embed-an-responsive-youtube-iframe-to-center-of-an-page-->
											<iframe width="900" height="506" src="{{ .demoVideoLink }}?autoplay=0&rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="allowfullscreen"></iframe>
										</div>
	
										<div>
											{{ .demoDescription | markdownify }}
										</div>
										
										<div>
											<a href="#request" style="color: #fff" class="button button-primary">Request Live Demo</a> <!--fix button color-->
										</div>
										
									</ul>
									
									<!--
									<ul style="padding-left: 0px;">
										{{ range $list := .answersList }}
										<div class="enterSectionsA__block-descr enterSectionsA__block-subtitle" style="margin-bottom: 2em;">
											{{ .answer | markdownify }}
										</div>
										{{ end }}
									</ul>	
								</div>
								-->

							{{ end }}
							<!-- LIST OF DEMO SECTION BLOCKS -->
							</ul>
						</div>	
					</section>
				</li>
				{{ end }}
				<!-- END: LIST OF DEMO SECTIONS -->
</div>
	<!-- CHECK TO UPDATE FORM CHECK TO UPDATE FORM CHECK TO UPDATE FORM CHECK TO UPDATE FORM CHECK TO UPDATE FORM CHECK TO UPDATE FORM -->
	<!-- REQUEST DEMO FORM -->
	<section class="whyV">
		<div class="container">
			<div class="whyV__row">
				<h2 class="enterV__headline" id="request">Request Demo</h2>
				<div class="header-section--divider"></div>
				<!-- Hubspot Form - Request Short -->
				<div class="marketing-form-wrapper">
					<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
					<script>
					  hbspt.forms.create({
						portalId: "3409378",
						formId: "e572bc81-ab4b-47d2-90cb-ebac170803f2"
					});
					</script>
				</div>	
				<!-- END: Hubspot Form - Request Short -->
			</div>
		</div>  
	</section>
	<!-- END: REQUEST DEMO FORM -->

{{ partial "hexFooter" . }}