{{ partial "default/header" . }}

<div class="homehex ht">
	{{ partial "covers/cover-simple" . }}
	
	
	{{ partial "demo-videos" . }}


	<!-- REQUEST DEMO FORM -->
	<section id="request" class="whyV" style="background-color: #fafafa;">
		<div class="container">
			<div class="whyV__row">
				<!-- <h2 class="enterV__headline" id="request">Schedule an onboarding call</h2> -->

				<div class="pricingSectionTitleContainer">
					<h2 class="enterV__headline" style="margin-bottom: 0;">Schedule an onboarding call</h2>
				</div>				


				<div class="demo-section--divider"></div>
				{{ partial "utility/scripts-booking" . }}
			</div>
		</div>  
	</section>
	<!-- END: REQUEST DEMO FORM -->

    <!-- FAQ -->
	<section class="whyV">
		<div class="container">
			 <h2 class="enterV__headline">{{ .Params.FAQHeader }}</h2>
			<div class="demo-section--divider"></div>
			<div class="home-hero__topSubtitle" style="text-align: center; font-weight: 400;">{{ .Params.FAQText | markdownify }}</div>
			<div class="btn-wrap" style="margin-bottom: 2em;">
				<a target="_blank" href="{{ .Params.FAQButtonLink }}" class="button-primary button" style="text-transform: none;">{{ .Params.FAQButtonText }}</a>
			</div>	
		</div>
	</section>
    <!--END: FAQ -->



	{{ partial "getStarted" . }}

</div>


{{ partial "default/footer" . }}