	<!-- AS FEATURED IN  -->
{{ with .Site.GetPage "section" "as-featured-in" }}
<section class="hexFeatured">
  <div class="container">
    <h3 class="hexFeatured__header">{{ .Params.featuredTitle }}</h3>

    <div class="header-section--divider"></div>

    <ul class="hexFeatured__list">
        {{ range $el := .Params.Featured }}
          <li class="hexFeatured__item">
              <a {{ with $el.link }} href="{{ $el.link }}" {{ end }} target="_blank">
                  <img src="{{ $el.logo }}" alt="{{ $el.alt }}">
              </a>
          </li>
        {{ end }}
    </ul>
    
      <div class="podcastContainer">
        <div class="podcastImg_Wrap">
            <span class="podcastImg_helper"></span>
            <img src="/img/home/Financial Modeling Podcast Logo.jpg" height="100" class="podcastImg" alt="Matthew Bernath's Financial Modelling Podcast Logo"/>
        </div>
 
        <div class="podcastDivider"></div>
  
        <div class="podcastInfo_wrap">
          <div class="podcastName">
            Matthew Bernath's <a href="https://financialmodellingpodcast.com/listen/" class="podcastLink" target="_blank">Financial Modelling Podcast</a>
          </div>

          <div class="podcastEpisode">
            ‘Cloud-based financial modeling platforms’ (Ep. 44)
          </div>

          <div class="podcastLink_wrap">
            <a href="https://open.spotify.com/episode/0hxFaXvqzVLnlKIuVLDjiQ" class="podcastLink" target="_blank">Spotify</a>
            <span class="podcastLinkDivider">|</span>
            <a href="https://podcasts.apple.com/us/podcast/cloud-based-financial-modeling-platforms/id1429518813?i=1000466958383" class="podcastLink" target="_blank">iTunes</a>
            <span class="podcastLinkDivider">|</span>
            <a href="https://player.fm/series/the-financial-modelling-podcast/cloud-based-financial-modeling-platforms" class="podcastLink" target="_blank">PlayerFM</a>
          </div>
        </div>
      </div>  
          
  </div>
</section>
{{ end }}
	<!-- END: AS FEATURED IN  -->