{{ partial "default/header" . }}

<div class="homehex ht">
    <div class="about-page">
        <div class="case-study-title-wrap contacts-title-wrap">
            <style>
                .case-study-title-wrap {
                    background: url('/img/pricing-cover.jpg') center center no-repeat;
                    background-size: cover;
                }
            </style>
            <div class="container container--case-study-title-wrap">
                <h1 class="cover-header">
                    Improving Decision Making Based on Numbers
                </h1>
            </div>
        </div>

        <!-- try -->
        <section class="try">
            <div class="container">

                <h3 class="about-title">
                    Bringing You the Combined Power of Spreadsheets, BI and Presentations
                </h3>

                <p class="try__column-content">
                    Visyond brings you the combined power of spreadsheets, BI and presentations in a single platform that empowers a secure and partial sharing of your data & projects.  Internal and external stakeholders only see & interact with the data they need.
                    Visyond streamlines your spreadsheet workflows and efficiently connects decision makers, modelers, consultants, clients, internal and external stakeholders through a single secure environment that guarantees transparency and accountability. 
                    Different people like different things about Visyond. Some enjoy having full control over who can see what; whether a worksheet, a cell or even only the interactive slides that are driven by the spreadsheet.. Some find peace of mind knowing they don’t have to manually keep track of endless changes & versions or spend long hours hunting down errors. Others appreciate the simplicity and automation of workflows, as well as the ability to answer ‘what-if’ questions without constantly relying on experts.
                    What everyone likes is that Visyond helps them make better decisions, faster.
                </p>

                <div class="try__btn-wrap">
                    <a href="/accounts/signup/" class="purple-vbtn">try visyond</a>
                </div>

            </div>
        </section> <!-- ./try -->

        <!-- 
        <section class="try-after">
            <div class="container container--try-after">
                <section class="try-after__descr-wrap">
                    <h3 class="try-after__descr-title">How Visyond came to be</h3>
                    <p class="try-after__descr">
                        <span>Visyond has started out by trying to solve a problem we experienced ourselves for many years while working with spreadsheets. </span>
                        <span>Having felt frustrated so many times about the complexity and unnecessary hours spent doing routine tasks manually and chasing errors and yet seeing how technology was improving the landscape of our jobs in so many areas, we knew there had to be a better way to work on spreadsheets. </span>
                        <span>So we started off by building a handful of scripts and add-ons to automate our own routine workflows. However, we soon realized that other people we knew and worked with had the same problems and were also looking for ways to improve their spreadsheet sprawl.</span>
                        <span>This is when we decided that a hobby coding project could become something bigger. Interest and insights from other active spreadsheet users inspired us to embark on an endeavour to build a modern, intuitive and intelligent solution that would change how people work with spreadsheets. Being our own target audience, we really wanted to build a software that we would love to use ourselves and would be proud sharing with our colleagues and professionals alike.</span>
                    </p>
                </section>

                <ul class="try-after__list">
                    <li class="try-after__item">
                        <a href="/contacts" class="try-after__link">
                            <span class="try-after__link-icon">
                                <img src="/img/vimages/inquires.png" alt="">
                            </span>
                            <div class="try-after__link-descr-wrap">
                                <h3 class="try-after__link-title">Press inquiries</h3>
                                <span class="try-after__link-descr">
                                    Contact us for any press and media inquiries
                                </span>
                            </div>
                        </a>
                    </li>
                    <li class="try-after__item">
                        <a href="https://drive.google.com/open?id=1tZ23jJnApsomMRPGXj7w_i2nlroUBZXF" class="try-after__link">
                            <span class="try-after__link-icon">
                                <img src="/img/vimages/resources.png" alt="">
                            </span>
                            <div class="try-after__link-descr-wrap">
                                <h3 class="try-after__link-title">Brand resources</h3>
                                <span class="try-after__link-descr">
                                    Official Visyond logos and brand guidelines
                                </span>
                            </div>
                        </a>
                    </li>
                    <li class="try-after__item">
                        <a href="/contacts" class="try-after__link">
                            <span class="try-after__link-icon">
                                <img src="/img/vimages/contact.png" alt="">
                            </span>
                            <div class="try-after__link-descr-wrap">
                                <h3 class="try-after__link-title">Contact us</h3>
                                <span class="try-after__link-descr">
                                    Get in touch with sales enquiries or support question 
                                </span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    -->

        <!-- leader 
        <section class="leader">
            <div class="container">
                <h3 class="about-title about-title--leader">Our leadership team</h3>

                <ul class="leader__list">
                    <li class="leader__item">
                        <figure class="leader__img-container">
                            <span class="leader__img-wrap">
                                <img src="/img/vimages/gianluca.png" alt="Gianluca Bisceglie">
                            </span>
                            <figcaption class="leader__img-descr-wrap">
                                <span class="leader__img-name">
                                    Gianluca Bisceglie
                                </span>
                                <span class="leader__img-position">Founder &amp; CEO</span>
                            </figcaption>
                        </figure>
                        <p class="leader__descr">
                            <span>Gianluca is a technologist, strategist and private equity executive with broad international experience across both mature and emerging markets.</span>
                            <span>He began his career at Vodafone in engineering and technology strategy and, prior to founding Visyond, worked in senior roles in Private Equity in the Middle East and Russia.</span>
                            <span><a href="https://www.linkedin.com/in/gianlucabisceglie/" class="social__link" style="background: url(/img/linkdn.png) center center no-repeat; background-size:cover;"></a></span>
                        </p>
                    </li>
                    <li class="leader__item">
                        <figure class="leader__img-container">
                            <span class="leader__img-wrap">
                                <img src="/img/vimages/alexander.png" alt="Alexander Trousevich">
                            </span>
                            <figcaption class="leader__img-descr-wrap">
                                <span class="leader__img-name">
                                        Alexander Trousevich
                                </span>
                                <span class="leader__img-position">CTO</span>
                            </figcaption>
                        </figure>
                        <p class="leader__descr">
                            <span>Before Visyond, Alexander developed OLAP services and other SAAS and desktop applications for business automation and business intelligence systems. He began his career as system administrator and DevOps in NTC IRS.</span>
                            <span>Alexander holds a MSc in Physics from Moscow State University.</span>
                        </p>
                    </li>
                    <li class="leader__item">
                        <figure class="leader__img-container">
                            <span class="leader__img-wrap">
                                <img src="/img/vimages/besnik.png" alt="Besnik Vrellaku">
                            </span>
                            <figcaption class="leader__img-descr-wrap">
                                <span class="leader__img-name">
                                        Besnik Vrellaku
                                </span>
                                <span class="leader__img-position">CMO</span>
                            </figcaption>
                        </figure>
                        <p class="leader__descr">
                            <span>Prior to Visyond, Besnik led the digital strategy for a division of a FTSE 250 company, Oxford Instruments plc.</span>
                            <span>He previously was a growth driver at Webxpenses, a fast growing SaaS company.</span>
                            <span>Having been in startups for over 7 years and with a business & marketing background, Besnik has seen through large sales and marketing activities for exponential growth.</span>
                        </p>
                    </li>
                </ul>


            </div>
        </section>  ./leader -->
    </div>
</div>

{{ partial "default/footer" . }}
