{{ partial "hexHeader" . }}

<!-- first section -->
<section class="cover" style="background-image: url({{ .Params.BgImage }})">
    
    <h1 class="cover-header">
        {{ .Params.TopTitle }}
    </h1>

    <div class="cover-header--sub">
        {{ .Params.TopSubTitle }}
    </div>
</section>
<!-- //first section -->

<!-- section 9 3/4 -->
<section class="section half-gray" style="background: #f8f8f9;">
<div class="container">
	<h2 class="header-section">How Pricing Works?</h2>
	<div class="header-section--divider"></div> 

	<div class="home-info__block-descr" style="text-align: center; color: #383e4d; font-weight: 400;">
		<p><span style="font-weight: 600;">Visyond includes different modules</span> that you can subscribe to independently on top of the base app, which is free.</p>
		
		<p>You can evaluate all modules during a 14-day trial. <span style="font-weight: 600;">You will keep access to the base app, your projects and data after the trial.</span></p>
	</div>
	
	<!--
	<div class="btn-wrap" style="margin-top: 1em;">
		<a href="/request" class="btn-primary">Request demo</a>
	</div>
	-->
</div>
</section>
<!-- //section 9 3/4 -->

<!-- second section -->
<section class="section half-gray">

    <div class="container">
        {{ with .Params.pricingCards }}

        <h2 class="header-section">{{ .title | markdownify }}</h2>
        <div class="header-section--divider"></div> 

        <div class="card__list">
            {{ range .cards }}
            <div href="{{.url}}" class="card__list-item">

                <article class="card">
                    <div class="card__title-wrap">
                        <img src="{{ .img }}" style="max-height: 6em;">
                        <h3 class="card__title">{{ .title }}</h3>
                        {{ with .subTitleList }}
                        <div class="card__subtitle">
                            {{ . | markdownify }} 
                        </div>
                        {{ end }}
                    </div>

                    {{ with .markdown }}
                    <hr class="divider-thin">
                    <div class="card__markdown">
                        {{ . | markdownify }}
                    </div>
                    {{ end }}

                    {{ with .cta }}
                    <div class="btn-wrap">
                        <a  href="{{.url}}"
                            class="btn-primary fluid"
                            aria-label="button">
                            {{ .text }}
                        </a>
                    </div>
                    {{ end }}
                </article>

            </div>
            {{ end }}

        </div>
        {{ end }}
    </div>
</section>

<!-- Custom & Enterprise-->
<section class="section half-gray" style="background: #f8f8f9;">
<div class="container">
	<h2 class="header-section">Custom and Enterprise Plans</h2>
	<div class="header-section--divider"></div> 

	<div class="home-info__block-descr" style="text-align: center; color: #383e4d; font-weight: 400;">
		<p>Do you want to have Visyond <span style="font-weight: 600;">installed on-premise?</span></p>
		
		<p>Do you need <span style="font-weight: 600;">custom integrations, branding or personalized workflow?</span></p>
		
		<p>Do you require <span style="font-weight: 600;">premium support?</span></p>
		
		<p>Do you want to <span style="font-weight: 600;">buy multiple licenses</span> or use Visyond to <span style="font-weight: 600;">work with clients?</span></p>
		
		<p> Subscription is either monthly or annual per user - <span style="font-weight: 600;">the price varies depending on the number of users and the features they use.</span></p>
		
	</div>
	
	<div class="btn-wrap" style="margin-top: 1em;">
		<a href="/request" class="btn-primary">Contact Us</a>
	</div>
</div>
</section>
<!-- //Custom & Enterprise -->


{{ partial "hexSlider" . }}

{{ partial "why-visyond-cards" . }}

{{ partial "get-started" . }}

{{ partial "hexFooter" . }}
