{{ partial "head" . }}

<!-- first section -->
<section class="cover" style="background-image: url({{ .Params.BgImage }})">
    
    <h2 class="cover-header">
        {{ .Params.TopTitle }}
    </h2>

    <div class="cover-header--sub">
        {{ .Params.TopSubTitle }}
    </div>
</section>
<!-- //first section -->

<!-- second section -->
<section class="section half-gray">

    <div class="container">
        {{ with .Params.pricingCards }}

        <h2 class="header-section">{{ .title | markdownify }}</h2>
        <div class="header-section--divider"></div>

        <ul class="card__list target-blank">
            {{ range .cards }}
            <li class="card__list-item">
                <article class="card">
                    <div class="card__title-wrap">
                        <img src="{{ .img }}">
                        <h3 class="card__title">{{ .title }}</h3>
                        {{ with .subTitleList }}
                        <div class="card__subtitle">
                            {{ . | markdownify }} 
                        </div>
                        {{ end }}
                    </div>

                    {{ with .markdown }}
                    <hr class="divider-thin">
                    <div class="card__markdown">
                        {{ . | markdownify }}
                    </div>
                    {{ end }}

                    <div class="btn-wrap">
                        <a href="{{ .cta.url }}"
                           class="btn-primary fluid"
                           aria-label="button"
                        >
                            {{ .cta.text }}
                        </a>
                    </div>
                </article>
            </li>
            {{ end }}

        </ul>
        {{ end }}
    </div>
</section>

{{ partial "trustedslider-dark" . }}

{{ partial "why-visyond-cards" . }}

{{ partial "get-started" . }}

{{ partial "footer" . }}
