{{ partial "head" . }}

  <div class="hometest ht">

    <!-- top section -->
    <div class="ht-top">
      <h2 class="ht-top__title">
        {{ .Params.TopTitle | markdownify}}
      </h2>

      <div class="ht-top__under-title">
        {{ .Params.TopSubTitle | markdownify}}
      </div>

      <img src="{{ .Params.TopImage }}" alt="image" class="ht-top__img">

      <div class="ht-top__btns-wrap">
        <a href="{{ .Params.SignUpURL }}" class="ht-link ht-link--sign-up">
          free sign up
        </a>

        {{ if .Params.WatchVideoURL }}
        <button class="ht-link ht-link--btn js-btn-video">
          watch video
        </button>
        {{ end }}

        <a href="{{ .Params.RequestURL }}" class="ht-link ht-link--request">
          request a demo
        </a>
      </div>

      <div class="ht-top__popup js-popup">
        <div class="ht-top__iframe-wrap">
          <button class="ht-top__popup-close js-popup-close"></button>
          <p>{{ .Params.WatchVideoURL }}</p>

        </div>
      </div>
    </div>
    <!-- ./top section -->

    <!-- section capabilities -->
    <section class="ht-capabilities">
      <!-- <h3 class="ht-capabilities__title">
        With Visyond you can
      </h3> -->

      <ul class="ht-capabilities__modules">
        {{ range $el := .Params.CapabilitiesList }}
        <li class="ht-capabilities__block">
          <img src="{{ .image }}" alt="save time" class="ht-capabilities__img">

          <div class="ht-capabilities__descr">
            {{ .text | markdownify }}
          </div>
        </li>
        {{ end }}
      </ul>
    </section>
    <!-- ./section capabilities -->

    <!-- trusted section -->
    {{ partial "trustedslider" . }}
    <!-- ./trusted section -->

    <!-- section info -->
    <ul class="ht-info js-image-block">

      <!-- info block -->
      {{ range $el := .Params.InfoBlockFirst }}

      <li class="ht-info__block">
        <div class="info__img-wrap js-img-wrap">
          {{ if .files }}
          <div class="info__img-pointer">
            Click to see more
            <i class="material-icons">
              subdirectory_arrow_left
            </i>
          </div>
          <!-- <i class="material-icons">
            zoom_in
          </i> -->
          {{ end }}
          <img src="{{ .image }}" alt="collaborate on spreadsheets" class="ht-info__block-img" data-src="{{ range $file := .files }}{{ .file }}::{{ end }}" data-title="{{ range $file := .files }}{{ .title }}::{{ end }}" data-descr="{{ range $file := .files }}{{ .descr }}::{{ end }}"  data-href="{{ range $file := .files }}{{ .link }}::{{ end }}">
        </div>

        <img src="/img/v_lines.png" alt="lines" class="ht-info__block-lines">

        <section class="ht-info__text-wrap">
          <h3 class="ht-info__block-title">
            {{ .title }}
          </h3>

          <div class="ht-info__block-descr">
            {{ .descr | markdownify }}
          </div>
          {{ if .link }}
          <a href="{{ .link }}" class="ht-info__link">
            learn more
          </a>
          {{ end }}
        </section>
      </li>
      {{ end }}
      <!-- //info block -->
    </ul>
    <!-- //section info -->

    <!-- solutions section -->
      {{ partial "solutions-section" . }}
    <!-- //solutions section -->

    <!-- case studies section -->
    {{ partial "case-studies-section-new" . }}
    <!-- //case studies section -->

    <!-- section testimonials -->
    {{ partial "testimonials" . }}
    <!-- //section testimonials -->

    <!-- section provides -->
    <div class="ht-provides">
      <section class="ht-provides__wrap">
        <h3 class="ht-provides__title">
          {{ .Params.ProvidesTitle }}
        </h3>

        <ul class="ht-provides__list">
          {{ range $el := .Params.ProvidesList }}
          <li class="ht-provides__item">
            {{ .text | markdownify }}
          </li>
          {{ end }}
        </ul>
      </section>
      <div class="ht-provides__img-wrap">
        <img src="/img/v_notebook.png" alt="notebook" class="ht-provides__img">
      </div>
    </div>
    <!-- ./section provides -->

    <section class="ht-bottom" style="background-image: url({{ .Params.BgBottom }})">
      <h3 class="ht-bottom__title">
        {{ .Params.TitleBottom }}
      </h3>

      <a href="https://visyond.com/contacts" class="ht-link ht-link--request">
        request a demo
      </a>
    </section>

  </div>

{{ partial "footer" . }}
