{{ partial "hexHomeHead" . }}

  <div>

{{ partial "cover" . }}

    <!-- section info -->
    <section class="enterV" style="background-image: url('/img/home/blueRectangle.svg'), url('/img/home/grayRectangle.svg');">
        <div class="container">
            <h2 class="enterV__headline">{{ .Params.FeaturesHeader }}</h2>
            <ul class="enterSections js-image-block">
                <!-- list of info blocks with blue button -->
                {{ partial "hexBlockList" . }}
                <!-- // list of info blocks with blue button -->
            </ul>
        </div>
    </section>
    <!-- //section info -->

{{ partial "get-started" . }}
  
{{ partial "hexFooter" . }}
